<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <style type="text/css">
	body
	{
	  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	  background-color: #666;
	  color: Khaki;
	  text-align: center;
	}
	h1
	{
	  font-size: 2em;
	  font-weight: normal;
	}
	.align-center
	{
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	}
  </style>
</head>

<body class="panel">

  <% index = 0 %>
  <% avatars = Avatars.names.shuffle %>
  <% size = 50 %>

  <h1>sorry - we can't do that</h1>

  <table class="align-center">
	<% 8.times.each do %>
	<tr>
	  <% 8.times.each do %>
	     <td>
 		     <img alt="<%= avatars[index] %>"
            style="display:block"
			     height="<%= size %>"
			      width="<%= size %>"
 		          src="/images/avatars/bw/<%= avatars[index]%>.jpg" />
  		 </td>
       <% index += 1 %>
	  <% end %>
	</tr>
	<% end %>
  </table>

</body>
</html>
