
<div id="diff-checkbox-container">
  <div id="diff-checkbox-title">diff?</div>
  <input type="checkbox"
         class="regular-checkbox"
         id="diff-checkbox"
         checked=""/>
    <label for="diff-checkbox"></label>
</div>

