
<div id="review-page">
  <%= render(:partial => 'review') %>

  <%= render partial: 'shared/footer_long',
      locals: { help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-history-dialog.html" } %>
</div>
