<script type="text/javascript"><!--

$(function() {

  var age = <%= @kata.age %>;
  var seconds = age % 60;
  var minutes = Math.floor((age / 60) % 60);
  var hours   = Math.floor((age / (60*60)) % 24);
  var days    = Math.floor(age / (60*60*24));

  var zeroed = function(n) {
    return ('00' + n).slice(-2);
  };
  var sep = '&thinsp;:&thinsp;';

  if (days > 0) {
    $('#days-label').html("days" + sep);
    $('#days').text(zeroed(days));
  }
  if (days > 0 || hours > 0) {
    $('#hours-label').html("hours" + sep);
    $('#hours').text(zeroed(hours));
  }
  if (days > 0 || hours > 0 || minutes > 0) {
    $('#minutes-label').html("minutes" + sep);
    $('#minutes').text(zeroed(minutes));
  }
  if (days > 0 || hours > 0 || minutes > 0 || seconds > 0) {
    $('#seconds-label').html("seconds" + sep);
    $('#seconds').text(zeroed(seconds));
  }

});

//--></script>

<table id="age-container">
  <tr>
    <td id="days-label" class="align-right"></td>
    <td id="days" class="align-left"></td>
  </tr>
  <tr>
    <td id="hours-label" class="align-right"></td>
    <td id="hours" class="align-left"></td>
  </tr>
  <tr>
    <td id="minutes-label" class="align-right"></td>
    <td id="minutes" class="align-left"></td>
  </tr>
  <tr>
    <td id="seconds-label" class="align-right"></td>
    <td id="seconds" class="align-left"></td>
  </tr>
</table>
