<script type="text/javascript"><!--

$(function() {

  var age = <%= @kata.age %>; // in seconds

  var hoursPerDay = 24;
  var minutesPerHour = 60  
  var secondsPerMinute = 60;
  var secondsPerHour = secondsPerMinute * minutesPerHour;
  var secondsPerDay = secondsPerHour * hoursPerDay;

  var display = function(name,div,mod) {
    var n = function() {
      var value = Math.floor((age / div) % mod);
      return ('00' + value).slice(-2);
    };    
    $('#' + name + '-label').html(name + '&thinsp;:&thinsp;');
    $('#' + name).text(n());    
  };

  if (age > secondsPerDay) {
    display('days', secondsPerDay, 1e10);
  }
  if (age > secondsPerHour) {
    display('hours', secondsPerHour, hoursPerDay);
  }
  if (age > secondsPerMinute) {
    display('minutes', secondsPerMinute, minutesPerHour);
  }
  if (age > 0) {
    display('seconds', 1, secondsPerMinute);
  }

});

//--></script>

<table id="age-container">
  <tr>
    <td id="days-label" class="align-right"></td>
    <td id="days" class="align-left"></td>
  </tr>
  <tr>
    <td id="hours-label" class="align-right"></td>
    <td id="hours" class="align-left"></td>
  </tr>
  <tr>
    <td id="minutes-label" class="align-right"></td>
    <td id="minutes" class="align-left"></td>
  </tr>
  <tr>
    <td id="seconds-label" class="align-right"></td>
    <td id="seconds" class="align-left"></td>
  </tr>
</table>
