<script type="text/javascript"><!--

$(function() {

  var age = <%= @kata.age %>; // in seconds

  var sep = '&thinsp;:&thinsp;';

  var zeroed = function(n) {
    return ('00' + n).slice(-2);
  };
  
  var hoursPerDay = 24;
  var minutesPerHour = 60  
  var secondsPerMinute = 60;
  var secondsPerHour = secondsPerMinute * minutesPerHour;
  var secondsPerDay = secondsPerHour * hoursPerDay;

  if (age > secondsPerDay) {
    var days = Math.floor(age / secondsPerDay);
    $('#days-label').html("days" + sep);
    $('#days').text(zeroed(days));
  }
  if (age > secondsPerHour) {
    var hours = Math.floor((age / secondsPerHour) % hoursPerDay);
    $('#hours-label').html("hours" + sep);
    $('#hours').text(zeroed(hours));
  }
  if (age > secondsPerMinute) {
    var minutes = Math.floor((age / secondsPerMinute) % minutesPerHour);    
    $('#minutes-label').html("minutes" + sep);
    $('#minutes').text(zeroed(minutes));
  }
  if (age > 0) {
    var seconds = age % secondsPerMinute;    
    $('#seconds-label').html("seconds" + sep);
    $('#seconds').text(zeroed(seconds));
  }

});

//--></script>

<table id="age-container">
  <tr>
    <td id="days-label" class="align-right"></td>
    <td id="days" class="align-left"></td>
  </tr>
  <tr>
    <td id="hours-label" class="align-right"></td>
    <td id="hours" class="align-left"></td>
  </tr>
  <tr>
    <td id="minutes-label" class="align-right"></td>
    <td id="minutes" class="align-left"></td>
  </tr>
  <tr>
    <td id="seconds-label" class="align-right"></td>
    <td id="seconds" class="align-left"></td>
  </tr>
</table>
