
<script type="text/javascript"><!--

$(function() {

  var id = '<%= @kata.id %>';
  var minuteColumns = $('#minute-columns-checkbox');
  var autoRefresh   = $('#auto-refresh-checkbox');

  var isChecked = function(checkbox) {
    return checkbox.is(':checked');
  };

  var dashboardHeartbeat = function() {
    if (isChecked(autoRefresh)) {
      $.ajax({
        url: '/dashboard/heartbeat',
        data: {
          id: id,
          minute_columns: isChecked(minuteColumns),
          auto_refresh: isChecked(autoRefresh)
        },
        dataType: 'script'
      });
    }
  };

  var refreshDashboard = function() {
    var url = '/dashboard/show/' + id +
              '?' + 'minute_columns=' + isChecked(minuteColumns) +
              '&' + 'auto_refresh=' + isChecked(autoRefresh);
    window.location = url;
  };

  var milliSecond = 1;
  var seconds = 1000 * milliSecond;

  setInterval(dashboardHeartbeat, 10*seconds);

  minuteColumns
    .attr('checked', '<%= @minute_columns %>' === 'true')
    .click(function() { refreshDashboard(); });

  autoRefresh
    .attr('checked', '<%= @auto_refresh %>' === 'true')
    .click(function() { refreshDashboard(); });

});

//--></script>

<table id="controls-container">
  <tr>
    <td class="align-right">
      <div title="toggle the 10 second auto-refresh on/off">
        auto refresh&nbsp;
      </div>
    </td>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             id="auto-refresh-checkbox"/>
        <label for="auto-refresh-checkbox"></label>
    </td>
  </tr>
  <tr>
    <td class="align-right">
      <div title="toggle 1-minute columns on/off">
        minute cols&nbsp;
      </div>
    </td>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             id="minute-columns-checkbox"/>
        <label for="minute-columns-checkbox"></label>
    </td>
  </tr>
</table>
