
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#download').click(function() {
    cd.postTo('/dashboard/download', { id: "<%= @kata.id %>" });    
  });

});

//--></script>

<button type="button"
        class="tipped"
        id="download">
  <%= t("views.buttons.download") %> .zip
  <div class="tooltip">
     Download zip of<br>
     all animals code
  </div>
</button>
