
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#download').click(function() {
    cd.postTo('/dashboard/download', { id: "<%= @kata.id %>" });    
  });

});

//--></script>

<div class="button"
     title="Download zip of dojo"
     id="download">
  <%= t("views.buttons.download") %> .zip
</div>
