
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#download').click(function() {
    cd.postTo('/dashboard/download', {
              id: "<%= @kata.id %>"
            });    
  });

});

//--></script>

<div class="button"
     title="Download zip of dojo"
     id="download">
  download zip
</div>
