
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#download_button').click(function() {
    var id = "<%= @kata.id %>";
    window.location = '/downloader/download/' + id;
  });

});

//--></script>

<button type="button"
        title="download a zip of all animals git repos"
        id="download_button">
  <%= t("views.buttons.download") %>
</button>
