
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#download').click(function() {
    var id = "<%= @kata.id %>";
    window.location = '/dashboard/download/' + id;
  });

});

//--></script>

<button type="button"
        class="tipped"
        id="download">
  <%= t("views.buttons.download") %> .zip
  <div class="tooltip">
     Download a zip<br>
     of all animals<br>
     git repos
  </div>
</button>
