
<script type="text/javascript"><!--

$(function() {

  $('#download-button').click(function() {
    var url = '/downloader/download/' + "<%=@kata.id%>";
    window.location = url;
  });

});

//--></script>

<div id="download-button-container">
  <button type="button"
          title="download as .tar.gz file"
          id="download-button">
    download
  </button>
</div>
