
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#download_button').click(function() {
    var id = "<%= @kata.id %>";
    window.location = '/downloader/download/' + id;
  });

});

//--></script>

<button type="button"
        class="tipped"
        id="download_button">
  <%= t("views.buttons.download") %>
  <div class="tooltip">
     download a zip<br>
     of all animals<br>
     git repos
  </div>
</button>
