
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help_button').click(function() {
    var title = $(this).data('title');
    var ok = $(this).data('ok');
    $.get('/dashboard/help_dialog', function(html) {
      cd.dialog(html, title, ok).dialog('open');
    });
  });

});

//--></script>

<button type="button"
        class="tipped"
        data-title="?"        
        data-ok="<%= t('views.buttons.ok') %>"
        id="help_button">
  ?
  <div class="tooltip">
    show help
  </div>
</button>

