
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help-button').click(function() {
    var title = $(this).data('title');
    var close = $(this).data('close');
    $.get('/dashboard/help_dialog', function(html) {
      cd.dialog(html, title, close).dialog('open');
    });
  });

});

//--></script>

<div class="panel">
  <div id="help-button-container">
    <button type="button"
            class="tipped"
            data-title="?"
            data-close="<%= t('views.buttons.close') %>"
            id="help-button">
      ?
      <div class="tooltip">
        shows help
      </div>
    </button>
  </div>
</div>