
<script type="text/javascript"><!--

$(function() {

  $('#help-button').click(function() {
    var title = $(this).data('title');
    var close = $(this).data('close');
    $.get('/dashboard/help_dialog', function(html) {
      cd.dialog(html, title, close).dialog('open');
    });
  });

});

//--></script>

<button type="button"
        title="show help"
        data-title="?"
        data-close="<%= t('views.buttons.close') %>"
        id="help-button">
  ?
</button>
