
<table>
  <tr>
    <td>
      <input type="text" 
             id="maximum_columns"
             value="<%= @maximum_columns %>"/>
    </td>
    <td>
      <span class="tiny">
        columns<br/>maximum 
      </span>
    </td>
  </tr>
</table>
