
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  $j('#maximum_columns').data('validated-value', $j('#maximum_columns').val());
  $j('#maximum_columns').change(refreshDashboard);
});
  
function parseMaximumColumns() {
  var input = $j('#maximum_columns');
  var value = input.val();
  var newValue = parseInt(value);
  if (!isNaN(newValue)) {
    input.data('validated-value', newValue);
  } else {
    input.val(input.data('validated-value'));
  }
  return input.val();
}

//--></script>

<input type="text" 
       name="maximum_columns" 
       id="maximum_columns"
       value="<%=@maximum_columns-%>"/>
<span class="small_title">
  maximum<br/>columns
</span>
