
<script type="text/javascript"><!--

$(function() {

  var progressDialog = function(id) {
    var id = "<%= @kata.id %>";
	  $.getJSON('/dashboard/progress', { id: id }, function(data) {
      var html = '';
      var index = 0;
      html += '<div id="progress-dialog">';
      html += '<table>';
      $.each(data.animals, function(name, animal) {
        var parity = (index % 2 == 0) ? 'even' : 'odd';
        index += 1;
        html +=
          "<tr class='" + parity + " animal'>" +
            "<td class='progress'>" +
              "<img src='/images/bulb_" + animal.colour + ".png'" +
                  " alt='" + animal.colour + " traffic-light'" +
                  " width='20'" +
                  " height='20'/>" +
            '</td>' +
            '<td>' +
              "<img src='/images/avatars/" + name + ".jpg'" +
                " data-avatar='" + name + "'" +
                " width='30'" +
                " height='30'" +
                " class='avatar-image'/>" +
            '</td>' +
            "<td class='" + animal.colour + " progress'>" +
              animal.progress.text +
            '</td>' +
          '</tr>';
      }); // each
      html += '</table>';
      html += '</div>';

      var node = $(html);
      node.dialog({
        autoOpen: true,
        modal: true,
        title: cd.dialogTitle('progress'),
        buttons: { close: function() { $(this).remove(); } }
      });

      $('.avatar-image', node).click(function() {
        var avatar = $(this).data('avatar');
        var lastTag = -1;
        window.open(cd.showReviewUrl(id, avatar, lastTag, lastTag));
      });
    }); // getJSON
  };

  $('#progress-button').click(function() {
    progressDialog();
  });

});

//--></script>

<% if @kata.language.progress_regexs != [] %>
  <div id="progress-button-container">
    <button type="button"
            title="show progress"
            id="progress-button">
      progress?
    </button>
  </div>
<% end %>
