
<table>
  <tr>
    <td>
      <input type="text"
             id="seconds_per_column"
             value="<%= @seconds_per_column %>"/>
    </td>
    <td>
      <span class="tiny">
        seconds<br/>per column
      </span>
    </td>
  </tr>
</table>
