
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  $j('#seconds_per_column').data('validated-value', $j('#seconds_per_column').val());
  $j('#seconds_per_column').change(refreshDashboard);
});
  
function parseSecondsPerColumn() {
  var input = $j('#seconds_per_column');
  var value = input.val();
  var newValue = parseInt(value);
  if (!isNaN(newValue)) {
    input.data('validated-value', newValue);
  } else {
    input.val(input.data('validated-value'));
  }
  return input.val();
}

//--></script>

<table>
  <tr>
    <td>
      <input type="text"
             name="seconds_per_column" 
             id="seconds_per_column"
             value="<%=@seconds_per_column-%>"/>
    </td>
    <td>
      <span class="small_title">
        seconds per column
      </span>
    </td>
  </tr>
</table>
