
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#tips').click(function() {
    cd.dialog_dashboard_tips().dialog('open');
  });

});

//--></script>

<div class="tiny button"
     title="Show tips"
     id="tips">
 tips</div>
