
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#tips').click(function() {
    $.get('/dashboard/tips_dialog/', function(html) {
      cd.dialog(html, null, 'tips').dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Show tips"
     id="tips">
 tips</div>
