          
<table align="right">
 <tr>
   <td>
     <span class="traffic_light_number">
       <%= lights.length -%>
     </span>
   </td>
   <td>             
     <% if lights != [] -%>
       <%=  traffic_light(@dojo, avatar_name, lights.last) -%>             
     <% end -%>
   </td>
 </tr>
</table>

