          
   <td class="summary">
     <%= avatar_image(avatar_name, 30) -%>
   </td>
             
   <td class="summary">
     <%= render :partial => 'avatar_summary',
                :locals => { :avatar_name => avatar_name } -%>
   </td>
          
   <td class="summary">             
     <%=  traffic_light(@dojo, avatar_name, lights.last, new_window) -%>
   </td>
   
   <td class="summary">
     <span class="number">
       <%= lights.length -%>
     </span>
   </td>

