          
   <td>             
     <% if lights != [ ] -%>
       <% inc = lights.last -%>
     <% else -%>
       <% inc = { :number => 0, :time => @dojo.manifest[:created] } -%>
     <% end -%>
     <%=  traffic_light(@dojo, avatar_name, inc, new_window) -%>
   </td>
   <td>
     <span class="traffic_light_number">
       <%= lights.length -%>
     </span>
   </td>

