
<div data-width="600">
  <div class="panel">
    &bull;&thinsp;click any animal or traffic-light to open a diff-fork dialog<br/>
    &bull;&thinsp;click an animal's traffic-light count to review its latest code<br/>
    &bull;&thinsp;oldest traffic-lights are on the left<br/>
    &bull;&thinsp;newest traffic-lights are on the right<br/>
    &bull;&thinsp;the dashboard refreshes every 10 seconds<br/>
  </div>
</div>
