
<div data-width="500">  
  <div class="panel">
    &bull;&thinsp;click any traffic-light to review its diff<br/>
    &bull;&thinsp;click any animal to review its latest traffic-light<br/>
    &bull;&thinsp;oldest traffic-lights appear on the left<br/>
    &bull;&thinsp;newest traffic-lights appear on the right<br/>
    &bull;&thinsp;the dashboard refreshes every 10 seconds<br/>
  </div>
</div>

  
