
<table data-width="650">  
  <tr>
    <td>
      <ul>
        <li>click any traffic-light to review its diff</li>
        <li>click any animal to review its latest traffic-light</li>
        <li>oldest traffic-lights appear on the left</li>
        <li>newest traffic-lights appear on the right</li>
        <li>the dashboard refreshes every 10 seconds</li>
        <li>hover over any element to reveal its tip</li>
      </ul>
    </td>
  </tr>
</table>

  
