
<div id="all_messages">
  <% @messages.reverse.each do |message| -%>  
     <table class="message_container">
       <tr>
         <td>
           <%= avatar_image(message[:sender].to_s, 80) -%>
         </td>
         <td>
           <%= message[:text] -%>
         </td>
       </tr>
     </table>
  <% end -%>
</div>

