
<script language="JavaScript"
        type="text/javascript"><!--

var dojo_name = "<%=@dojo.name-%>";

$j(document).ready(function() {
  $j('#message_elision').click(function() {
    $cd.postTo('/messages/show_all', { dojo_name: dojo_name }, "_blank");
  });
});

//--></script>

<div id="messages">
  <% max_messages = 9 -%>
  <% some = recent(@messages, max_messages) -%>  
  <% some.reverse.each_with_index do |message,index| -%>
     <table class="<%=parity(index)-%> message_container">
       <tr>
         <td>
           <%= avatar_image(message[:sender].to_s, 43) -%>
         </td>
         <td class="message_text">
           <%= message[:text] -%>
         </td>
       </tr>
     </table>
  <% end -%>
  
  <% if @messages.length > max_messages -%>
    <input type="button"
           class="button"
           id="message_elision"
           title="Show all messages"
           value="..."/>
  <% end -%>
</div>

