
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('.message_container').click(function() {
    $cd.postTo('/messages/show', {
      dojo_name: "<%=@dojo.name-%>"
    }, "_blank");
  });
});

//--></script>


<div id="some_messages">
  <% max_messages = 5 -%>
  <% some = recent(@messages, max_messages) -%>  
  <% some.reverse.each do |message| -%>  
     <table class="message_container" title="Open message page">
       <tr>
         <td>
           <%= avatar_image(message[:sender].to_s, 40) -%>
         </td>
         <td class="message_text">
           <%= message[:text] -%>
         </td>
       </tr>
     </table>
  <% end -%>
  <% if @messages.length > max_messages -%>
    &nbsp;&nbsp;...
  <% end -%>
</div>

