
<div id="messages">
  <% max_messages = 9 -%>
  <% shown = recent(@messages, max_messages) -%>
  
  <% shown.reverse.each_with_index do |message,index| -%>
     <div class="<%=parity(index)-%> message_container">
       <table>
         <tr>
           <td>
             <%= avatar_image(message[:sender].to_s, 43) -%>
           </td>
           <td class="message_text">
             <%= message[:text] -%>
           </td>
         </tr>
       </table>
     </div>
  <% end -%>
  
  <% if @messages.length > max_messages -%>
      <br/>
      <%= link_to "<span class='button'>...</span>", 
      { :controller => :message_board, 
        :action => :show_all,
        :dojo_name => @dojo.name 
      }, 
      { :title => "Show all messages", 
        :target => defined?(target) ? target : ''
      }
      -%>
  <% end -%>
</div>

