
<%= render :partial => 'dojo/banner' -%>

<div id="all_messages" class="panel">
  <% @messages.reverse.each_with_index do |message,index| -%>
     <div class="<%=parity(index)-%> message_container">
       <table>
         <tr>
           <td>
             <%= avatar_image(message[:sender].to_s, 43) -%>
           </td>
           <td class="message_text">
             <%= message[:text] -%>
           </td>
         </tr>
       </table>
     </div>
  <% end -%>
</div>


