
<h2><b>Spying on <%= @dojo.name -%></b></h2>

<% gapped = gapper(@dojo) -%>
<div id="spy">
<table cellspacing="0" 
       cellpadding="0">
  <% gapped.each do |avatar_name,increments| -%>
  <tr>
    <td><%= avatar_name -%>&nbsp;</td>
    <td>
      <table cellspacing="2"
             cellpadding="0">
        <tr>
          <% increments.reverse.each do |inc| -%>
          <td>
            <span id="spy_cell" 
                  class="<%=inc-%>">&nbsp;</span>
          </td>
          <% end -%>
        </tr>
      </table>
    </td>
  </tr>
  <% end -%>
</table>
</div>


