
<h2><b>Spying on <%= @dojo.name -%></b></h2>

<% gapped = gapper(@dojo) -%>
<table cellspacing="0" cellpadding="0">
  <tr>
    <% gapped.each do |avatar_name,increments| -%>
    <td>
      <table class="rounded panel"
             cellspacing="3"
             cellpadding="2">
        <tr>
          <td><%= avatar_image(avatar_name) {|i| i} -%>
              <%= avatar_image(avatar_name) {|i| i} -%>
          </td>
        </tr>
        <% increments.reverse.each do |inc| -%>
        <tr>
          <td>
            <span id="spy_cell" 
                  class="<%=inc-%>">&nbsp;</span>
          </td>
        </tr>
        <% end -%>
      </table>
    </td>
    <% end -%>
  </tr>
</table>


