#-----Ignore everything
#-----including katas (data-container / volume-mounted)
#-----including public (nginx image)

*

#-----!Except these folders

!app/assets
!app/controllers
!app/docker
!app/downloads
!app/helpers
!app/lib
!app/models
!app/start_points
!app/views
!script
!config
!lib
!test

#-----!Except these files

!Gemfile
!config.ru

#-----Except do ignore the caches
app/start_points/languages/cache.json
app/start_points/exercises/cache.json
