*~
log/*
db/*.sqlite3
tmp
coverage
katas_rb

.DS_Store
.sass-cache/

.idea
.rvmrc
.approvals

zipped_dojos.zip
cyberDojo.db
*.tmp

test/admin_scripts/assets/
test/admin_scripts/index.html
test/app_controllers/assets/
test/app_controllers/index.html
test/app_helpers/assets/
test/app_helpers/index.html
test/app_lib/assets/
test/app_lib/index.html
test/app_models/assets/
test/app_models/index.html

test/lib/assets/
test/lib/index.html

test/integration/assets/
test/integration/index.html

test/cyberdojo/zips
test/cyberdojo/tmp
test/cyberdojo/katas

admin_scripts/exceptions.log
admin_scripts/calcCodeCovg/src/Anagrammer.java
admin_scripts/calcCodeCovg/src/AnagrammerTest.java
admin_scripts/calcCodeCovg/tempDir/Hiker.java
admin_scripts/calcCodeCovg/tempDir/HikerTest.java
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_collections.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_difflib.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_fnmatch.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_functools.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_getopt.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_posixpath.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_pprint.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_re.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_sre__compile.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_sre__parse.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_StringIO.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_threading.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_____init____.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_case.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_loader.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_main.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_result.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_runner.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_signals.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_suite.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_unittest_util.py.html
admin_scripts/figleaf_bin/html/_System_Library_Frameworks_Python.framework_Versions_2.7_lib_python2.7_weakref.py.html
admin_scripts/figleaf_bin/html/_Users_michaelhilton_Development_Mycyberdojo_katas_02_C3D09368_snake_sandbox_test__untitled.py.html
admin_scripts/figleaf_bin/html/_Users_michaelhilton_Development_Mycyberdojo_katas_02_C3D09368_snake_sandbox_untitled.py.html
admin_scripts/figleaf_bin/html/index.html
