*~
log/*
db/*.sqlite3
tmp
coverage

.DS_Store
.sass-cache/

.idea
.rvmrc
.approvals
.ruby-gemset
.ruby-version

zipped_dojos.zip
cyberDojo.db
*.tmp
*.WRAPPED

test/cyber-dojo/katas/*
test/cyber-dojo/languages
test/cyber-dojo/exercises

admin_scripts/exceptions.log

exercises/cache.json
languages/cache.json
