
<div id="accu-container">
  <table>
    <tr>
      <td>
        <a href="http://accu.org/index.php" 
           target="_blank"
           title="accu.org">accu</a>
        for programmers who <em>care</em> about
        professionalism in programming.
      </td>
      <td>
        <a href="http://accu.org/index.php"
          target="_blank">
          <img id="accu-image"
              src="/images/accu-button.png"
            title="accu.org"/>
        </a>
      </td>      
    </tr>
  </table>
</div>
