
<div id="accu-image">
  <a href="http://accu.org/index.php"
     target="_blank">
    <img src="/images/accu-button.png"
         style="padding:5px; background:CornSilk;"
         width="75"
         height="20"
         title="accu.org"/>
  </a>
</div>

<div id="accu-words">
  a superb non&#8209;profit organisation
  of programmers
  who <em>care</em> about
  professionalism in programming.
</div>
