
<div id="banner">
  <h2><%= @dojo.name -%></h2>
  
  <h4>
    <% if @languages.length == 1 -%> 
      <%= @languages[0] -%> 
    <% end -%>
    <% if @katas.length == 1 -%> 
      <%= @katas[0] -%>
    <% end -%>
  </h4>
</div>


