
<script type="text/javascript"><!--

$(function () {

  var buttons = $('#give-feedback');

  buttons.click(function() {
    var name = $(this).attr('id');
    var close = $(this).data('close');
    var title = $(this).text();
    var button = $(this);
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.get('/dojo/button_dialog/' + name, function(html) {
      button.css('cursor', cursor);
      cd.dialog(html, title, close).dialog('open');
    });
  });

  $('#about').click(function() {
    window.open('http://blog.cyber-dojo.org/p/about.html');
  });

  $('#blog').click(function() {
    window.open('http://blog.cyber-dojo.org');
  });

  $('#donators').click(function() {
    window.open('http://blog.cyber-dojo.org/2014/08/donators.html');
  });

  $('#faqs').click(function() {
    window.open('http://blog.cyber-dojo.org/2014/08/cyber-dojo-why-dont-you-add.html');
  });

  $('#get-started').click(function() {
    window.open('http://blog.cyber-dojo.org/2014/08/getting-started.html');
  });

  $('#tips').click(function() {
    window.open('http://blog.cyber-dojo.org/2014/09/cyber-dojo-tips.html');
  });

});

//--></script>

<div id="buttons-container">
  <% buttons = ['about', 'blog', 'donators', 'faqs',
                'get-started', 'give-feedback', 'tips'
               ].map{ |action| [action, t("views.buttons.#{action}")] } %>

  <% buttons.each do |action, text| %>
    <button type="button"
            class="show-dialog-button"
            data-close="<%= t('views.buttons.close') %>"
            id="<%= action %>">
      <%= raw text %>
      <% if text === 'why' %>?<% end %>
    </button>
    <div style="clear:both">
    </div>
  <% end %>
</div>
