    
<table data-width="450">
  <tr>
    <td>
      <div class="panel">
        cyber-dojo is the world's simplest<br/>
        <em>non</em>-development environment!
      </div>
    </td>
  </tr>
  <tr>
    <td>  
      <div class="panel">
        In a cyber-dojo you <em>practice</em>
        by going <em>slower</em><br/>
        and focusing on <em>improving</em>
        rather than finishing.
      </div>
    </td>
  </tr>      
  <tr>
    <td>
      <div class="panel">
        cyber-dojo was conceived, designed,<br/>
        and is being implemented by
        <a href="http://jonjagger.blogspot.com/" target="_blank">Jon Jagger</a>
        of Jagger Software Limited.
      </div>
    </td>
  </tr>
</table>