
<script type="text/javascript"><!--

$(document).ready(function () {

  var buttons = $('#about,#donators,#give-feedback,#why');
  buttons.click(function() {
    var name = $(this).attr('id');
    var close = $(this).data('close');
    var title = $(this).text();
    var button = $(this);
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.get('/dojo/button_dialog/' + name, function(html) {
      button.css('cursor', cursor);
      cd.dialog(html, title, close).dialog('open');
    });
  });

});

//--></script>

<div class="buttons-container">
  <% buttons = ['about', 'donators', 'give-feedback', 'why'
               ].map{ |action| [action, t("views.buttons.#{action}")] } %>

  <% buttons.each do |action, text| %>
    <button type="button"
            class="show-dialog-button"
            data-close="<%= t('views.buttons.close') %>"
            id="<%= action %>">
      <%= text %>
      <% if text === 'why' %>?<% end %>
    </button>
    <div style="clear:both">
    </div>
  <% end %>
</div>
