
<script type="text/javascript"><!--

$(function() {

  $('#charity-button').click(function(event) {
    event.preventDefault();
    window.open('http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html', 
      'popupWindow', 'width=1100,height=600,scrollbars=yes');
  })

});

//--></script>

<div id="charity-container">
  <table>
    <tr>
      <td>
        Scottish Charitable Incorporated Organisation<br/>
        <span style="font-size:75%;">magic number SC045890</span>
      </td>
      <td>
        <button type="button" id="charity-button">cyber-dojo<br/>Foundation</button><br/>
      </td>      
    </tr>    
  </table>
</div>

