
<script language="JavaScript"
        type="text/javascript"><!--

var previousLanguageIndex = 0;

$j(document).ready(function() {

  var languageCount = 0;
  $j('[name=language]').each(function(index) {
    languageCount = index;
    var node = $j(this);
    node.parent().click(function() {
      var previous = $j('[id=language_' + previousLanguageIndex + ']');
      $cd.radioEntrySwitch(previous, node);
      previousLanguageIndex = index;
    });
  });
  
  var rand = Math.floor(Math.random() * languageCount);
  $j('#language_' + rand).parent().click();
  previousLanguageIndex = rand;

});

//--></script>

<div class="large">
 language?
</div>

<% @languages.each_with_index do |choice,index| -%>
  <div class="filename" >
    <input id="language_<%=index-%>" 
           type="radio"
           name="language" 
           value="<%=choice-%>" />
    <label><%= choice -%></label>
  </div>    
<% end -%>    
