
<script language="JavaScript"
        type="text/javascript"><!--
        
$j(document).ready(function() {

  var previousExerciseIndex = 0;
  var exercises = $j('[name=exercise]');
  exercises.each(function(index) {
    var node = $j(this);
    node.parent().click(function() {
      var previous = $j('[id=exercise_' + previousExerciseIndex + ']');      
      $cd.radioEntrySwitch(previous, node);
      previousExerciseIndex = index;
      var instructions = $j('#instructions_' + index).val();
      $j('#instructions').val(instructions);      
    });
  });

  var rand = Math.floor(Math.random() * exercises.size()); 
  $j('#exercise_' + rand).parent().click();
  previousExerciseIndex = rand;

});

//--></script>

<div class="large">
  exercise?
</div>

<div>
  <% @exercises.each_with_index do |choice,index| %>
    <div class="filename" >
      <input id="exercise_<%= index %>" 
             type="radio"
             name="exercise" 
             value="<%= choice %>" />
      <label><%= choice.gsub("_", " ") %></label>
    </div>    
  <% end %>
</div>

