
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {

  var languages = $j('[name=language]');
  var rand = Math.floor(Math.random() * languages.size());
  var previousLanguage = $j(languages[rand]);

  languages.each(function(index) {
    var node = $j(this);
    node.parent().click(function() {
      $cd.radioEntrySwitch(previousLanguage, node);
      previousLanguage = node;
    });
  });
  
  $j('#language_' + rand).parent().click();

});

//--></script>

<div class="large">
 language?
</div>

<% @languages.each_with_index do |choice,index| %>
  <div class="filename" >
    <input id="language_<%= index %>" 
           type="radio"
           name="language" 
           value="<%= choice %>" />
    <label><%= choice %></label>
  </div>    
<% end %>    
