
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {

  var languageCount = 0;
  $j('[name=language]').each(function(index) {
    languageCount = index;
    var node = $j(this);
    node.parent().click(function() {
      $cd.selectRadioListEntry(node);
    });
  });
  
  var rand = Math.floor(Math.random() * languageCount);
  
  $j('#language_' + rand).parent().click();

});

//--></script>

<td class="panel" valign="top">
  <div class="choose_title">language?</div>

  <% @languages.each_with_index do |choice,index| -%>
    <div class="filename" >
      <input id="language_<%=index-%>" 
             type="radio"
             <% if @language_index==index -%>
             checked="checked"
             <% end -%>
             name="language" 
             value="<%=choice-%>" />
      <label><%= choice -%></label>
    </div>    
  <% end -%>    
</td>
