
<script language="JavaScript"
        type="text/javascript"><!--
        
$j(document).ready(function() {

  var exercises = $j('[name=exercise]');
  var rand = Math.floor(Math.random() * exercises.size());   
  var previousExercise = $j(exercises[rand]);
  
  exercises.each(function(index) {
    var instructions = $j('#instructions_' + index).val();
    var node = $j(this);
    node.parent().click(function() {
      $cd.radioEntrySwitch(previousExercise, node);
      previousExercise = node;
      $j('#instructions').val(instructions);      
    });
  });

  $j('#exercise_' + rand).parent().click();

});

//--></script>

<div class="large">
  exercise?
</div>

<div>
  <% @exercises.each_with_index do |choice,index| %>
    <div class="filename" >
      <input id="exercise_<%= index %>" 
             type="radio"
             name="exercise" 
             value="<%= choice %>" />
      <label><%= choice.gsub("_", " ") %></label>
    </div>    
  <% end %>
</div>

