
<div id="home-page-logo">
  <%= home_page_logo(54) %>
</div>

<%= render :partial => 'buttons_top' %>

<hr/>

<%= render :partial => 'testimonial' %>

<hr/>

<%= render :partial => 'buttons_bottom' %>

