
<script type="text/javascript"><!--

$(function() {

  $('#create-button').click(function() {
    cd.dialog_ie(function() {
      var url = '/setup/show/';
      window.location = url;
    });
  });

});

//--></script>

<button type="button" id="create-button">create a new cyber-dojo</button>
