
<script type="text/javascript"><!--

$(function() {

  $('#create-button').click(function() {

    if ($.browser.msie) {
      alert("in MSIE");
    } else {
      var id = $('#kata-id-input').val();
      var url = '/setup/show/' + id;
      window.location = url;
    }
  });

});

//--></script>

<button type="button"
        id="create-button">
  <%= t("views.buttons.create") %>
</button>
