
<script type="text/javascript"><!--

$(function() {

  $('#create-button').click(function() {
    cd.dialog_ie(function() {
      var id = "<%= @id %>";
      var url = '/setup/show_languages_and_tests/' + id;
      window.location = url;
    });
  });

});

//--></script>

<button type="button" id="create-button">create a practice session</button>
