
<table data-width="650">
  <tr>
    <td class="panel">
        10. Click <button style="font-size:1em;" id="setup" type="button">setup</button>,
        choose your <button type="button">language</button>
        and <button type="button">exercise</button>
    </td>
  </tr>
  
  <tr>
    <td class="panel">
        20. Click <button type="button">ok</button>.
        You'll get an id, e.g.,
        <span style="font-size:1em;" class='kata_id_input'>&nbsp;3AF65A&nbsp;</span>
    </td>
  </tr>
  
  <tr>
    <td class="panel">
        30. At <em>each</em> computer
        enter the <span style="font-size:1em;" class="kata_id_input">&nbsp;3AF65A&nbsp;</span> id
        and click <button id="start_coding"type="button">start</button>
    </td>
  </tr>

  <tr>
    <td class="panel">
        40. Each computer will be assigned an animal (e.g. panda)
    </td>
  </tr>

  <tr>
    <td class="panel">
        50. Code for a set amount of time e.g. 30/45/60 minutes
    </td>
  </tr>

  <tr>
    <td class="panel">
        60. Click 
        <button id="review_coding" type="button">review</button>
        to review everyone's code
    </td>
  </tr>

  <tr>
    <td class="panel">
        70. Choose what to focus on improving
    </td>
  </tr>

  <tr>
    <td class="panel">
        80. goto 10
    </td>
  </tr>

</table>



