
<div class="get-started dialog" data-width="580">
  <table>
    <tr>
      <td>
        <div class="panel-title">
          create your programming dojo
        </div>
        <div class="panel">
          click <button style="font-size:1em;" id="setup" type="button">create</button>
        </div>
        <div class="panel">
          click your chosen <button type="button">language</button>
          and <button type="button">exercise</button>
        </div>
        <div class="panel">
            click <button type="button">ok</button>
            to get your dojo's id, e.g.,
            <span style="font-size:1.2em;" class='kata-id-input'>&nbsp;3AF65A&nbsp;</span>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel-title">
          on <em>each</em> computer start programming
        </div>
        <div class="panel">
            type in your dojo's id <span style="font-size:1.2em;" class="kata-id-input">&nbsp;3AF65A&nbsp;</span>
            and click <button type="button">enter</button>
        </div>
        <div class="panel">
            each computer will be assigned an animal (e.g. panda)
        </div>
        <div class="panel">
            program for a <em>set</em> amount of time e.g. 30 minutes
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel-title">
          when time is up <em>stop</em> programming
        </div>
        <div class="panel">
          click
          <button id="review_coding" type="button">review</button>
          to open the dashboard
        </div>
        <div class="panel">
            click any animal's traffic-light to step through
            their diffs
        </div>
        <div class="panel">
            decide what to focus on improving in the next iteration
        </div>
      </td>
    </tr>

  </table>
</div>
