
<table data-width="800">
  <tr>
    <td class="panel">
        10. Click <button id="setup" type="button">setup</button>,
        choose a <button type="button">language</button>
        and an <button type="button">exercise</button>,<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; click
        <button type="button">ok</button>.
        You'll get an id, e.g.,
        <span class='kata_id_input'>&nbsp;3AF65A&nbsp;</span>
    </td>
  </tr>
  
  <tr>
    <td class="panel">
        20. At <em>each</em> computer
        enter the <span class="kata_id_input">&nbsp;3AF65A&nbsp;</span> id
        and click <button id="start_coding"type="button">start</button>
    </td>
  </tr>

  <tr>
    <td class="panel">
        30. Each computer will be assigned an animal (e.g. panda)
    </td>
  </tr>

  <tr>
    <td class="panel">
        40. Code for a set amount of time e.g. 30/45/60 minutes.
    </td>
  </tr>

  <tr>
    <td class="panel">
        50. When time is up use the
        <button id="review_coding" type="button">review</button> dashboard
        to review everyones<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; code and choose what aspects to focus
        on improving in the next iteration.
    </td>
  </tr>

  <tr>
    <td class="panel">
        60. goto 10<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start again, doing
        the <em>same</em> exercise, 
        in the <em>same</em> language.
    </td>
  </tr>

</table>



