
<div class="why dialog" data-width="550">
  <table>

    <tr>
      <td class="panel">
          A cyber-dojo<br/>
          &nbsp; &bull; provokes - provocation encourages learning<br/>
          &nbsp; &bull; is <em>not</em> a development environment<br/>
      </td>
    </tr>

    <tr>
      <td>
      </td>
    </tr>

    <tr>
      <td class="panel">
          In a cyber-dojo<br/>
          &nbsp; &bull; everyone is treated a single team, learning together<br/>
          &nbsp; &bull; everything is visible to everyone<br/>
      </td>
    </tr>

  </table>
</div>
