
<div class="why dialog" data-width="550">
  <table>

    <tr>
      <td class="panel">
          A cyber-dojo<br/>
          &nbsp; &bull; provokes - provocation encourages <em>learning</em><br/>
          &nbsp; &bull; is <em>not</em> a development environment<br/>
      </td>
    </tr>

    <tr>
      <td>
      </td>
    </tr>

    <tr>
      <td class="panel">
          In a cyber-dojo<br/>
          &nbsp; &bull; you all learn together as a single <em>team</em><br/>
          &nbsp; &bull; everything is <em>visible</em> to everyone<br/>
      </td>
    </tr>

  </table>
</div>
