
<div class="dialog" data-width="550">
  <table>
    <tr>
      <td class="panel">
        cyber-dojo is free for all non-commercial use
        (but I welcome small individual donations).
        If you are using cyber-dojo in a commercial
        setting please donate. I suggest $99 per year.
      </td>
    </tr>
    <tr>
      <td class="panel">
        cyber-dojo is provided in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
      </td>
    </tr>
  </table>
</div>
