
<table data-width="750">
  <tr>
    <td>
      <%= t("views.donations.companies") %>      
    </td>
  </tr>

  <tr>
    <td class="panel">
      <%= t("views.donations.schlumberger") %>      
    </td>
  </tr>
  
  <tr>
    <td>
      <%= t("views.donations.individuals") %>      
    </td>
  </tr>

  <tr>
    <td class="panel">
        Olve Maudal, Mike Long, Mathieu Baron,
        Steve Coates, Johannes van Tonder, Santeri Vesalainen,
        Alexander Ottesen, Lars Storjord, Anders Schau Knatten,
        Mike Sutton, James Grenning, Allan Kelly, Randall White,
        Lucas Videla, Mark Sargent, Jason Jolly, Mark Grimes,
        Pedro Gimenez, Marc Kannegiesser, Oliver Baylis, Brian Porter,
        Jamie Toolin, Alejandro Perez Garcia, Pavol Rovensky,
        Wojciech Kozlowski, Dan Grassi, Juan Alday, Damian Crawford,
        Seb Rose.
    </td>
  </tr>

  <tr>
    <td>
      <span id='thank_you'>
      <%= t("views.donations.thank_you") %>              
      </span>
    </td>
  </tr>
  
</table>


