
<div class="dialog" data-width="650">
  <table>
    <tr>
      <td class="panel">
          Jagger Software Limited 
          <a href="http://jonjagger.blogspot.co.uk/" target="_blank">blog</a>
      </td>
    </tr>
    <tr>
      <td class="panel">
          <a href="http://www.MasteringAgilePractice.com"
             target="_blank">http://www.MasteringAgilePractice.com</a>
      </td>
    </tr>        
    <tr>
      <td class="panel">
          <a href="http://programmer.97things.oreilly.com/wiki/index.php/Contributions_Appearing_in_the_Book"
            target="_blank">
          97 Things Every Programmer Should Know
          </a>
          <br/>
          &nbsp;&nbsp;number 22: 
          <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html"
             target="_blank">
          Do More Deliberate Practice
          </a>
      </td>
    </tr>      
    <tr>
      <td class="panel">
          <a href="http://vimeo.com/15104374" target="_blank">
          Video of me doing the Roman Numerals kata in Ruby
          </a>
      </td>
    </tr>
    <tr>
      <td class="panel">
          <a href="http://accu.org/index.php/conferences/accu_conference_2013"
             target="_blank">
          <img src="/images/accu_button.gif" 
               style="float:left;border:solid 5px #666" 
               width="125" 
               height="55"
               title="ACCU"/>
          </a>
          &nbsp;<a href="http://accu.org" target="_blank">accu</a> is a superb non-profit organisation
          of programmers
          who <em>care</em> about
          professionalism in programming.
      </td>
    </tr>
  </table>
</div>
