    
<table data-width="600">
  <tr>
    <td>
      <div class="panel">
        cyber-dojo is designed to encourage <em>team practice</em> 
        and works well with more than one person at each 
        computer, periodically moving the current keyboard 
        'drivers' to different computers as non-drivers.
      </div>
    </td>
  </tr>
  <tr>
    <td>  
      <div class="panel">
        Play the 
        <a href="http://jonjagger.blogspot.com/2009/06/average-time-to-green-game.html" 
           target="_blank">
        average-time-to-green-game</a>.
      </div>
    </td>
  </tr>      
  <tr>
    <td>
      <div class="panel">
        When everyone is at green set a challenge to either<br/>
        &nbsp;&nbsp;&bull; find some code you can delete and the tests still all pass!<br/>
        &nbsp;&nbsp;&bull; find a bug, and write a failing test for it.
      </div>
    </td>
  </tr>
</table>