
<div class="dialog" data-width="850">
  <table>
    <tr>
      <td>
        <div class="panel-title">
        ...several years ago I took part in a programming dojo...
        </div>
        <div class="panel-title">
          it took a <em>long</em> time to start, installing compilers and whatnot
        </div>
      </td>
    </tr>
    <tr>
      <td class="panel">
          I wondered what the minimum setup could be for a coding dojo.
          I realized it was <em>nothing</em>.
          You could write your tests and code in a
          web browser and run your tests on a server.
          The more I thought about this, the more I liked
          the idea of participants using something
          that was so obviously
          <em>not their normal development environment</em>.
      </td>
    </tr>
    <tr>
      <td>
        <div class="panel-title">
          it didn't <em>feel</em> like a dojo should feel
        </div>
      </td>
    </tr>
    <tr>
      <td class="panel">
          In a coding dojo you should <em>not</em> be thinking
          about finishing the task;
          you should be thinking about <em>improving some aspect of your skill</em>.
          The practice should be repeated. Repetition frees up mental capacity,
          helping you break out of a completion mindset
          and into an improvement mindset.
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel-title">
        it took a <em>long</em> time to do a
        review (projector problems)
        </div>
      </td>
    </tr>
    <tr>
      <td class="panel">
          In a browser-based dojo, everyone can see
          everyone else's code at all times. <br/>
          Only <em>one</em> computer needs
          to be connected to a projector.
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel-title">
          there was very little collaboration
        </div>
      </td>
    </tr>
    <tr>
      <td class="panel">
          I started to sense some of the <em>social</em> possibilities of a
          browser-based coding dojo;<br/>
          of treating the participants as a single team, learning together.
      </td>
    </tr>

  </table>
</div>
