<table data-width="450">
  <tr>
    <td>
      <div class="panel">
        Le Cyber-Dojo est l'environnement de <em>non</em>-dévelopement le plus simple au monde!
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="panel">
        Durant un Cyber-Dojo, le but est de ralentir pour se concentrer sur l'exécution et l'amélioration de l'exercice, plutôt que la finition.
      </div>
    </td>
  </tr>      
  <tr>
    <td>
      <div class="panel">
        Cyber-Dojo a été conçu, élaboré et implémenté par <a href="http://jonjagger.blogspot.com/" target="_blank">Jon Jagger</a> de Jagger Software Limited.
      </div>
    </td>
  </tr>
</table>