
<div class="why dialog" data-width="720">
  <table>

    <tr>
      <td class="panel">
          A cyber-dojo has zero setup time.<br/>
          A cyber-dojo is deliberately <em><u>not</u></em>
          a <em><u>development</u></em> environment.<br/>
          A cyber-dojo encourages provocation;
          without provocation there is no learning.
      </td>
    </tr>

    <tr>
      <td>
      </td>
    </tr>

    <tr>
      <td class="panel">
          In a cyber-dojo you <em>don't</em> think
          about <em>finishing</em>.<br/>
          In a cyber-dojo you think about
          <em><u>improving</u></em> some aspect of your skill.<br/>
          The practice should be repeated.<br/>
          Repetition frees up mental capacity, creating space for improvement.
      </td>
    </tr>

    <tr>
      <td>
      </td>
    </tr>

    <tr>
      <td class="panel">
          In a cyber-dojo the participants are treated a single
          <em><u>team</u></em>,
          all learning together.<br/>
          In a cyber-dojo everyone can see everyone else's
          <em>step-by-step</em> progression.<br/>
      </td>
    </tr>

  </table>
</div>
