
<div class="donators dialog" data-width="750">
  <table>
    <tr>
      <td>
        <div class="panel-title">
          <%= t("views.donations.companies") %>
        </div>
      </td>
    </tr>

    <tr>
      <td class="panel">
        <%= t("views.donations.schlumberger") %>
      </td>
    </tr>

    <tr>
      <td>
        <div class="panel-title">
          <%= t("views.donations.individuals") %>
        </div>
      </td>
    </tr>

    <tr>
      <td class="panel">
          Olve Maudal, Mike Long, Mathieu Baron,
          Steve Coates, Johannes van Tonder, Santeri Vesalainen,
          Alexander Ottesen, Lars Storjord, Anders Schau Knatten,
          Mike Sutton, James Grenning, Allan Kelly, Randall White,
          Lucas Videla, Mark Sargent, Jason Jolly, Mark Grimes,
          Pedro Gimenez, Marc Kannegiesser, Oliver Baylis, Brian Porter,
          Jamie Toolin, Alejandro Perez Garcia, Pavol Rovensky,
          Wojciech Kozlowski, Dan Grassi, Juan Alday, Damian Crawford,
          Seb Rose, Emily Bache, Michael Coxeter, Fernando Sola Ortiz,
          Sean Moir, Michael Aderskog, Daniel Aquino, Emyr Williams,
          Clayton Hunt, Tallapaneni HariBabu, Eric Lefevre, Thomas Rytz.
      </td>
    </tr>

  </table>
</div>
