
<div class="dialog" data-width="650">
  <table>
    <tr>
      <td class="panel">
          10. Click <button style="font-size:1em;" id="setup" type="button">create</button>,
          choose your <button type="button">language</button>
          and <button type="button">exercise</button>
      </td>
    </tr>

    <tr>
      <td class="panel">
          20. Click <button type="button">ok</button>
          You'll get an id, e.g.,
          <span style="font-size:1.2em;" class='kata-id-input'>&nbsp;3AF65A&nbsp;</span>
      </td>
    </tr>

    <tr>
      <td class="panel">
          30. At <em>each</em> computer
          enter the <span style="font-size:1.2em;" class="kata-id-input">&nbsp;3AF65A&nbsp;</span> id
          and click <button type="button">enter</button>
      </td>
    </tr>

    <tr>
      <td class="panel">
          40. Each computer will be assigned an animal (e.g. panda)
      </td>
    </tr>

    <tr>
      <td class="panel">
          50. Code for a <em>set</em> amount of time e.g. 30 minutes
      </td>
    </tr>

    <tr>
      <td class="panel">
          60. When time is up <em>stop</em> coding
      </td>
    </tr>

    <tr>
      <td class="panel">
          70. Click
          <button id="review_coding" type="button">review</button>
          to open the dashboard
      </td>
    </tr>

    <tr>
      <td class="panel">
          90. Click any animals traffic-light to step through
          their diffs.
      </td>
    </tr>

    <tr>
      <td class="panel">
          100. Decide what to focus on improving in the next iteration.
      </td>
    </tr>

    <tr>
      <td class="panel">
          110. goto 10
      </td>
    </tr>

  </table>
</div>
