    
<table data-width="650">
  <tr>
    <td class="panel">
        cyber-dojo is the world's simplest<br/>
        <em>non</em>-development environment!
    </td>
  </tr>
  <tr>
    <td class="panel">
        In a cyber-dojo you <em>practice</em>
        by going <em>slower</em><br/>
        and focusing on <em>improving</em>
        rather than finishing.
    </td>
  </tr>      
  <tr>
    <td class="panel">
        cyber-dojo was conceived, designed, and implemented<br/>
        by me,
        <a href="http://jonjagger.blogspot.com/" target="_blank">Jon Jagger</a>,
        of Jagger Software Limited.
    </td>
  </tr>
  <tr>
    <td class="panel">
      If you'd like me to run a cyber-dojo for your company, 
      as part of some consultancy, please
      <a href="mailto:jon@jaggersoft.com?subject=cyber-dojo
      &body=Hi Jon - I'm interested in you running a cyber-dojo for me...">email me</a>.
      I love travelling (especially to places where you can fly-fish for
      atlantic salmon) and meeting new people. 
    </td>
  </tr>
</table>


