
<div class="about dialog" data-width="700">
  <table >
    <tr>
      <td class="panel">
          cyber-dojo is the world's simplest
          <em>non</em>-development environment!<br/>
          In cyber-dojo you <em>practice</em>
          by going <em>slower</em><br/>
          and focusing on <em>improving</em>
          rather than finishing.
      </td>
    </tr>
    <tr>
      <td class="panel">
        cyber-dojo runs on
        <a href="http://www.turnkeylinux.org/"
           target="_blank">Turnkey Linux</a>,
        <a href="http://rubyonrails.org/"
           target="_blank">Ruby on Rails</a>,
        and
        <a href="https://www.docker.io/"
           target="_blank">Docker</a>.<br/>
        cyber-dojo is open-source and lives on
        <a href="https://github.com/JonJagger/cyberdojo"
           target="_blank">github</a>.
      </td>
    </tr>
    <tr>
      <td class="panel">
          cyber-dojo was conceived, designed, and implemented<br/>
          by me,
          <a href="http://jonjagger.blogspot.com/" target="_blank">Jon Jagger</a>,
          of Jagger Software Limited.
          If you'd like me to run a cyber-dojo for your,
          perhaps as part of some consultancy, please
          <a href="mailto:jon@jaggersoft.com?subject=cyber-dojo
          &body=Hi Jon - I'm interested in you running a cyber-dojo for me...">email me</a>.
          I love travelling (especially to places where you can fly-fish for
          atlantic salmon :-) and meeting people.
      </td>
    </tr>
    <tr>
      <td class="panel">
          <a href="http://geraldmweinberg.com"
             target="_blank">Jerry Weinberg's</a> teachings on
          <a href="http://www.geraldmweinberg.com/Site/Experiential_Learning.html"
             target="_blank">experiential learning</a> strongly influenced the
             design of cyber-dojo.
      </td>
    </tr>
  </table>
</div>
