
<div class="please-invoice-me dialog" data-width="450">

If you require an invoice please
email me at <a href="mailto:jon@jaggersoft.com?subject=cyber-dojo invoice" target="_blank">jon@jaggersoft.com</a>

</div>
