
<script type="text/javascript"><!--

$(function() {

  $('#donate-button').click(function(event) {
    event.preventDefault();    
    cd.dialog_donate().dialog('open');
  })

});

//--></script>


<div id="donate-container">
  <table>
    <tr>
      <td>
        100% of your donation buys
        <a href='http://www.raspberrypi.org/' target='_blank'>Raspberry Pi</a>
        computers<br/>
        <a href='http://jonjagger.blogspot.co.uk/2013/04/cyber-dojo-raspberry-pies-in-action.html'
           target='_blank'>for children</a> :-)       
      </td>
      <td>
        <button type="button" id="donate-button">please<br/>donate</button><br/>
      </td>
    </tr>
  </table>
</div>

