
<table id="donate-container">
  <tr>
    <td>
      <div id="please-donate">
        Any use of cyber-dojo within a commercial organization is <em>not</em> free.
        Please make a one-time contribution of at least $500.
        Money raised is used solely to cover hosting costs and buy
        <a href='http://www.raspberrypi.org/' target='_blank'>Raspberry Pi</a>
        computers
        <a href='http://jonjagger.blogspot.co.uk/2013/04/cyber-dojo-raspberry-pies-in-action.html' target='_blank'>for children</a>.
      </div>
    </td>
  </tr>
  <tr>
    <td id="donate-button">
      <%= render :partial => 'donate_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'please_invoice_me' %>
    </td>
  </tr>
</table>

