
<script type="text/javascript"><!--

$(function() {

  $('#enter-button').click(function() {
    var id = "<%= @id %>";
    var url = '/enter/show/' + id;
    window.location = url;
  });

});

//--></script>

<button type="button" id="enter-button">enter your practice session</button>