
<script type="text/javascript"><!--

$(function() {

  $('#enter-button').click(function() {
    var url = '/enter/show/';
    window.location = url;
  });

});

//--></script>

<button type="button" id="enter-button">enter an existing<br/>cyber-dojo</button>