
<script type="text/javascript"><!--

$(function() {

  var enterButton = $('#enter-button');
  enterButton.click(function() {
    cd.dialog_ie(function() {
      var id = $('#kata-id-input').val();
      var ok = "<%= t('views.buttons.ok') %>";
      var title = "<%= t('views.buttons.enter') %>";
      var cursor = enterButton.css('cursor');
      enterButton.css('cursor', 'wait');
      $.getJSON('/dojo/enter', { id: id }, function(dojo) {
        if (dojo.full) {
          cd.dialog(dojo.full_dialog_html, title, ok).dialog('open');
        } else {
          cd.dialog_enter(title, id, ok, dojo.avatar_name, dojo.enter_dialog_html).dialog('open');
          cd.enableDisableEnterReEnterReview();
        }
      }).always(function() {
        enterButton.css('cursor', cursor);
      });
    });
  });

});

//--></script>

<button type="button"
        id="enter-button">
  <%= t("views.buttons.enter") %>
</button>