
<script type="text/javascript"><!--

$(function() {

  $('#existing-button').click(function() {
    var url = '/enter/show/';
    window.location = url;
  });

});

//--></script>

<button type="button" id="existing-button">join a prepared practice</button>