<div id="globe-container">

<iframe src="https://api.1self.co/v1/apps/app-id-9bb5f1c77f0df722a9b1bc650a41988a/events/cyber-dojo/create/.animatedglobe?token=591ea03f188deb7e2e80977a5b9ca55d9a640e18231ee097af6a65388cd78110&frameBodyColor=rgb(102,102,102)" width="155" height="262"
style="padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
background: #666;
border:none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;" id="globe">
</iframe>

</div>
