
<div id="globe">
  
<iframe id="qd-globe" src="https://app-staging.1self.co/community/globe" width="100%" scrolling="no" frameborder="0"> </iframe> <script src="https://app-staging.1self.co/js/iframeResizer.min.js"></script> <script> var win = document.getElementById("qd-globe").contentWindow; document.getElementById("qd-globe").onload = function() { iFrameResize({ resizedCallback: function(data) { data.iframe.style.height = data.height - 25 + "px"; } }); win.postMessage( window.location.toString(), "https://app-staging.1self.co/community/globe" ); return false; } </script>
  
</div>
