<div id="globe">
  
<iframe src="https://api.1self.co/v1/apps/app-id-9bb5f1c77f0df722a9b1bc650a41988a/events/cyber-dojo/create/.animatedglobe?token=591ea03f188deb7e2e80977a5b9ca55d9a640e18231ee097af6a65388cd78110" width="200" height="300">
</iframe>
  
</div>
