
<div id="jon-jagger-container">
  <table>
    <tr>
      <td>
        I'm 
        <a href="http://jonjagger.blogspot.co.uk/" target="_blank">Jon Jagger</a>.
        I built cyber-dojo.
        I'm a software consultant/coach/trainer with 25+ years experience.<br/>
        <a href="mailto:jon@jaggersoft.com?subject=hire you as a software consultant/coach/trainer?&body=Hi Jon,%0D%0ALet's talk..." >Hire me?</a>
      </td>
      <td>
        <a href="http://jonjagger.blogspot.co.uk/" target="_blank">
           <img src="http://3.bp.blogspot.com/-f_cdtWZ-Aaw/VO9qz8G-GqI/AAAAAAAADWU/uPyE9-YP-9M/s1600/*"
             id="jon-jagger-image"/>
        </a>
      </td>
    </tr>
  </table>
</div>
