
<div id="jon-jagger-container">
  <table>
    <tr>
      <td>
        I'm 
        <a href="http://jonjagger.blogspot.co.uk/" target="_blank">Jon Jagger</a>.
        I built cyber-dojo.
        I'm a software development consultant, coach, trainer with 25+ years experience.
        <a href="mailto:jon@jaggersoft.com?subject=hire you as a software consultant/coach/trainer?&body=Thanks for using cyber-dojo%0D%0AAnd thanks for considering hiring me.%0D%0AIf you're an excellent organization I can help you stay ahead.%0D%0AIf you're struggling I can help you turn things around.%0D%0AIf you're not satisfied with my work I won't invoice you.%0D%0AJust hit send and let's talk..." >I can help you</a>.
      </td>
      <td>
        <a href="http://jonjagger.blogspot.co.uk/" target="_blank">
           <img src="http://3.bp.blogspot.com/-f_cdtWZ-Aaw/VO9qz8G-GqI/AAAAAAAADWU/uPyE9-YP-9M/s1600/*"
             id="jon-jagger-image"/>
        </a>
      </td>
    </tr>
  </table>
</div>
