
<div id="licensing-container">
cyber-dojo is free for <em>non</em>-commercial use<span class="dot"></span><br/>
commercial use requires a license<span class="dot"></span><br/>
make a donation to obtain a license<span class="dot"></span>
</div>

