
<div id="licensing-container">
cyber-dojo is free for non-commercial use
lorem ipsum fala quartdhart certy ariud
sed ut perspiciatis unde omnis iste natus
error sit voluptatem accusantium doloremque
laudantium
</div>

