
  <tr>
    <td align="center">
      <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">CyberDojo</a> 
      <a href="http://www.virtualbox.org/">VirtualBox</a>      
      <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
      <a href="http://dl.dropbox.com/u/22404698/TurnKey-CyberDojo-20110610.ova/">image download</a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <%= link_to 'Conceived', 
        { :controller => :dojo, :action => :conceived }
      -%>
      and implemented by 
      <a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <a href="https://github.com/JonJagger/cyberdojo">Gihthub source</a>
      
      <%= link_to 'Tips', 
        { :controller => :dojo, :action => :tips }
      -%>
      
      <%= link_to 'inFrequently Asked Questions', 
        { :controller => :dojo, :action => :ifaq }
      -%>
    </td>
  </tr>

  <tr>
    <td align="center">
      <a href="http://www.accu.org">
        <img src="/images/accu_button.gif" 
             style="border:none;" 
             width="100"
             height="50" 
             title="ACCU is an organisation of programmers who care about professionalism in programming and are dedicated to raising the standard of programming. "/>
      </a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <a href="http://www.MasteringAgilePractice.com">http://www.MasteringAgilePractice.com</a> 
    </td>
  </tr>


