
<div id="messages">
  <% max_messages = 9 -%>
  <% shown = recent(@messages, max_messages) -%>
  <% shown.reverse.each_with_index do |message,index| -%>
     <% parity = (index % 2 == 0) ? "even" : "odd" -%>
     <div class="<%=parity-%> message_container">
       <table>
         <tr>
           <td>
             <%= avatar_image(message[:sender].to_s, 40) -%>
           </td>
           <td style="vertical-align: middle;">
             <%= message[:text] -%>
           </td>
         </tr>
       </table>
     </div>
  <% end -%>
  <% if @messages.length > max_messages -%>
    <% parity = (max_messages % 2 == 0) ? "even" : "odd" -%>    
    <br/>   
    <%= link_to "<span class='button'>...</span>", 
    { :controller => :dojo, 
      :action => "message_board_all?dojo_name=#{@dojo.name}" 
    }, 
    { :title => "Show all messages", 
    }
    -%>
  <% end -%>
</div>

