
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  
  var save_button_disable = function() {
    $j('#save_button').attr('disabled', kata_name() === "");    
  };
    
  var kata_name = function() {
    return $j.trim($j('#name').val());
  };

  $j('#name').keyup(function(event) {
    event.preventDefault();
    save_button_disable();
  });
  
  save_button_disable();
  
  $j('#save_button').click(function() {
    $cd.postTo('/dojo/save', {
      name: kata_name(),
      exercise: $j('input[name="exercise"]:checked').val(),
      language: $j('input[name="language"]:checked').val()
    });    
  });
  
  $j('#cancel_button').click(function() {
    $cd.postTo('/dojo/index');
  });
  
});

//--></script>

<table>
  <tr>          
    <td class="panel">
      <span class="choose_title">name?</span>
      <input type="text"
             id="name"
             size="20"
             value="" />            
    </td>
    <td class="panel">
      <input id="save_button" 
             class="larger button"
             type="submit" 
             value="save" 
             name="save" />
    
      <input id="cancel_button" 
             class="larger button"
             type="button" 
             value="cancel" 
             name="cancel" />
    </td>
  </tr>
</table>
