
<tr>
  <td class="panel">
    No. Listen. Stop trying to go faster, start trying to go <em>slower</em>.<br/>
    Don't think about finishing, think about <em>improving</em>. <br/>
    Think about <em>practising</em>. As a <em>team</em>.<br/>
    That's what cyber-dojo is for. Nothing else.
  </td>
</tr>


