
<tr>
  <td class="panel">
    No. Listen. Stop trying to go faster; start trying to go slower.<br/>
    Don't think about releasing code; think about 
    <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html" target="_blank">practising writing software</a>.<br/>
    As a team. That's what CyberDojo is for. Nothing else.
  </td>
</tr>


