
<tr>
  <td class="panel">
    No. Listen. Stop trying to go faster; start trying to go slower.<br/>
    Don't think about finishing; think about improving. <br/>
    Think about <em>practising writing software</em>.<br/>
    As a team. That's what CyberDojo is for. Nothing else.
  </td>
</tr>


