
<script type="text/javascript"><!--

$(function() {

  $('#please-invoice-me').click(function(event) {
    var url = "mailto:jon@jaggersoft.com?subject=cyber-dojo - please invoice me";
    window.open(url, '_blank');
    return false;
  });

});

//--></script>


<a id="please-invoice-me"
   href="..">
  please invoice me
</a>
