
<script type="text/javascript"><!--

$(function() {

  $('#re-enter-link').click(function(event) {
    event.preventDefault();
    var id = $('#kata-id-input').val();
    $.getJSON('/dojo/re_enter', { id: id }, function(dojo) {
      cd.dialog_reEnter('re-enter', 'cancel', dojo.re_enter_dialog_html).dialog('open');
    });
  });

});

//--></script>

<div id="re-enter">
  <a id="re-enter-link" href="..">re-enter</a>
</div>
