
<script type="text/javascript"><!--

$(function() {

  $('#reenter-button').click(function() {
    var id = $('#kata-id-input').val();
    var title = "<%= raw t('views.buttons.reenter') %>";
    var cancel = "<%= raw t('views.buttons.cancel') %>";
    var button = $(this);
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/dojo/re_enter' , { id: id }, function(dojo) {
      cd.dialog_reEnter(title, cancel, dojo.re_enter_dialog_html).dialog('open');
    }).always(function() {
      button.css('cursor', cursor);
    });
  });

});

//--></script>

<button type="button"
        id="reenter-button">
  <%= raw t("views.buttons.reenter") %>
</button>