
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#resume_button').click(function() {
    var id = $('#kata_id_input').val();
    var title = "<%= t('views.buttons.resume') %>";
    var cancel = "<%= t('views.buttons.cancel') %>";
    $.getJSON('/dojo/resume_json' , { id: id }, function(dojo) {
      cd.dialog_resumeCoding(title, cancel, dojo.resume_dialog_html).dialog('open');
    });
  });

});

//--></script>


<button type="button"
        id="resume_button">
  resume
</button>