
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $('#resume_coding').click(function() {
    cd.run('resume_json', function(id, dojo) {    
      if (dojo.empty) {          
        cd.dialog_dojoIsEmpty(id).dialog('open');
      }
      else {
        cd.dialog_resumeCoding(id, dojo.resume_dialog_html).dialog('open');          
      }
    }); 
  });
    
});

//--></script>

<div class="button"
     title="resume practising programming"
     id="resume_coding">
  resume
</div>