
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#resume_coding').click(function() {
    var ok = $(this).data('ok');
    var cancel = $(this).data('cancel');
    cd.run('resume_json', ok, function(id, dojo) {    
      if (dojo.empty) {          
        cd.dialog_dojoIsEmpty(id, ok).dialog('open');
      }
      else {
        cd.dialog_resumeCoding(id, cancel, dojo.resume_dialog_html).dialog('open');          
      }
    }); 
  });
    
});

//--></script>

<div class="button"
     title="resume practising programming"
     data-ok="<%= t('views.buttons.ok') %>"
     data-cancel="<%= t('views.buttons.cancel') %>"
     id="resume_coding">
  <%= t("views.buttons.resume") %>
</div>