
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $('#resume_coding').click(function() {
    cd.run('exists_json', function(id, dojo) {    
      var title = 'resume-coding';
      if (dojo.exists === false) {
        cd.dialog_cantFindDojo(title, id);
      } else {    
        cd.dialog_resumeCoding(title, id, dojo);
      }
    });
  });
    
});

//--></script>

<div class="button"
     title="resume practising"
     id="resume_coding">
  resume
</div>