
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#resume_button').click(function() {
    var id = $('#kata_id_input').val();    
    var ok = "<%= t('views.buttons.ok') %>";
    var cancel = "<%= t('views.buttons.cancel') %>";   
    $.getJSON('/dojo/resume_json' , { id: id }, function(dojo) {    
      if (dojo.empty) {          
        cd.dialog_dojoIsEmpty(id, ok).dialog('open');
      } else {
        cd.dialog_resumeCoding(cancel, dojo.resume_dialog_html).dialog('open');          
      }
    }); 
  });

});

//--></script>

<button type="button"
        class="tipped"
        id="resume_button">
  <%= t("views.buttons.resume") %>
  <div class="tooltip">
     resumes coding as a specific avatar
  <div>
</button>
