
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#resume_button').click(function() {
    var ok = $(this).data('ok');
    var cancel = $(this).data('cancel');
    cd.run('resume_json', ok, function(id, dojo) {    
      if (dojo.empty) {          
        cd.dialog_dojoIsEmpty(id, ok).dialog('open');
      } else {
        cd.dialog_resumeCoding(cancel, dojo.resume_dialog_html).dialog('open');          
      }
    }); 
  });

});

//--></script>

<button type="button"
        class="tipped"
        data-ok="<%= t('views.buttons.ok') %>"
        data-cancel="<%= t('views.buttons.cancel') %>"
        id="resume_button">
  <%= t("views.buttons.resume") %>
  <div class="tooltip">
     resume coding
  <div>
</button>
