
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#review').click(function() {
    var id = $('#kata_id_input').val();
    if (!$(this).attr('disabled')) {
      cd.get('/dashboard/show', { id: id }, '_blank');
    }
  });
  
});

//--></script>

<div class="button"
     title="review practising programming"
     data-ok="<%= t('views.buttons.ok') %>"     
     id="review">
  <%= t("views.buttons.dashboard") %>
</div>

