
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#review_coding').click(function() {
    cd.run('exists_json', function(id, dojo) {
      if (!dojo.exists) {
        cd.dialog_cantFindDojo('review-coding', id);
      } else {
        cd.get('/dashboard/show', { id: id }, '_blank');
      }
    });
  });
  
});

//--></script>

<div class="button"
     title="review practice"
     id="review_coding">
  review
</div>

