
<script type="text/javascript"><!--

$(function() {

  $('#review-button').click(function() {
    var id = $('#kata-id-input').val();
    var url = '/dashboard/show/' + id;
    window.open(url)
  });

});

//--></script>

<button type="button" id="review-button">review</button>
