
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#review_coding').click(function() {
    var ok = $(this).data('ok');  
    cd.run('review_json', ok, function(id, dojo) {
      if (dojo.empty) {          
        cd.dialog_dojoIsEmpty(id, ok).dialog('open');
      }
      else {
        cd.dialog_reviewCoding(id, ok, dojo.review_dialog_html).dialog('open');          
      }    
    });
  });
  
});

//--></script>

<div class="button"
     title="review practising programming"
     data-ok="<%= t('views.buttons.ok') %>"     
     id="review">
  <%= t("views.buttons.review") %>
</div>

