
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#review_button').click(function() {
    var id = $('#kata_id_input').val();
    cd.get('/dashboard/show', { id: id }, '_blank');  
  });
  
});

//--></script>

<button type="button"
        class="tipped"
        data-ok="<%= t('views.buttons.ok') %>"     
        id="review_button">
  <%= t("views.buttons.review") %>
  <div class="tooltip">
     review all code
  </div>
</button>

