
<script type="text/javascript"><!--

$(document).ready(function() {

  var reviewButton = $('#review_button');
  reviewButton.click(function() {
    var id = $('#kata_id_input').val();
    cd.get('/dashboard/show', { id: id }, '_blank');
  });
  reviewButton.tooltip(cd.tipSettings());
  
});

//--></script>

<input type="button"
       class="button"
       data-ok="<%= t('views.buttons.ok') %>"     
       id="review_button"
       value="<%= t("views.buttons.review") %>">
  <div class="tooltip">
     review all code
  </div>
</input>

