
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#review_coding').click(function() {
    cd.run('review_json', function(id, dojo) {
      cd.get('/dashboard/show', { id: id }, '_blank');
    });
  });
  
});

//--></script>

<div class="button"
     title="review practising programming"
     id="review_coding">
  review
</div>

