
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#review_coding').click(function() {
    cd.run('review_json', function(id, dojo) {
      if (dojo.empty) {          
        cd.dialog_dojoIsEmpty(id).dialog('open');
      }
      else {
        cd.dialog_reviewCoding(id, dojo.review_dialog_html).dialog('open');          
      }    
    });
  });
  
});

//--></script>

<div class="button"
     title="review practising programming"
     id="review_coding">
  <%= t("views.buttons.review") %>
</div>

