

<div align="center" class="small">
  enter your id<br/>
</div>
<input type="text"
       id="kata_id_input"
       size="12"
       value="<%= @id %>" />
<div>&nbsp;</div>

<table>
  <tr align="center">
    <td>
      <%= render :partial => 'start_coding_button' %>
      <div class="medium">
        coding
      </div>      
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <%= render :partial => 'resume_coding_button' %>            
      <div class="medium">
        coding
      </div>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>    
    <td>
      <%= render :partial => 'review_coding_button' %>                        
      <div class="medium">            
        coding
      </div>
    </td>
  </tr>          
</table>
