
<div id="enter_a_practice_id">
  <%= t("views.labels.enter_practice_id") %>
</div>

<input class="kata_id_input"
       type="text"
       id="kata_id_input"
       title="An id contains only the digits 0123456789 and letters ABCDEF, and is case insensitive."
       size="8"
       value="<%= @id[0..5] %>" />

