
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $.each(<%=@buttons.to_json.html_safe%>,
    function(i, name) {
      $('#' + name).click(function() {
        $.getJSON('/dojo/button_' + name, function(json) {
          cd.dialog(json.html, json.size, name).dialog('open');
        });
      });
    });

});

//--></script>

<% @buttons.each do |name| %>
  <div type="button"
       class="button"
      id="<%= name %>">
      <%= name %>
  </div>
<% end %>
