
<div id="enter_a_practice_id">
  enter a practice-id
</div>

<input type="text"
       id="kata_id_input"
       title="case insensitive, 5 characters are usually enough"
       size="12"
       value="<%= @id %>" />

