    
<div align="center">
<table>
  <tr>
    <td>
      <%= render :partial => 'shared/raspberry_pi_logo',
                 :locals => { :width => 80, :height => 100 } %>
    </td>

    <td>
      <form action="https://www.paypal.com/cgi-bin/webscr"
            method="post"
            target="_blank">
        <input type="hidden"
               name="cmd"
               value="_s-xclick">
        <input type="hidden"
               name="hosted_button_id"
               value="7HAUYJCMFCS8C">
        <input type="image"
               src="/images/btn_donateCC_LG.gif"
               border="0"
               width="220"
               height="60"               
               name="submit"
               alt="PayPal - The safe, easier way to pay online.">
        <img alt=""
             border="0"
             src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif"
             width="1"
             height="1">        
      </form>
    </td>

    <td>
      &nbsp;
    </td>
    
    <td>
      <div id="please_donate">
        <%= raw t("views.labels.please_donate") %>
      </div>
    </td>
  </tr>
</table>
</div>