
<table class="align-center">
  <tr>
    <td>
      <%= render :partial => 'start_button' %>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <%= render :partial => 'resume_button' %>            
    </td>
    <td>
      &nbsp;&nbsp;
    </td>    
    <td>
      <%= render :partial => 'review_button' %>                        
    </td>
  </tr>          
</table>
