
<table valign="top">
  <tr>
    <td>
      on <em>each</em> computer enter your coding-practice

      <table>
        <tr>
          <td align="right">
            id&nbsp;
          </td>
          <td>
            <input type="text"
                      id="kata_id_input"
                      size="12"
                      value="<%=@id-%>" />
          </td>
        </tr>

        <tr>
          <td align="right">
            and&nbsp;
          </td>
          <td>
            <%= render :partial => 'start_coding_button' -%>
            or
            <%= render :partial => 'resume_coding_button' -%>
            coding ;
          </td>
        </tr>

        <tr>
          <td align="right">
            then&nbsp;
          </td>
          <td>
            <%= render :partial => 'review_coding_button' -%>
            your code ;
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>

