

<table>
  <tr>
    <td>
      <span class="medium">
        &hellip;enter your id<br/>
      </span>
    </td>
    <td>
      <input type="text"
             id="kata_id_input"
             size="12"
             value="<%= @id %>" />
    </td>
  </tr>
  
  <tr>
    <td align="right">
      <span class="medium">
        and
      </span>
    </td>
    <td>
      <%= render :partial => 'start_coding_button' %>
      <span class="medium">
        coding
      </span>
    </td>
  </tr>
  <tr>
    <td align="right">
      <span class="medium">
        or
      </span>
    </td>
    <td>
      <%= render :partial => 'resume_coding_button' %>            
      <span class="medium">
        coding
      </span>
    </td>
  </tr>
  <tr>
    <td align="right">
      <span class="medium">            
        then
      </span>
    </td>
    <td>
      <%= render :partial => 'review_coding_button' %>                        
      <span class="medium">            
        coding
      </span>
    </td>
  </tr>          
</table>
