

<div align="center" class="small kata_id_input_words">
  on each computer<br/>
</div>
<input type="text"
       id="kata_id_input"
       size="12"
       value="<%= @id %>" />
<div align="center" class="small kata_id_input_words">
  enter your id<br/>
</div>
