
<span class="medium">
  &hellip;on <em>each</em> computer enter your coding-practice<br/>
</span>

<table>
  <tr>
   <td>
    <span class="medium">
      &nbsp;id
    </span>
      <input type="text"
             id="kata_id_input"
             size="11"
             value="<%=@id-%>" />
    </td>
    <td align="right">
      <span class="medium">
        &nbsp;and&nbsp;
      </span>
    </td>
    <td>
      <%= render :partial => 'start_coding_button' -%>
    </td>
  </tr>
  <tr>
    <td>            
    </td>
    <td align="right">
      <span class="medium">
        or&nbsp;
      </span>
    </td>
    <td>
      <%= render :partial => 'resume_coding_button' -%>            
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td align="right">
      <span class="medium">            
        then&nbsp;
      </span>
    </td>
    <td>
      <%= render :partial => 'review_coding_button' -%>                        
    </td>
  </tr>          
</table>
