
<script type="text/javascript"><!--

$(document).ready(function() {

  var kata_id_input = $('#kata_id_input');
  var start = $('#start');
  var resume = $('#resume');
  var review = $('#review');
  
  var enable = function(button) {
    button.removeAttr('disabled');
    //button.attr('title', title);          
  };
  
  var disable = function(button) {
    button.attr('disabled', true);
    //button.removeAttr('title');          
  };
  
  kata_id_input.keyup(function(event) {
    var id = kata_id_input.val();
    $.getJSON('/dojo/valid_id', { id: id }, function(dojo) {
      if (dojo.exists) {
        console.log("enable");
        enable(start);
        enable(resume);
        enable(review);
      } else {
        console.log("disable");
        disable(start);
        disable(resume);
        disable(review);
      }
    });
  });  
});

//--></script>

<div id="enter_a_practice_id">
  <%= t("views.labels.enter_a_practice_id") %>
</div>

<input class="kata_id_input"
       type="text"
       id="kata_id_input"
       title="An id contains only the digits 0123456789 and letters ABCDEF, and is case insensitive."
       size="8"
       value="<%= @id[0..5] %>" />

