
<script type="text/javascript"><!--

$(document).ready(function() {

  var kata_id_input = $('#kata_id_input');
  var buttons = $('#start_button,#resume_button,#review_button');
  
  var enableDisableStartResumeReview = function() {
    var id = kata_id_input.val();
    $.getJSON('/dojo/valid_id', { id: id }, function(dojo) {
      if (dojo.exists) {
        buttons.removeAttr('disabled');
      } else {
        buttons.attr('disabled', true);
      }
    });    
  };
  
  cd.tipify(kata_id_input);
  
  kata_id_input.keyup(function(event) {
    enableDisableStartResumeReview();
  });
  
  enableDisableStartResumeReview();
});

//--></script>

<div id="enter_a_practice_id">
  <%= t("views.labels.enter_a_practice_id") %>
</div>

<input class="kata_id_input"
       type="text"
       id="kata_id_input"
       size="8"
       value="<%= @id[0..5] %>">
  <div class="tooltip">
    An id contains only<br>
    the digits 0123456789<br>
    and letters ABCDEF,<br>
    and is case insensitive.
  </div>
</input>

