
<table class="align-center">
  <tr>
    <td>      
      <% size = 57 %>      
      <%= link_to logo_image(57, 'cyber-dojo') 
          {
            :controller => :dojo,
            :action => :index
          } %>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <div style="font-size: 4em;">cyber-dojo</div>                
    </td>
  </tr>
</table>

