
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#setup_button').click(function() {
    var id = $('#kata_id_input').val();
    var url = '/setup/show/' + id;
    window.location = url;
  });

});

//--></script>

<button type="button"
        id="setup_button">
  <%= t("views.buttons.setup") %>
</button>
