
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#setup').click(function() {
    cd.postTo('/setup/show', {
      id: $('#kata_id_input').val()
    });
  });

});

//--></script>

<div id="get_a_new_practice_id">
  <%= t("views.labels.get_a_new_practice_id") %>
</div>

<div id="setup"
     title="choose your programming language and exercise"
     class="button">
  <%= t("views.buttons.setup") %>
</div>
