
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#setup').click(function() {
    var title = 'setup';
    var ok = $(this).data('ok');
    var cancel = $(this).data('cancel');       
    $.get('/setup/show', function(html) {
      cd.dialog_setup(html, title, ok, cancel).dialog('open');
    });  
  });

});

//--></script>

<div id="get_a_new_practice_id">
  <%= t("views.labels.setup") %>
</div>

<div id="setup"
     title="choose your programming language and exercise"
     data-ok="<%= t('views.buttons.ok') %>"     
     data-cancel="<%= t('views.buttons.cancel') %>"     
     class="button">
  <%= t("views.buttons.setup") %>
</div>
