
<script type="text/javascript"><!--

$(document).ready(function() {
  
  var setup = $('#setup');  
  setup.click(function() {
    cd.postTo('/setup/show', {
      id: $('#kata_id_input').val()
    });
  });
  setup.tooltip(cd.tipSettings());
  
});

//--></script>

<div id="get_a_new_practice_id">
  <%= t("views.labels.get_a_new_practice_id") %>
</div>

<input type="button"
       class="button"
       id="setup"
      value="<%= t("views.buttons.setup") %>">
  <div class="tooltip">
     choose your<br>programming<br>language<br>and exercise
  </div>
</input>
