
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $('#start_coding').click(function() {   
    cd.run('start_json', function(id, dojo) {
      var title = 'start-coding';
      if (!dojo.exists) {
        cd.dialog_cantFindDojo(title, id);
      } else if (dojo.full) {
        cd.dialog_fullDojo(title, id);
      } else {
        cd.postTo('/kata/edit', { id: id, avatar: dojo.avatar_name  }, '_blank');                          
      }
    });
  });

});

//--></script>

<div class="button"
     title="start practising"
     id="start_coding">
  start
</div>