
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  // Opening the start-coding dialog from here at the home page
  // (rather than from inside the edit-test page) is deliberate.
  // This way the edit-test page appears in a new tab _without_
  // getting any of those annoying 'popup blocked' messages.
  
  $('#start_coding').click(function() {
    var open = 'open';
    var id = $('#kata_id_input').attr('value');
    id = $.trim(id);
    if (id === '') {
      cd.dialog_noId().dialog(open);
    }
    else {
      cd.run(id, 'start_json', function(dojo) {
        if (!dojo.exists) {
          cd.dialog_cantFindDojo(id).dialog(open);
        }
        else if (dojo.full) {
          cd.dialog_dojoIsFull(id).dialog(open);
        }
        else {
          cd.dialog_startCoding(id, dojo.avatar_name, dojo.start_dialog_html).dialog(open);
        }
      });
    }
  });

});

//--></script>

<div class="button"
     title="start practising programming"
     id="start_coding">
  start
</div>