
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#start_button').click(function() {    
    var ok = $(this).data('ok');
    cd.run('start_json', ok, function(id, dojo) {
      if (dojo.full) {        
        cd.dialog(dojo.full_dialog_html, id, ok).dialog('open');
      } else {
        cd.dialog_startCoding(id, ok, dojo.avatar_name, dojo.start_dialog_html).dialog('open');
      }
    });
  });
  
});

//--></script>

<button type="button"
        class="tipped"
        data-ok="<%= t('views.buttons.ok') %>"
        id="start_button">
  <%= t("views.buttons.start") %>
  <div class="tooltip">
     assigns you an avatar and starts your coding practice
  </div>
</button>