
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $('#start_coding').click(function() {
    cd.run('start_json', function(id, dojo) {
      if (dojo.full) {
        cd.dialog_dojoIsFull(id).dialog('open');
      }
      else {
        cd.dialog_startCoding(id, dojo.avatar_name, dojo.start_dialog_html).dialog('open');
      }
    });
  });

});

//--></script>

<div class="button"
     title="start practising programming"
     id="start_coding">
  start
</div>