
<div id="testimonial">
  <div id="title">testimonial</div>
  much learning has taken place at the alumni of
  <a href="http://codecraftsmansaturdays.blogspot.com/" target="_blank">code craftsman saturdays</a>
  in large part thanks to cyber&#8209;dojo
</div>
