
<table width="100%">
<tr>
<td>
    
<div class="panel">
cyber-dojo is the world's simplest <em>non</em>-development environment!
</div>

<div class="panel">
In cyber-dojo the aim is to <em>practice</em> by going slower and
focusing on <em>improving</em> rather than finishing.
</div>

<div class="panel">
cyber-dojo was conceived, designed, and is being implemented by
<a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
</div>

</td>
</tr>
</table>


