
<table width="100%">
<tr>
<td>
    
<div class="panel">
  cyber-dojo was conceived, designed, and is being implemented by
  <a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
</div>

<div class="panel">
  cyber-dojo has a 
  <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">blog page</a>.
  Tell me about your use of cyber-dojo and I'll add it to the page.
</div>

<div class="panel">
  cyber-dojo server source lives on
  <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">github</a>  
</div>

<div class="panel">
  Why not build your own server using this
  <a href="http://dl.dropbox.com/u/11033193/CyberDojo/Turnkey-CyberDojo-20120515.ova">cyber-dojo image</a>
  (817 MB)
  which was built from
  <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
  and runs in
  <a href="http://www.virtualbox.org/">VirtualBox</a>.
  You'll want to read the github <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">readme.txt</a>.
</div>

</td>
</tr>
</table>


