
<table>
<tr>
<td>
    
<div class="panel">
  CyberDojo was conceived, designed, and is being implemented by
  <a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
</div>

<div class="panel">
  CyberDojo has a 
  <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">blog page</a>.
  Tell me about your use of CyberDojo and I'll add it to the page.
</div>

<div class="panel">
  <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">CyberDojo server source on github</a>  
</div>

<div class="panel">
  http://www.cyber-dojo.com has an unreliable
  link to the internet. Why not build your own
  server using this
  <a href="http://dl.dropbox.com/u/22404698/TurnKey-CyberDojo-20110610.ova">CyberDojo image</a>
  (478 MB)
  which was built from
  <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
  and runs in
  <a href="http://www.virtualbox.org/">VirtualBox</a>.
  You'll want to read the github <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">readme.txt</a>.
</div>

</td>
</tr>
</table>


