
<table data-width="600">
  <tr>
    <td>
      <div class="panel">
        The cyber-dojo rails server is open source and 
        <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt"
           target="_blank">lives on github</a>.
        You'll need to install compilers for any languages (eg Java) 
        you wish to practice.
      </div>
    </td>
  </tr>
  <tr>
    <td>  
      <div class="panel">
        Alternatively, you can run your own cyber-dojo server using this 817MB 
        <a href="http://dl.dropbox.com/u/11033193/CyberDojo/Turnkey-CyberDojo-20120515.ova">ova image file</a> 
        which has all the language compilers installed. 
        It was built from 
        <a href="http://www.turnkeylinux.org/"
           target="_blank">TurnKey Linux</a> 
        and runs in 
        <a href="http://www.virtualbox.org/"
           target="_blank">VirtualBox</a>. 
        You'll want to read the 
        <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt"
           target="_blank">github readme.txt</a>.
      </div>
    </td>
  </tr>      
  <tr>
    <td>
      <div class="panel">
        You can also 
        <a href="http://jonjagger.blogspot.co.uk/2012/05/building-rails-3-turnkey-image.html" target="_blank">
        build your own Turnkey Linux server
        </a> from scratch.
      </div>
    </td>
  </tr>
</table>