
<table>
  <tr>
    <td>
      Why don't you add syntax highlighting ?
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        No. Listen. Stop trying to go faster, start trying to go <em>slower</em>.<br/>
        Don't think about finishing, think about <em>improving</em>.<br/>
        Think about <em>practising</em> as a <em>team</em>.<br/>
        That's what cyber-dojo is built for.
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      Why don't you add simple auto-refactoring ?
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        No. Listen. Stop trying to go faster, start trying to go <em>slower</em>.<br/>
        Don't think about finishing, think about <em>improving</em>.<br/>
        Think about <em>practising</em> as a <em>team</em>.<br/>
        That's what cyber-dojo is built for.
      </div>
    </td>
  </tr>

  <tr>
    <td>
      Why don't you add ... ?        
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="panel">
        No. Listen. Stop trying to go faster, start trying to go <em>slower</em>.<br/>
        Don't think about finishing, think about <em>improving</em>.<br/>
        Think about <em>practising</em> as a <em>team</em>.<br/>
        That's what cyber-dojo is built for.
      </div>
    </td>
  </tr>
  
</table>


