
<table>
  <tr>
    <td>
      <div class="panel">
        10. Click <span id="setup" class="button">setup</span>
        choose a <span class="filename">language</span>
        choose an exercise
        click <span id="ok" class="button">ok</span><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You'll get an id, e.g.,
        <span class='kata_id_input'>&nbsp;3AF65A&nbsp;</span>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      <div class="panel">
        20. At <em>each</em> computer
        enter the <span class="kata_id_input">&nbsp;3AF65A&nbsp;</span> id
        and click <div id="start_coding" class="button">start</div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        30. Each computer will be assigned an animal (e.g. panda)
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        40. Code for a set amount of time e.g. 30/45/60 minutes.
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        50. When time is up use the
        <span id="review_coding" class="button">review</span> dashboard
        to review everyones<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; code and choose what aspects to focus
        on improving in the next iteration.
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        60. goto 10<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Start again, doing
        the <em>same</em> exercise, 
        in the <em>same</em> language.
      </div>
    </td>
  </tr>

</table>



