
<script language="javascript" type="text/javascript"><!--

var id = "<%=@id-%>";

$j(document).ready(function() {

  var message = "<h3>Sorry but there is no practice with an id of </h3><h2>" + id + "</h2>";

  var sorry = $j('<div>')
    .html('<div style="font-size: 1.0em;">' + message + '</div>')
    .dialog({
      autoOpen: false,
      width: 600,
      modal: true,
      buttons: {
        ok: function() {
          window.close();
        }
      }
    });
  sorry.dialog('open');  
  
});

//--></script>
