
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>

<%= render :partial => 'dojo/title',
           :locals => { :title => 'CyberDojo' } -%>

<table class="panel">
  <tr>
    <td style="font-size: 2em;">
      There is no Dojo called
      <br/>
      <%=@dojo_name-%>
    </td>
  </tr>
</table>

<input type="button"
       class="button"
       id="close"
       value="Close"/>

