
<script language="JavaScript"><!--
function choose_kata(id)
{
  $('kata_id').value = id;
  document.chooseKata.submit();
}
//--></script>

<form name="chooseKata" action="/dojo/choose_avatar">

<input readonly 
       type="hidden"
       name="dojo_id" 
       id="dojo_id" 
       type="text" 
       value="<%=h @dojo_id-%>">

<input readonly 
       type="hidden"
       name="kata_id" 
       id="kata_id" 
       type="text" 
       value="<%=h @kata_id-%>">

<h2><b>Select your language</b></h2>

<table cellspacing="4" 
       class="rounded panel">
  <% @katas.sort.each do |kata| -%>
  <tr>
    <td>
      <% if kata == "cplusplus" -%>
      <%   name = "c++" -%>
      <% elsif kata == "csharp" -%>
      <%   name = "c#" -%>
      <% else -%>
      <%   name = kata -%>
      <% end -%>
      <input type="button" 
             onClick='choose_kata("<%=kata-%>");'
             value="<%=name-%>">
    </td>
  </tr>
  <% end -%>
</table>

</form>


