
<script language="JavaScript"><!--
function select_CyberDojo(id)
{
  $('dojo_id').value = id;
  document.chooseDojo.submit();
}
//--></script>

<form name="chooseDojo" action="/dojo/choose_avatar">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="dojo_id" 
       id="dojo_id" 
       type="text" 
       value="<%=h @dojo_id-%>">

<h1><b>Welcome to CyberDojo</b></h1>

<table class="rounded panel" 
       cellspacing="6"
       cellpadding="3">
  <% @dojos.sort.each do |dojo| -%>
  <tr>
    <td>
      <input type="button" 
             onClick='select_CyberDojo("<%=dojo-%>");'
             value="<%=dojo-%>">
    </td>
  </tr>
  <% end -%>
</table>

<h2><i>Click yours...</i></h2>

</form>


