
<script language="JavaScript"><!--
function select_language(id)
{
  $('kata_id').value = id;
  document.chooseLanguage.submit();
}
//--></script>

<form name="chooseLanguage" action="/dojo/choose_avatar">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="kata_id" 
       id="kata_id" 
       type="text" 
       value="<%=@kata_id-%>">

<h2><b>Choose your language</b></h2>

<table cellspacing="4" 
       class="rounded panel">
  <% %w(c c++ c# java ruby).sort.each do |language| -%>
  <tr>
    <td>
      <input type="button" 
             onClick='select_language("<%=language-%>");'
             value="<%=language-%>">
    </td>
  </tr>
  <% end -%>
</table>

</form>


