
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {
  
  $('#ok_button').click(function() {
    
    cd.postTo('/dojo/save', {
      name: "no-name",
      exercise: $('input[name="exercise"]:checked').val(),
      language: $('input[name="language"]:checked').val()
    });    
  });
  
  $('#cancel_button').click(function() {
    cd.postTo('/dojo/index');
  });
  
  // remove radio bullets - they are sometimes causing layout weirdness in firefox
  $('input[type=radio]').hide();  
  
});

//--></script>

<table cellpadding="0" cellspacing="0">
  <tr valign="center">
    <td class="panel" colspan="2">
      <table>
        <tr>
          <td>
            <% size = 50 %>
            <%= link_to image_tag("/images/avatars/cyber-dojo.png",
                                      :border => 0,
                                      :size => "#{size}x#{size}",
                                      :title => 'cyber-dojo'),
                                  {
                                    :controller => :dojo,
                                    :action => :index
                                  } %>
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="button"
                   class="large button"
                   id="ok_button" 
                   value="ok" />
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="button"
                   class="large button"
                   id="cancel_button" 
                   value="cancel" />
          </td>
        </tr>
      </table>
    </td>
    <td class="light_margin panel" valign="top" rowspan="2">
      <%= render :partial => 'instructions' %>      
    </td>              
  </tr>
  
  <tr>
    <td class="panel" valign="top">
      <%= render :partial => 'choose_language' %>      
    </td>
    <td class="panel" valign="top">
      <%= render :partial => 'choose_exercise' %>      
    </td>
  </tr>
</table>
