
<script language="JavaScript"
        type="text/javascript"><!--

$j(document).ready(function() {
  
  $j('#create_button').click(function() {
    $cd.postTo('/dojo/save', {
      name: "no-name",
      exercise: $j('input[name="exercise"]:checked').val(),
      language: $j('input[name="language"]:checked').val()
    });    
  });
  
  $j('#cancel_button').click(function() {
    $cd.postTo('/dojo/index');
  });
  
});

//--></script>

<table>
  <tr>
    <td colspan="2">
      <input id="create_button" 
             class="larger button"
             type="button" 
             value="create" 
             name="create" />      
      <input id="cancel_button" 
             class="larger button"
             type="button" 
             value="cancel" 
             name="cancel" />
    </td>
    <td class="light_margin panel" valign="top" rowspan="2">
      <%= render :partial => 'instructions' -%>      
    </td>              
  </tr>
  
  <tr>
    <td class="panel" valign="top">
      <%= render :partial => 'choose_language' -%>      
    </td>
    <td class="panel" valign="top">
      <%= render :partial => 'choose_exercise' -%>      
    </td>
  </tr>
</table>


