
<table width="100%">
<tr>
<td>

<div class="panel">
Look
<img src="/images/traffic-light-red.png" width="20" height="60"/>
&rarr;
<img src="/images/traffic-light-green.png" width="20" height="60"/>
progressions as evidence of starting with a failing test.
</div>

<div class="panel">
Look for
<img src="/images/traffic-light-green.png" width="20" height="60"/>
&rarr;
<img src="/images/traffic-light-green.png" width="20" height="60"/>
progressions as evidence of refactoring.
</div>

<div class="panel">
When everyone is at
<img src="/images/traffic-light-green.png" width="20" height="60"/>
set a challenge to find some code you can delete and the
tests still all pass!
</div>

<div class="panel">
When everyone is at
<img src="/images/traffic-light-green.png" width="20" height="60"/>
set a challenge to find a bug, and write a failing test for it.
</div>

</td>
</tr>
</table>
