 
<h1 align="center">CyberDojo: <%= @dojo.name -%></h1>

<%= render :partial => 'dashboard' -%>

<%= periodically_call_remote :url => { :action => 'dashboard_heartbeat',
                                       :dojo_name => @dojo.name
                                     }, 
                             :frequency => 5 -%>

