
<%= render :partial => 'banner' -%>

<table>
  <tr>
    <td>
      <%= render :partial => 'dashboard_control' -%>
    </td>
    <td>
      <%= render :partial => 'traffic_lights' -%>
      <span class="small_title">&nbsp;Click a traffic light to view its code.</span>
    </td>
  </tr>
</table>

<%= periodically_call_remote :url => { :action => 'dashboard_heartbeat',
                                       :dojo_name => @dojo.name
                                     }, 
                             :with => "{ secs_per_col: Field.getValue('secs_per_col')," +
                                      "  max_cols: Field.getValue('max_cols')" +
                                      "}",                                     
                             :frequency => 10 -%>

