 
<%= render :partial => 'banner' -%>

<%= link_to "<span class='button'>Remove time gaps</span>", 
{ :controller => :dojo, 
  :action => "dashboard_collapsed?dojo_name=#{@dojo.name}" 
}, 
{ :title => "Collapse the traffic lights", 
}
-%>        

<%= render :partial => 'traffic_lights' -%>
&nbsp;Click a traffic light to view its code.

<%= periodically_call_remote :url => { :action => 'dashboard_heartbeat',
                                       :dojo_name => @dojo.name
                                     }, 
                             :frequency => 10 -%>

