
<table>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;Why don't you add syntax highlighting ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>

  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;Why don't you add simple auto-refactoring ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>

  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;Why don't you add ... ?</td>
  </tr>
  <%= render :partial => 'no_listen_tr' -%>

</table>


