
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>


<%= render :partial => 'dojo/title',
           :locals => { :title => 'CyberDojo' } -%>

<table class="panel">
  <tr>
    <td style="font-size: 2em;">
    <%=@dojo_name-%><br/>
    is full (16 participants).</td>
  </tr>
</table>

<input type="button"
       class="button"
       id="close"
       value="Close"/>


