
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
    
    var welcome = $j('<div>')
      .html($j('#avatar_grid').html())
      .dialog({
        autoOpen: false,
        width: 600,
        title: "Sorry - the Dojo is full",
        modal: true,
        buttons: {
          ok: function() {
            $j(this).dialog('close');
            window.close();
          }
        }
      });
    welcome.dialog('open');  
});

//--></script>

<div style="display: none;">
  <div id="avatar_grid">
    <table align="center"
           class="panel">
      <% index = 0 -%>
      <% size = 100 -%>
      <% (1..4).each do |_| -%>
      <tr>
        <% (1..4).each do |_| -%>
        <td>
          <% avatar_name = @all_avatar_names[index] -%>
          <%= bw_avatar_image(avatar_name, size) -%>          
          <% index += 1 -%>
        </td>
        <% end -%>     
      </tr>
      <% end -%>
    </table>
  </div>
</div>
