
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>

<table align="center">
  <tr>
    <td>      
      <% size = 60 -%>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0,
          :size => "#{size}x#{size}",
          :title => 'Home page') -%>
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <h1 title="Twitter tag == @CyberDojo">@CyberDojo</h1>                
    </td>
  </tr>
</table>

<table class="panel">
  <tr>
    <td style="font-size: 2em;">
      Sorry, <%=@id-%>
      is full.
    </td>
  </tr>
</table>

<input type="button"
       class="button"
       id="close"
       value="Close"/>


