
<table>
  <tr>
    <td>
      <h1 class="title">Cyber Dojo</h1> 
    </td>
  </tr>
</table>

<div style="width:45em;">

<p>
Dojo is a japanese word for the place where martial artists practice their katas. 
A kata is a detailed pre-arranged choreographed 
patterns of movements practiced either solo or in groups. 
The Cyber Dojo is designed to increase personal and 
technical agility by hosting <span class="practice_words">deliberative practice</span>.
</p>
<p>
In her book <a href="http://www.amazon.co.uk/Leading-Lean-Software-Development-Addison-Wesley/dp/0321620704">Leading Lean Software Development</a> 
Mary Poppendeick writes:
<blockquote>
    <span class="practice_words">Deliberate practice</span> does not mean doing what you are good at; 
    it means challenging yourself, doing what you are <em>not</em> good at. 
</blockquote>
</p>

<p>
On his <a href="http://norvig.com/21-days.html">website</a>, Peter Norvig 
(director of research at Google) writes:
<blockquote>
    The key to developing expertise is <span class="practice_words">deliberative practice</span>: not 
    just doing it again and again, but challenging yourself with a 
    task that is just <em>beyond</em> your current ability, trying it, 
    analyzing your performance while and after doing it, and 
    correcting any mistakes. Then repeat.
</blockquote>
</p>

<p>
In his book, 
<a href="http://www.amazon.co.uk/The-Fifth-Discipline/dp/1905211201">The Fifth Discipline</a>, 
Peter Senge writes 
<blockquote>
    The total absence of <span class="practice_words">meaningful practice</span> or rehearsal is probably 
    the predominant factor that keeps most teams from being effective learning units. 
</blockquote>
</p>
</div>



