
<h1>CyberDojo</h1>
<h3>inFrequently Asked Questions</h3>

<table>

<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Why don't you add syntax highlighting?
</td>
</tr>

<%= render :partial => 'no_listen_tr' -%>

<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Why don't you add keyboard shortcuts?
</td>
</tr>

<%= render :partial => 'no_listen_tr' -%>

<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Why don't you add ...?
</td>
</tr>

<%= render :partial => 'no_listen_tr' -%>

<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Video of the Roman Numerals kata in Ruby at <a href="http://vimeo.com/15104374" target="_blank">http://vimeo.com/15104374</a>
<br/>
&nbsp;&nbsp;Open sourced on Github at <a href="http://github.com/JonJagger/cyberdojo" target="_blank">http://github.com/JonJagger/cyberdojo</a>
<br/>
&nbsp;&nbsp;More information at <a href="http://jonjagger.blogspot.com/p/cyberdojo.html" target="_blank">http://jonjagger.blogspot.com/p/cyberdojo.html</a>
<br/>
&nbsp;&nbsp;<a href="/images/avatars/big/AllAvatars.pdf" target="_blank" title="So you can print your own badges">Avatars PDF</a> 
</td>
</tr>

</table>

