
<%= render :partial => 'dojo/title', :locals => { :title => 'inFrequently<br/>Asked Questions' } -%>

<table>

<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Why don't you add syntax highlighting?
</td>
</tr>

<%= render :partial => 'no_listen_tr' -%>

<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Why don't you add simple auto-refactoring?
</td>
</tr>

<%= render :partial => 'no_listen_tr' -%>

<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Why don't you add ...?
</td>
</tr>

<%= render :partial => 'no_listen_tr' -%>

<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td>
&nbsp;&nbsp;Video of the Roman Numerals kata in Ruby at <a href="http://vimeo.com/15104374">http://vimeo.com/15104374</a>
<br/>
&nbsp;&nbsp;Open sourced on Github at <a href="http://github.com/JonJagger/cyberdojo">http://github.com/JonJagger/cyberdojo</a>
<br/>
&nbsp;&nbsp;More information at <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">http://jonjagger.blogspot.com/p/cyberdojo.html</a>
<br/>
&nbsp;&nbsp;<a href="/images/avatars/AllAvatars.pdf" title="So you can print your own badges">Avatars PDF</a> 
</td>
</tr>

</table>

