
<h1 align="center">CyberDojo - the Coding Gym</h1>
<h3 align="center">Practising the <em>collaborative</em> game called software development</h3>

<table valign="top" align="center">

<tr>
<td class="panel">
<div align="center"><b>inFrequently Asked Questions</b></div>
<br/>

&nbsp;&bull;&nbsp;Why don't you add syntax highlighting?<br/>
<br/>
No. Listen. Stop trying to go faster; start trying to go slower.<br/>
Don't think about releasing code; think about <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html">practising coding</a>.<br/>
That's what CyberDojo is for. Nothing else.
<br/>
<br/>
<br/>
&nbsp;&bull;&nbsp;Why don't you add keyboard shortcuts?<br/>
<br/>
No. Listen. Stop trying to go faster; start trying to go slower.<br/>
Don't think about releasing code; think about <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html">practising coding</a>.<br/>
That's what CyberDojo is for. Nothing else.
<br/>
<br/>
<br/>

&nbsp;&bull;&nbsp;Why don't you add editor undo/redo?<br/>
<br/>
No. Listen. Stop trying to go faster; start trying to go slower.<br/>
Don't think about releasing code; think about <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html">practising coding</a>.<br/>
That's what CyberDojo is for. Nothing else.
<br/>
<br/>
<br/>

&nbsp;&bull;&nbsp;Why don't you add ...?<br/>
<br/>
No. Listen. Stop trying to go faster; start trying to go slower.<br/>
Don't think about releasing code; think about <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html">practising coding</a>.<br/>
That's what CyberDojo is for. Nothing else.

</td>
</tr>

</table>

