
<div id="home-page">
  <table>
    <tr class="valign-top">
      <td id="column-main">
        <%= render :partial => 'column_main' %>
      </td>
      <td id="column-donate">
        <%= render :partial => 'column_donate' %>
      </td>
      <td id="column-buttons">
        <%= render :partial => 'column_buttons' %>
      </td>
    </tr>
  </table>
</div>

<div id="footer">
  created by <a href="http://jonjagger.blogspot.co.uk/" target="_blank">Jon Jagger</a>,
  <a id="terms-and-conditions" href="..">terms and conditions</a>
</div>
