
<h1><b>CyberDojo</b></h1>

<h3>Practicing the <em>collaborative</em> game called software development.</h3>

<table>
<tr>

<td valign="top" class="panel">
<p>
  <b>What do I need?</b> 
  <ul style="line-height: 2em;">
    <li>a group of geek friends</li>
    <li>some internet-connected computers</li>
  </ul>
</p>
</td>

<td valign="top" class="panel">
<p>
  <b>How do we play?</b></p>
  <ol style="line-height: 3em;">
    <li> 
      <form name="dojoNew" action="/dojo/new">
        <div>
          <input type="submit"
                 id="new_button"
                 name="new"
                 value="Create">
          <input type="text"
                 name="name"
                 value="your CyberDojo name?">
          <% if flash[:new_notice] -%>
            <span class="notice"><%= flash[:new_notice] -%></span>
          <% end -%>
        </div>
      </form>
    </li>

    <li> 
      <form name="dojoEnter" action="/dojo/enter">
        <div>Each computer must then
          <input type="submit"
                 name="enter"
                 id="enter_button"
                 value="Enter">
          <input type="text"
                 name="name"
                 value="your CyberDojo name?">
          <% if flash[:enter_notice] -%>
            <span class="notice"><%= flash[:enter_notice] -%></span>
          <% end -%>
        </div>
      </form>
    </li>
  </ol>
</p>
</td>

</tr>
</table>
<br/>
<br/>
CyberDojo was convceived and implemented by <a href="http://jonjagger.blogspot.com">Jon Jagger</a>.
<br/>
CyberDojo server software is open source on <a href="http://github.com/JonJagger/cyberdojo">Github</a>.
<br/>
CyberDojo information at <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">http://jonjagger.blogspot.com/p/cyberdojo.html</a>.
<br/>



