
<script type="text/javascript"><!--

$(document).ready(function() {

  cd.tipify($('.tipped'), $('#tip-window'));

});

//--></script>

<div id="home-page">
  <table width="90%">
    <tr class="valign-top">
      <td id="column-left">
        <%= render :partial => 'column_left' %>
      </td>
      <td id="column-middle">
        <%= render :partial => 'column_middle' %>
      </td>
      <td id="column-right">
        <%= render :partial => 'column_right' %>
      </td>
    </tr>
  </table>
</div>