
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $cd.run = function(method, func) {
    var id = $j('#kata_id_input').attr('value');
    if ($j.trim(id) !== '') {
      $j.getJSON('/dojo/' + method, { id: id }, function(data) {
        func(id, data);
      });
    }
  };

  $cd.registerCloseResumeDialog = function(resumer) {
    $cd.closeResumeDialog = function() {
      resumer.dialog('close');
    };
  };
  
  $j('body').css('background', 'Cornsilk');
  
  var ua = $j.browser;
  if (ua.msie && ua.version.slice(0,3) === "6.0") {
    $cd.alert(
      "cyber-dojo",
      "Sorry, Internet Explorer 6.0 is not supported",
      "");
  }
  
});

//--></script>


<table>
  
  <tr>
    <td>
      <%= render :partial => 'row_logo_title' -%>      
    </td>
  </tr>

  <tr>
    <td>
      <h3>where software teams do
        <a href="http://jonjagger.blogspot.co.uk/p/cyber-dojo_2380.html" target="_blank">deliberate practice</a>
      </h3>
      <br/>
    </td>
  </tr>

  <tr>
    <td class="thin panel" align="left" style="font-size: 1.5em;">
      <%= render :partial => 'row_code' -%>
    </td>
  </tr>
  
  <tr>
    <td class="thin" align="center" style="font-size: 0.8em;">
      <%= render :partial => 'row_donate' -%>
    </td>
  </tr>
</table>

<table align="center">    
  <tr>
    <td class="thin panel">
      <%= render :partial => 'row_buttons' -%>
    </td>
  </tr>  
</table>

