
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $j('#configure_it').click(function() {
    run('config_name_input', "exists_json", function(dojo_name, data) {
      configureIt(dojo_name, data);
    })
  });
  
  $j('#start_coding').click(function() {
    run('configured_name_input', "start_choose_avatar_json", function(dojo_name, data) {
      startCoding(dojo_name, data);
    })
  });
  
  $j('#resume_coding').click(function() {
    run('configured_name_input', "exists_json", function(dojo_name, data) {
      resumeCoding(dojo_name, data);
    })
  });
  
  $j('#show_dashboard').click(function() {
    run('configured_name_input', "exists_json", function(dojo_name, data) {
      showDashboard(dojo_name, data);
    })
  });
  
  $j('#show_messages').click(function() {
    run('configured_name_input', "exists_json", function(dojo_name, data) {
      showMessages(dojo_name, data);
    })
  });
});

function run(name_input, method, func) {
  var dojo_name = $j('#' + name_input).attr('value');
  if ($j.trim(dojo_name) === '') {
    $cd.alert("<h3>You must enter a name.</h3>", "");
  } else {
    $j.getJSON('dojo/' + method + '?dojo_name=' + dojo_name, function(data) {
      func(dojo_name, data);
    });
  }
}

function configureIt(dojo_name, data) {
  if (data.exists) {
    $cd.alert("<h3>There is already a dojo called</h3><h2>" + dojo_name + "</h2>", "");  
  } else {    
    $cd.postTo('/dojo/create', { dojo_name: dojo_name });    
  }
}

function startCoding(dojo_name, data) {
  if (data.avatar === "!exists?") {
    cantFind(dojo_name);
  } else if (data.avatar === "full") {
    $cd.alert("<h3>Sorry, but</h3>" +
              "<h2>" + dojo_name + "</h2>" +
              "<h3>is full.</h3>", "")
  } else {
    $cd.postTo('/kata/edit', {
      dojo_name: dojo_name,
      avatar: data.avatar
    }, '_blank');
  }
}

function resumeCoding(dojo_name, data) {
  if (!data.exists) {
    cantFind(dojo_name);
  } else {
    var grid = $j('<div>');
    grid.load('dojo/resume_avatar_grid?dojo_name=' + dojo_name, function() {
      var resumer = $j('<div id="resume_coding_dialog">')
        .html(grid.html())
        .dialog({
          autoOpen: false,
          title: "",
          width: 600,
          modal: true,
          buttons: { cancel: function() { $j(this).dialog('close'); } }
        });
      resumer.dialog('open');
    });
  }
}

function showDashboard(dojo_name, data) {
  if (!data.exists) {
    cantFind(dojo_name);
  } else {
    $cd.postTo('/dashboard/show_inflated', { dojo_name: dojo_name });  
  }
}

function showMessages(dojo_name, data) {
  if (!data.exists) {
    cantFind(dojo_name);  
  } else {
    $cd.postTo('/messages/show_some', { dojo_name: dojo_name });  
  }
}

function cantFind(dojo_name) {
  $cd.alert("<h3>I can't find a dojo called</h3><h2>" + dojo_name + "</h2>", "");  
}

//--></script>

<%= render :partial => 'dojo/title',
           :locals => { :title => @title } -%>
<table>
  <tr>
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;First, on <em>one</em> computer, choose a name for your practice:
      <div class="panel">
        <table>
          <tr>
            <td>
              <input type="text"
                     class="name_input"
                     id="config_name_input"
                     size="15"
                     value="" />
            </td>
            <td>and</td>
            <td>
              <input type="button"
                     class="main button"
                     id="configure_it"
                     value="Configure-It" />
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
      &nbsp;Then, on <em>each</em> computer, type in the name:
      <div class="panel">
        <table>
          <tr>
            <td>
              <input type="text"
                     class="name_input"
                     id="configured_name_input"
                     size="15"
                     value="<%=@dojo_name-%>" />
            </td>
            <td>and</td>
            <td>         
              <input type="button"
                     class="main button"
                     id="start_coding"
                     value="Start-Coding" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>or</td>
            <td>
              <input type="button"
                     class="main button"
                     id="resume_coding"
                     value="Resume-Coding" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>or</td>
            <td>
              <input type="button"
                     class="main button"
                     id="show_dashboard"
                     value="Show-Dashboard" />
            </td>
          </tr>          
          <tr>
            <td></td>
            <td>or</td>
            <td>
              <input type="button"
                     class="main button"
                     id="show_messages"
                     value="Show-Messages" />
            </td>
          </tr>          
        </table>
      </div>
    <td>
  </tr>

  <%= render :partial => 'links' -%>

</table>

