
<h1>CyberDojo</h1>
<h3>Deliberate Software Practice</h3>

<table>
  <tr>
    <td>
      &nbsp;
    </td>
  </tr>
  <tr>
    <td>
      &nbsp;First, choose your CyberDojo's name:
      <div class="panel">
      <form action="/dojo/new">
        <div>
          <input type="text"
                 class="name_input"
                 name="dojo_name"
                 size="15"
                 value="" />
          and
          <input type="submit"
                 class="main_button"
                 id="new_button"
                 name="new"
                 value="Configure It" />
          <% if flash[:new_notice] -%>
            <div class="notice"><%= flash[:new_notice] -%></div>
          <% end -%>
        </div>
      </form>
      </div>
    </td>
  </tr>
  
  <tr>
    <td>
    
      &nbsp;Then, on <em>each</em> participating computer<br/>
      &nbsp;type in your CyberDojo's name:
      
      <div class="panel">
      
      <!-- Chrome has a bug whereby only the first form submit actually submits. This is a work-around -->
      
      <form action="/dojo/enter?r=" target="_blank" method="post"  onsubmit="this.action=this.action+'1'">
      
        <table>
            <tr>
              <td>
          <input type="text"
                 class="name_input"
                 name="dojo_name"
                 size="15"
                 value="<%=@dojo_name-%>" />
               </td>
               <td>and</td>
          <td>         
          <input type="submit"
                 class="main_button"
                 name="start"
                 id="start_button"
                 value="Start Coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
          <input type="submit"
                 class="main_button"
                 name="resume"
                 id="resume_button"
                 value="Resume Coding" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
          <input type="submit"
                 class="main_button"
                 name="dashboard"
                 id="dashboard_button"
                 value="Show Dashboard" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>or</td>
          <td>
          <input type="submit"
                 class="main_button"
                 name="messages"
                 id="messages_button"
                 value="Show Messages" />
          </td>
        </tr>
      </table>
                 
          <% if flash[:notice] -%>
            <div class="notice"><%= flash[:notice] -%></div>
          <% end -%>
        </div>
      </form>
      The aim is to work <em>collectively</em> towards solutions on <em>all</em> computers
    </td>
  </tr>

  <tr>
    <td align="center">
      Conceived and implemented by <a href="http://jonjagger.blogspot.com/" target="_blank">Jon Jagger</a>
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <%= link_to 'inFrequently Asked Questions', 
        { :controller => :dojo, :action => :ifaq }, 
        { :target => "_blank", :title => 'inFrequently Asked Questions' } 
      -%>
    </td>
  </tr>

</table>

