
<h1>CyberDojo</h1>
<h3>Collaborative Coding Practice</h3>

<table>

<tr>
<td class="panel">
      <form action="/dojo/new">
        <div>Choose your CyberDojo's name
          <br/>
          <br/>
          <input type="text"
                 class="name_input"
                 name="dojo_name"
                 size="15"
                 value="" />
          and
          <input type="submit"
                 class="main_button"
                 id="new_button"
                 name="new"
                 value="Configure It" />
          <% if flash[:new_notice] -%>
            <div class="notice"><%= flash[:new_notice] -%></div>
          <% end -%>
        </div>
      </form>
</td>
</tr>
<tr>
<td class="panel">
      <!-- Chrome has a bug whereby only the first form submit actually submits. This is a work-around -->
      <form action="/dojo/enter?r=" target="_blank" method="post"  onsubmit="this.action=this.action+'1'">
      
        <div>
          Then, on <em>each</em> participating computer type in your CyberDojo's name
          <br/>
          <br/>
        
          <input type="text"
                 class="name_input"
                 name="dojo_name"
                 size="15"
                 value="<%=@dojo_name-%>" />
          and         
          <input type="submit"
                 class="main_button"
                 name="enter"
                 id="enter_button"
                 value="Start Coding" />
          or 
          <input type="submit"
                 class="main_button"
                 name="reenter"
                 id="reenter_button"
                 value="Resume Coding" />
          or
          <input type="submit"
                 class="main_button"
                 name="view"
                 id="view_button"
                 value="View Code" />
      
          <% if flash[:enter_notice] -%>
            <div class="notice"><%= flash[:enter_notice] -%></div>
          <% end -%>
          
         <br/>
         <br/>
         The aim is to work <em>collectively</em> towards solutions on <em>all</em> computers
          
        </div>
      </form>
      
</td>
</tr>


<tr>
<td>
<%= link_to 'inFrequently Asked Questions', 
  { :controller => :dojo, :action => :ifaq }, 
  { :target => "_blank", :title => 'inFrequently Asked Questions' } 
-%>
</td>
</tr>

</table>

