
<h1><b>Welcome to CyberDojo</b></h1>

<form name="dojoNew" action="/dojo/new">
  <span class="mid_tone panel">
    <input type="submit"
           name="new"
           value="Create a new dojo named:">
    <input type="text"
           name="name"
           value="">
  </span>
  <% if flash[:new_notice] -%>
    <span class="notice"><%= flash[:new_notice] -%></span>
  <% end -%>
</form>

<br/>
<br/>

<form name="dojoEnter" action="/dojo/enter">
  <span class="mid_tone panel">
    <input type="submit"
           name="enter"
           value="Enter the existing dojo named:">
    <input type="text"
           name="name"
           value="">
  </span>
  <% if flash[:enter_notice] -%>
    <span class="notice"><%= flash[:enter_notice] -%></span>
  <% end -%>
</form>

<br/>
<br/>

<form name="dojoDashboard" 
      action="/dojo/dashboard">
  <span class="mid_tone panel">
    <input type="submit"
           name="dashboard"
           value="Show dashboard for dojo named:">
    <input type="text"
           name="name"
           value="">
  </span>
  <% if flash[:dashboard_notice] -%>
    <span class="notice"><%= flash[:dashboard_notice] -%></span>
  <% end -%>
</form>





