
<h1><b>CyberDojo</b></h1>

<h3>Practicing the <em>collaborative</em> game called software development.</h3>

<table><tr><td valign="top" class="panel">
<p>
<b>What do I need to play?</b>
</p>
<p>
A group of geek friends, and some internet-connected computers (each with a decent browser).
<br/>
That's it! It's easy and it's fun. Try it!
</p>
</td>
</tr>

<tr>
<td valign="top" class="panel">
<p>
<b>How do we play?</b></p>
  
     <form name="dojoNew" action="/dojo/new">
        <div>First,
          <input type="submit"
                 id="new_button"
                 name="new"
                 value="Create your CyberDojo">
          <input type="text"
                 name="name"
                 value="what's its name?">
          <% if flash[:new_notice] -%>
            <span class="notice"><%= flash[:new_notice] -%></span>
          <% end -%>
        </div>
      </form>
      
      <form name="dojoEnter" action="/dojo/enter">
        <div>Then, each player must
          <input type="submit"
                 name="enter"
                 id="enter_button"
                 value="Enter your CyberDojo">
          <input type="text"
                 name="name"
                 value="<%=@name-%>">
          <% if flash[:enter_notice] -%>
            <span class="notice"><%= flash[:enter_notice] -%></span>
          <% end -%>
        </div>
      </form>
</p>
</td></tr></table>

<br/>
<br/>
CyberDojo was conceived and implemented by <a href="http://www.jaggersoft.com">Jon Jagger</a>.
<br/>
CyberDojo server software is open source on <a href="http://github.com/JonJagger/cyberdojo">Github</a>.
<br/>
CyberDojo information at <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">http://jonjagger.blogspot.com/p/cyberdojo.html</a>.
<br/>



