
<div id="home-page">
  <table>
    <tr class="valign-top">
      <td id="column-main">
        <%= render :partial => 'column_main' %>
      </td>
      <td id="column-donate">
        <%= render :partial => 'column_donate' %>
      </td>
      <td id="column-buttons">
        <%= render :partial => 'column_buttons' %>
      </td>
    </tr>
  </table>
</div>

<%= render :partial => 'shared/footer' %>
