
<script language="JavaScript"
        type="text/javascript">
function select_CyberDojo(dojo_name)
{
  $('dojo_name').value = dojo_name;
  document.dojoIndex.submit();
}
</script>

<form name="dojoIndex" action="/avatar/index">

<noscript>
  &nbsp;
  <h2><b>You must enable JavaScript.</b></h2>
  &nbsp;
</noscript>

<input readonly 
       type="hidden"
       name="dojo_name" 
       id="dojo_name" 
       value="">

<h1><b>Welcome to CyberDojo</b></h1>

<table class="rounded panel">
  <% @dojo_names.sort.each do |dojo_name| -%>
  <tr>
    <td>
      <input type="button" 
             onClick='select_CyberDojo("<%=dojo_name-%>");'
             value="<%=dojo_name-%>">
    </td>
  </tr>
  <% end -%>
</table>

<h2><i>Please click your CyberDojo...</i></h2>

</form>


