<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>

<%= render :partial => 'dojo/title',
           :locals => { :title => 'Links' } -%>

<div class="panel">
  <a href="http://vimeo.com/15104374">Video of the Roman Numerals kata in Ruby</a>
</div>

<div class="panel">
  <a href="http://github.com/JonJagger/cyberdojo">CyberDojo server source on Github</a>
</div>

<div class="panel">
  <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">CyberDojo blog page</a>
</div>

<div class="panel">
  http://www.cyber-dojo.com has an unreliable
  <br/>
  link to the internet. Why not build your own
  <br/>
  server using this
  <a href="http://dl.dropbox.com/u/22404698/TurnKey-CyberDojo-20110610.ova/">CyberDojo image</a>
  <br/>
  which was built from
  <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
  <br/>
  and runs in
  <a href="http://www.virtualbox.org/">VirtualBox</a>      
</div>

<div class="panel">
  Conceived, designed and implemented by
  <br/>
  <a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
</div>

<div class="panel">
  <a href="http://www.MasteringAgilePractice.com">http://www.MasteringAgilePractice.com</a> 
</div>

<div class="panel">
  <a href="http://www.accu.org">
    <img src="/images/accu_button.gif" 
         style="border:none;" 
         width="100"
         height="50" 
         title="ACCU is an organisation of programmers who care about professionalism in programming and are dedicated to raising the standard of programming. "/>
  </a>
</div>

<input type="button"
       class="button"
       id="close"
       value="Close"/>



