<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>

<table align="center">
  <tr>
    <td>
      <% size = 60 -%>
      <%= image_tag("/images/avatars/cyber-dojo.png",
          :border => 0, :size => "#{size}x#{size}", :title => 'Home page') %>              
    </td>
    <td>
      &nbsp;&nbsp;
    </td>
    <td>
      <h1>Links</h1>
    </td>
  </tr>
</table>

<table width="35%" align="center">
<tr>
<td>
    
<div class="panel">
  <a href="http://jonjagger.blogspot.com/">Jon Jagger</a>
  conceived, designed, and implemented CyberDojo.
</div>

<div class="panel">
  <a href="http://jonjagger.blogspot.com/p/cyberdojo.html">CyberDojo blog page</a>
</div>

<div class="panel">
  <a href="http://vimeo.com/15104374">Video of the Roman Numerals kata in Ruby</a>
</div>

<div class="panel">
  <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">CyberDojo server source on github</a>  
</div>

<div class="panel">
  http://www.cyber-dojo.com has an unreliable
  link to the internet. Why not build your own
  server using this
  <a href="http://dl.dropbox.com/u/22404698/TurnKey-CyberDojo-20110610.ova">CyberDojo image</a>
  (478 MB)
  which was built from
  <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
  and runs in
  <a href="http://www.virtualbox.org/">VirtualBox</a>.
  You'll want to read the github <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">readme.txt</a>.
</div>

<div class="panel">
  <a href="http://www.MasteringAgilePractice.com">http://www.MasteringAgilePractice.com</a> 
</div>

<div class="panel">
  <a href="http://accu.org/index.php/conferences/accu_conference_2012">
    <img src="/images/accu_button.gif" 
         style="float:left; border: 3px solid;" 
         width="100"
         height="50" 
         title="ACCU is an organisation of programmers who care about professionalism in programming and are dedicated to raising the standard of programming. "/>
  </a>
  &nbsp;ACCU is a non-profit organisation of programmers<br/>
  &nbsp;who care about professionalism in programming
</div>

<br/>
<br/>

<input type="button"
       class="button"
       id="close"
       value="Close"/>
</td>
</tr>
</table>


