
<table>
<tr>
<td>
    
<div class="panel">
  <a href="http://jonjagger.blogspot.com/2011/02/deliberate-practice.html">
  97 Things Every Programmer Should Know: Do More Deliberate Practice</a>
</div>

<div class="panel">
  <a href="http://vimeo.com/15104374">Video of me doing the Roman Numerals kata in Ruby</a>
</div>

<div class="panel">
  <a href="http://www.MasteringAgilePractice.com">http://www.MasteringAgilePractice.com</a> 
</div>

<div class="panel">
  <a href="http://accu.org/index.php/conferences/accu_conference_2012">
    <img src="/images/accu_button.gif" 
         style="float:left; border: 3px solid;" 
         width="100"
         height="50" 
         title="ACCU is an organisation of programmers who care about professionalism in programming and are dedicated to raising the standard of programming. "/>
  </a>
  &nbsp;a superb non-profit organisation of programmers<br/>
  &nbsp;who <em>care</em> about professionalism in programming
</div>

</td>
</tr>
</table>


