
<%= render :partial => 'banner' -%>

<div id="all_messages" class="panel">
  <% @messages.reverse.each_with_index do |message,index| -%>
     <% parity = (index % 2 == 0) ? "even" : "odd" -%>
     <div class="<%=parity-%> message_container">
       <table>
         <tr>
           <td>
             <%= avatar_image(message[:sender].to_s, 40) -%>
           </td>
           <td style="vertical-align: middle;">
             <%= message[:text] -%>
           </td>
         </tr>
       </table>
     </div>
  <% end -%>
</div>


