
<div>
  <ul>
    <li>the review dashboard auto updates every 10 seconds</li>
    <li>oldest traffic-lights appear to the left</li>
    <li>newest traffic-lights appear to the right</li>
    <li>click any traffic-light to view its diff</li>
    <li>click any animal to view its current code</li>
  </ul>
</div>

