
<table width="100%">
<tr>
<td>
    
<div class="panel">
  The cyber-dojo rails server is open source and lives on
  <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">github</a>.
  You will still need to install compilers for any languages (eg Java)
  you wish to practice.
</div>

<div class="panel">
  Alternatively, you can run your own cyber-dojo server using this
  <a href="http://dl.dropbox.com/u/11033193/CyberDojo/Turnkey-CyberDojo-20120515.ova">image file</a>
  (817 MB) which has all the language compilers installed.
  It was built from
  <a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
  and runs in
  <a href="http://www.virtualbox.org/">VirtualBox</a>.
  You'll want to read the github <a href="https://github.com/JonJagger/cyberdojo/blob/master/readme.txt">readme.txt</a>.
</div>

</td>
</tr>
</table>


