
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#close').click(function() {
    window.close();
  });
});

//--></script>

<%= render :partial => 'dojo/title',
           :locals => { :title => 'Tips' } -%>

<table width="45%" align="center">
<tr>
<td>

<div class="panel">
  CyberDojo is for practising as a <em>team</em>,
  with two or more people per computer.
</div>

<div class="panel">
Practising means repeating the <em>same</em> exercise, in the
<em>same</em> language <em>several</em> times with
each repetition limited to fixed period of time (eg 20/40/60 mins).
<br/>
The repetition might seem strange at first but remember, you are
not planning to ship the code you write! You are practising!
</div>

<div class="panel">
At the end of an iteration ask everyone to use the dashboard and
diff pages to replay some of the steps taken.
Ask everyone to write down a few things
they felt they did well and a few things they felt they could improve.
During the next iteration ask the navigators to try to focus the practice
on the items listed for improvement and <em>not</em> on completing the exercise.
Remember, you are not planning to ship the code!
</div>

<div class="panel">
Every N minutes ring a bell. At the bell the current
<em>driver</em> moves to a new computer (and/or new partner) and
becomes the <em>navigator</em>. (NB: This also
helps to dampen the effect of some developers dominating the keyboard.)
</div>

<div class="panel">
Every N minutes ring a bell. At the bell the current
<em>driver</em> moves to the computer to their <em>left</em>
and becomes the <em>navigator</em>, 
and the current <em>navigator</em> moves to the computer to their
<em>right</em>
and becomes the <em>driver</em>.
This means <em>both</em> members of the pair will
be at new code at every bell!
</div>

<div class="panel">
Play the 
<a href="http://jonjagger.blogspot.com/2009/06/average-time-to-green-game.html">average-time-to-green-game</a>. 
</div>

<div class="panel">
Print out <a href="/images/avatars/AllAvatars.pdf">animal badges</a>
and give each computer the badge corresponding
to their animal. If something goes wrong a computer can easily use the
resume coding where they left off as long as they know which animal they
were. 
</div>

<div class="panel">
If you like Coding Dojos and Ruby you should check out
<a href="http://content.codersdojo.org/home">Coders Dojo</a>
</div>

<input type="button"
       class="button"
       id="close"
       value="Close"/>

</td>
</tr>
</table>
