
<table>
<tr>
<td>

<div class="panel">
  CyberDojo is for practising as a <em>team</em>,
  with two or more people per computer.
</div>

<div class="panel">
Practising means repeating the <em>same</em> exercise, in the
<em>same</em> language, <em>several</em> times - with
each repetition limited to fixed period of time (eg 20/40/60 mins).
The repetition might seem strange at first, but remember - you are
not shipping the code, you are practising!
</div>

<div class="panel">
At the end of an iteration ask everyone to use the dashboard and
diff pages to replay the practice.
Ask everyone to write down a few things
they did well and a few things they could improve.
During the next iteration ask the navigators to focus the practice
on the items listed for improvement and <em>not</em> on finishing the exercise.
Remember, you are not shipping the code, you are practising!
</div>

<br/>

<div class="panel">
Every 7-12 minutes ring a bell. At the bell the current
<em>driver</em> moves to a different computer and
becomes the <em>navigator</em> (this also
helps to dampen the effect of some developers dominating the keyboard.)
</div>

<div class="panel">
Every 7-12 minutes ring a bell. At the bell the current
<em>driver</em> moves to the computer to their <em>left</em>
and becomes the <em>navigator</em>, 
and the current <em>navigator</em> moves to the computer to their
<em>right</em>
and becomes the <em>driver</em>.
This means <em>both</em> members of the pair will
be at new code at every bell!
</div>

<div class="panel">
Play the 
<a href="http://jonjagger.blogspot.com/2009/06/average-time-to-green-game.html">average-time-to-green-game</a>. 
</div>

</td>
</tr>
</table>
