
<%= render :partial => 'dojo/title',
           :locals => { :title => 'Tips' } -%>

<table width="45%" align="center">
<tr>
<td>

&nbsp;
CyberDojo is designed for practising as a <em>team</em>, with two or more people
per computer.

<div class="panel">
Set a timer and every N minutes ring a bell. At the bell the current keyboard
driver has to get up and physically move to a new computer and adopt a navigator role.
This helps to remind developers to consider the state of the code they will leave behind 
when they move about. It also helps to dampen the effect of some developers dominating 
the keyboard.
</div>

<div class="panel">
At the end of each iteration ask everyone to write down a few things
they felt they did well and a few things they felt they could improve.
During the next iteration ask the navigators to try to focus the practice
on the items listed for improvement. Expect complete failure at this the
first few times it is attempted as the "completion mindset" will still
be dominating.
</div>

<div class="panel">
At the end of an iteration ask each group to use the diff-view (click on
a traffic light) to replay the steps they took. Alternatively, ask the groups
to swap animal badges and replay each others steps.
</div>

<div class="panel">
Play the 
<a href="http://jonjagger.blogspot.com/2009/06/average-time-to-green-game.html">average-time-to-green-game</a>. 
</div>

<div class="panel">
Print out <a href="/images/avatars/AllAvatars.pdf">animal badges</a>
and give each computer the badge corresponding
to their animal. If something goes wrong a computer can easily use the
resume coding where they left off as long as they know which animal they were. 
</div>

<div class="panel">
The http://www.cyber-dojo.com server has an unreliable link to the internet.
If you need a reliable server install
<a href="http://www.virtualbox.org/">VirtualBox</a>      
and run the
<a href="http://www.turnkeylinux.org/">TurnKey Linux</a>
CyberDojo server
<a href="http://dl.dropbox.com/u/22404698/TurnKey-CyberDojo-20110610.ova/">image download</a>
in it.
</div>

<div class="panel">
If you like Coding Dojos and Ruby you should check out
<a href="http://content.codersdojo.org/home">Coders Dojo</a>
</div>

</td>
</tr>
</table>

