
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $('#fork_button').click(function() {
      cd.postTo('/forker/fork', {
        id: "<%= @kata.id %>",
        avatar: "<%= @avatar.name %>",
        tag: "<%= @to_tag %>"
      }, '_blank');
    });

});

//--></script>

<% size = 30 %>

<div id="fork_button">
<%= image_tag("/images/fork.png", 
    :border => 0,
    :size => "#{size}x#{size}",
    :title => 'Fork a new cyber-dojo from these files',
    :class => 'cyber_dojo_image')
%>
</div>

