
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  $('#fork_button').click(function() {
      cd.postTo('/dojo/diff_save', {
        id: "<%= @kata.id %>",
        avatar: "<%= @avatar.name %>",
        tag: "<%= @traffic_lights_to_tag.length %>"
      }, '_blank');
    });

});

//--></script>

<div id="fork_button"
     class="small button">
  create a new<br/>
  cyber-dojo<br/>
  from these files
</div>
