
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help').click(function() {
    var title = $(this).text();
    var ok = $(this).data('ok');
    $.get('/diff/help_dialog', { avatar_name: "<%= @avatar.name %>" }, function(html) {
      cd.dialog(html, title, ok).dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Show help"
     data-ok="<%= t('views.buttons.ok') %>"
     id="help">
  ?
</div>

