
<table align="center">
  <tr>
    <td>
      <%= render :partial => 'shared/logo_with_id' %>      
    </td>
    <td align="center">
      <%= render :partial => 'shared/avatar_image', :locals => { :target => '_blank' } %>
      <%= render :partial => 'shared/avatar_name', :locals => { :avatar_name => @avatar.name } %>
    </td>
    <td>
      &nbsp;
    </td>
    <td>      
      <%= render :partial => 'was_now_traffic_lights' %>
    </td>
  </tr>
</table>




