
<% tag_number = @traffic_lights_to_tag.length -%>

<table>
  <tr>
    <td>
    <%= render :partial => 'shared/yin_yang' -%>
    </td>
    <td>
      <%= avatar_image(@avatar.name, 63) -%>
    </td>
    <td>
      <% if tag_number != 0-%>
        <%= unlinked_traffic_light(@traffic_lights_to_tag.last) -%>
      <% end -%>
    </td>
    <%= render :partial => 'shared/names' -%>
  </tr>
</table>

