
<% def diff_dots(n,kind)
     html = '<table>';
     html += '<tr>'     
     n.times { html += "<td><div class='#{kind} dot'></div></td>" }
     html += '</tr>'
     html += '</table>'
   end
-%>

<table vertical-align="middle">
  <% @diffs.each do |file| -%>
    <tr>
      <td align="right">
        <%= diff_dots(file[:deleted_line_count], 'deleted') -%>
      </td>      
      <td align="left">
        <div class="mid_tone filename" id="<%= file[:name] -%>"><%= file[:name] -%></div>
      </td>    
      <td align="left">
        <%= diff_dots(file[:added_line_count], 'added') -%>
      </td>    
    </tr>
  <% end -%>
</table>
