
<table vertical-align="middle">

  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <div class="deleted dot">&nbsp;</div>
          </td>
          <td>
            <div class="deleted dot">&nbsp;</div>
          </td>
        </tr>
      </table>
    </td>
    
    <td align="left">
      <div class="mid_tone filename">&nbsp;gapper.rb</div>
    </td>
    <td align="left">
      <table>
        <tr>
          <td>
            <div class="added dot">&nbsp;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <div class="deleted dot">&nbsp;</div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <div class="mid_tone filename">&nbsp;pairs.rb</div>
    </td>
    <td align="left">
      <table>
        <tr>
          <td>          
            <div class="added dot">&nbsp;</div>
          </td>          
          <td>                      
            <div class="added dot">&nbsp;</div>
          </td>          
          <td>                      
            <div class="added dot">&nbsp;</div>
          </td>          
          <td>                      
            <div class="added dot">&nbsp;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td align="right">
    </td>
    
    <td>
      <div class="mid_tone filename">&nbsp;test_pairs.rb</div>
    </td>
    
    <td align="left">
      <table>
        <tr>
          <td>    
            <div class="added dot">&nbsp;</div>
          </td>
          <td>
            <div class="added dot">&nbsp;</div>
          </td>
          <td>
            <div class="added dot">&nbsp;</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>
