<% tag_number = @traffic_lights_to_tag.length -%>

<form action='/diff/show'>

<%= tag( :input, 
    { 
      :type => :hidden,
      :name => :kata_name,
      :value => @kata.name,            
    }) -%>
  
<%= tag( :input, 
    { 
      :type => :hidden,
      :name => :avatar,
      :value => @avatar.name,            
    }) -%>
    
<%= tag( :input, 
    { 
      :type => :hidden,
      :name => :tag,
      :value => tag_number + 1,            
    }) -%>
  
  <button class="button"
          <% if tag_number < @all_traffic_lights.length -%>
          type="submit"
          id="next_button"
          title="View next diff (<%=tag_number+1-%>)" >
          <% else -%>
          type="button"
          disabled>
          <% end -%>
    <img src="/images/right-triangle.gif"
         width="30" 
         height="30" />
  </button>
</form>

