<% tag_number = @traffic_lights_to_tag.length -%>

<form action='/diff/show'>
  <input type='hidden' name='dojo_name' id='dojo_name' value='<%= @dojo.name-%>'/> 
  <input type='hidden' name='avatar' id='avatar' value='<%=@avatar.name-%>' />
  <input type='hidden' name='tag' id='tag' value='<%= tag_number + 1-%>' />
  <button class="button"
          <% if tag_number < @all_traffic_lights.length -%>
          type="submit"
          id="next_button"
          title="View <%=tag_number+1-%>" >
          <% else -%>
          type="button"
          disabled>
          <% end -%>
    <img src="/images/right-triangle.gif"
         width="30" 
         height="30" />
  </button>
</form>

