<% tag_number = @traffic_lights_to_tag.length -%>

<form action='/diff/show'>
 
<%= tag( :input, 
    { 
      :type => :hidden,
      :name => :id,
      :value => @kata.id,      
    }) -%>
  
<%= tag( :input, 
    { 
      :type => :hidden,
      :name => :avatar,
      :value => @avatar.name,            
    }) -%>
    
<%= tag( :input, 
    { 
      :type => :hidden,
      :name => :tag,
      :value => tag_number - 1,            
    }) -%>
    
  <button class="button"
          id="prev_button"
          <% if tag_number != 0 -%>
          type="submit"
          title="View previous diff (<%=tag_number-1-%>)" >
          <% else -%>
          type="button"
          disabled>
          <% end -%>
    <img src="/images/left-triangle.gif"
         width="27" 
         height="30" />
  </button>
</form>

