
<% prev_tag_number = @traffic_lights_to_tag.length -%>

<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {

  $j('#prev_button').click(function() {
    $cd.postTo('/diff/show', {
      id: "<%= @kata.id %>",
      avatar: "<%= @avatar.name %>",
      tag: "<%= prev_tag_number-1 %>"
    });  
  });

});

//--></script>

<button class="button"
        id="prev_button"
        <% if prev_tag_number != 0 -%>
        type="submit"
        title="View previous diff (<%=prev_tag_number-1-%>)" >
        <% else -%>
        type="button"
        disabled>
        <% end -%>
  <img src="/images/triangle_left.gif"
       width="27" 
       height="30" />
</button>

