
<% size = 22 %>

<button class="triangle button"
        id="<%= name %>_button"
	    type="button">
  <img src="/images/triangle_<%= name %>.gif"
       width="<%= size %>" 
       height="<%= size %>" />
</button>      
