
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  //$cd.setOutputTabColourFromMostRecentOutcome();
});

//--></script>

<div id="diff_panel">
  <div class="panel">
    <pre class="diffed_code"><div id="diff_sheet"></div></pre>  
  </div>
</div>
