
<div id="diff_panel" class="edgeless panel">
  <table>
    <tr class="valign-top">
      <td>
        <div id="diff_line_numbers"></div>
      </td>
      <td>
        <div id="diff_sheet" class="diffed_code"></div>
      </td>
    </tr>
  </table>
</div>
