
<table class="edgeless panel">
  <tr class="valign-top">
    <td>
      <div id="diff_line_numbers_container">
        <div id="diff_line_numbers" class="align-right"></div>
      </div>
    </td>
    <td>
      <div id="diff_sheet_container">
        <div id="diff_sheet"></div>
      </div>
    </td>
  </tr>
</table>
<div class="panel"></div>