
  <table>
    <tr class="valign-top">
      <td>
        <div id="diff_line_numbers_container">
          <div id="diff_line_numbers"></div>
        </div>
      </td>
      <td>
        <div id="diff_sheet_container" class="edgeless panel">
          <div id="diff_sheet"></div>
        </div>
      </td>
    </tr>
  </table>
