
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $cd.bindLineNumbers($j('#output'), $j('#output_line_numbers'));
  $j('#diff_tabs').tabs();
  $cd.setOutputTabColourFromMostRecentOutcome();
});

//--></script>

<div id="diff_tabs">
  <ul>
    <li><a href="#tab_editor">editor</a></li>
    <li id="tab_output_li"><a href="#tab_output">output</a></li>
  </ul>
  
  <div id="tab_editor">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <pre class="diffed_code"><div id="diff_sheet"></div></pre>
        </td>
      </tr>
    </table>
  </div>
  <div id="tab_output">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <textarea name="output_line_numbers"
                    id="output_line_numbers">
          </textarea>
        </td>
        <td>
          <textarea name="output" 
                    id="output"
                    readonly="readonly"
                    wrap="on"><%=h @output -%>
          </textarea>
        </td>
      </tr>
    </table>
  </div>
  
</div>

