
<table>
  <tr>
    <td align="center">
      <%= unlinked_traffic_light(@was_traffic_light,15,42) %>
    </td>
    <td>
    </td>
    <td align="center">
      <%= unlinked_traffic_light(@now_traffic_light,15,42) %>
    </td>
  </tr>        
  <tr>
    <td>
      <input type="text" id="was_tag_number" value="<%= @was_tag %>" />
    </td>
    <td>
      &rarr;
    </td>
    <td>
      <input type="text" id="now_tag_number" value="<%= @now_tag %>" />
    </td>
  </tr>
</table>      




