
<table class="align-center">
  <tr>
    <td class="align-center">
      <%= unlinked_traffic_light(@was_traffic_light,18,48) %>
    </td>
    <td>
      <input type="text" id="was_tag_number" value="<%= @was_tag %>" />
    </td>
    <td>
      &rarr;
    </td>
    <td>
      <input type="text" id="now_tag_number" value="<%= @now_tag %>" />
    </td>
    <td class="align-center">
      <%= unlinked_traffic_light(@now_traffic_light,18,48) %>
    </td>
  </tr>
</table>      




