#-----Ignore everything
#-----including katas (data-container / volume-mounted)
#-----including public (nginx)

*

#-----!Except these files

!Gemfile
!script
!config.ru

#-----!Except these folders

!app/assets
!app/controllers
!app/exercises
!app/helpers
!app/languages
!app/lib
!app/models
!app/views
!config
!lib
!test

# maybe test could go in it's own own data-container?
# it could [apk add bash]?