
#cyber_dojo_page
{
  margin-top: 1em;
  margin-left: 1em;
  border-style: none;
  color: green;
}

.boxed 
{ 	
	margin: 0.2em;
  padding: 0.5em;
  border: 1px solid #A8A8A8;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.light_tone { background-color: #FEF5CA; /* sandy */ }
.mid_tone   { background-color: #FFE4C4; }
.panel { padding: 1em; padding-top: 0.3em; }
.notice { color: red; }

.file_op, .panel, div[class~="filename"], #dashboard, #dashboard_cell, 
#start_button, #play_button, #bank_button, #new_button, #enter_button, #dashboard_button, #create_button
{ 
  border: 1px solid #A8A8A8;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#start_button, #play_button, #bank_button, #new_button, #enter_button, #dashboard_button, #create_button
{ 
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em;
  background-color: #FFE4C4; 
}

.choose_title
{
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  font-style: italic;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.title
{
  display: block;
  margin: 0.2em 0em 0.2em 0.2em; /* Top Right Bottom Left */
  font-size: 9pt;
  color: #686868;
}

/* - - - - - - - - - - - - - - - - - - - - */

.file_op 
{ 
  padding: 4px; 
  background-color: #FFE4C4;
  cursor: pointer;
} 
.file_op_name 
{ 
  font-size: 7pt; 
  color: #383838;
}

.file_op, div[class~="filename"], 
#bank_button, #start_button, #play_button, #new_button, #enter_button, #dashboard_button, #create_button
{
  color: #383838;
  border-bottom: 2px solid gray; /* fake button look */
  border-right:  2px solid gray; 
}

div[class~="filename"]
{
  margin: 0.25em;
  color: #383838;
  font-size: 11pt;
  cursor: pointer;
  white-space: nowrap;
}

/* - - - - - - - - - - - - - - - - - - - - */

#editor, .textarea_with_line_numbers
{
  font-weight: bold;
  font-size: 11pt;
  border: 1px solid #666;
  margin: 0;
}

#editor
{
  overflow-y: scroll;
  padding: 0;
  padding-left: 5px;
  margin-left: 40px; /* enough for line-numbers */
  font-family: monospace;
  color: white;
  background-color: #686868;
}

.textarea_with_line_numbers
{
  border-right: none;
  display: block;
  color: #686868;
  background: #aaa;
  border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  -khtml-border-radius: 6px 0px 0px 6px;
  -webkit-border-radius: 6px 0px 0px 6px;
}

#avatar_pair
{
    white-space: nowrap;
    margin-left: 0.3em;
}

#output 
{ 
  margin-top: 0.5em;
  padding: 0.5em;
  border: 4px solid;
}

#output.failed { border-color: #F33; }
#output.error  { border-color: #FF0; }
#output.passed { border-color: #3C3; }
#output.waiting{ border-color: gray; }

/* - - - - - - - - - - - - - - - - - - - - */

#dashboard
{
  border: 1px solid #C8C8C8;
  margin: 0.3em;
  padding: 0.3em;
}


#dashboard_cell { padding: 0.1em; }

#dashboard_cell.new_failed { background-color: #F33; /* red */    }
#dashboard_cell.new_error  { background-color: #FF0; /* yellow */ }
#dashboard_cell.new_passed { background-color: #3C3; /* green */  }

/* - - - - - - - - - - - - - - - - - - - - */

.traffic_light
{
  background-color: #EEC591;
  border: 1px solid #EEC591; 
}

.increment
{
  margin-bottom: 2px;
  padding: 0.15em;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.increment.failed
{
  background-color: #F33; /* red */ 
  border: 1px solid #F33; 
}

.increment.error
{
  background-color: #FF0; /* yellow */ 
  border: 1px solid #FF0; 
}

.increment.passed
{
  background-color: #3C3; /* green */ 
  border: 1px solid #3C3; 
}

.increment.off 
{ 
  background-color: #8B8378; /* darkish gray */
  border: 1px solid #8B8378;
}

/* - - - - - - - - - - - - - - - - - - - - */

##rotation
{
  margin: 0em 0em 0em 1em; /* Top Right Bottom Left */
}


