body { background: GhostWhite; }

#center
{
  align: center;
  width: 95%;
  padding: 0em;
  margin: 1em auto 0 auto;
}

#cyber_dojo_page { text-align: left; color: green; }

h1 { font-size: 4em;   text-align: center; margin: 0; }
h3 { font-size: 1.3em; text-align: center; margin: 0; }
.mid_tone { background-color: CornSilk; }
.panel 
{ 
  padding: 0.7em;
  background: #FFECCB;
  border: 4px solid GhostWhite;
}
.notice { color: red; }

/* - - - - - - - - - - - - - - - - - - - - */

.name_input { font-size: 1.15em; }

.button, .main_button
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-family: Verdana, Arial, Helv, Helvetica, sans-serif;  
  cursor: pointer;
  padding: 4px;
  background-color: CornSilk;
  text-decoration: none;
  font-weight: normal;
  color: #383838;
  border-top: none;
  border-left: none;
  border-right:  1px solid #A8A8A8; 
  border-bottom: 1px solid #A8A8A8;
}

.button      { font-size: 1em; } 
.main_button { font-size: 1.35em; }

.main_button[disabled], .button[disabled]
{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;  
  cursor: default;
  padding: 4px; 
  background-color: lightgray;
  border-top: none;
  border-left: none;
  border-right: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;
}

/* - - - - - - - - - - - - - - - - - - - - */

#kata_info
{
  overflow-y: auto;
  font-family: monospace;
  font-size: 10pt;
  color: green;
  background-color: CornSilk;
  border: 1px dashed lightgray;
  padding: 5px;
}

.choose_title
{
  text-align: left;
  font-size: 1.3em;
  font-style: italic;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
}

.small_title
{
  display: block;
  margin: 0.2em 0em 0em 0.2em; /* Top Right Bottom Left */
  font-size: 0.8em;
  color: green;
}

.select_all_clear_all { padding-bottom: 0.5em; }

/* - - - - - - - - - - - - - - - - - - - - */

.file_op, .panel, div[class~="filename"], div[class~="fileset"], span[class~="fileset"]
{ 
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.file_op 
{ 
  padding: 4px; 
  background-color: CornSilk;
  cursor: pointer;
} 

.file_op_disabled
{
  border-top: none;
  border-left: none;
  border-right: 1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;  
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;  
  padding: 4px; 
  background-color: lightgray;
}

.file_op_name { font-size: 9pt; color: #383838; }

.file_op, div[class~="filename"], div[class~="fileset"], span[class~="fileset"]
{
  color: #383838;
  border-bottom: 1px solid #A8A8A8;
  border-right:  1px solid #A8A8A8; 
}

div[class~="filename"], div[class~="fileset"], span[class~="fileset"]
{
  margin: 0.25em;
  padding-right: 0.5em;
  color: #383838; 
  font-size: 11pt;
  cursor: pointer;
  white-space: nowrap;
}

/* - - - - - - - - - - - - - - - - - - - - */

input[type="radio"]:checked+label, 
input[type="checkbox"]:checked+label { color: green; }

input[type="checkbox"]+img { border: 2px solid #FFECCB; }

input[type="checkbox"]:checked+img { border: 2px solid green; }

/* - - - - - - - - - - - - - - - - - - - - */

#editor, .textarea_with_line_numbers
{
  font-weight: bold;
  font-size: 11pt;
  border: 0;
  margin: 0;
}

#editor
{
  overflow: auto;
  padding-left: 3px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 40px; /* enough for line-numbers */
  font-family: monospace;
  font-weight: normal;
  color: #383838;;
  background-color: CornSilk;
  border: 1px dashed lightgray;
}

.textarea_with_line_numbers
{
  border-right: none;
  display: block;
  background: GhostWhite;
  color: gray;
  font-weight: normal;
}

#avatar_id { white-space: nowrap; margin-left: 0.3em; }

#output 
{ 
  margin-top: 0.5em;
  margin-left: 40px; /* to match line-numbers */
  padding: 0.5em;
  border: 1px dashed LightGray;
  background-color: CornSilk;
  width: 53em;
}

#output.waiting { border-color: Gray; }

/* - - - - - - - - - - - - - - - - - - - - */

.traffic_light { background-color: #FFECCB; }

.increment
{
  display: block;
  margin: 2px 0px 0px 1px; /* Top Right Bottom Left */
  padding: 0.15em;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.increment.failed { background-color: #F33; /* red */   }
.increment.error  { background-color: #FC3; /* amber */ }
.increment.passed { background-color: #3C3; /* green */ }
.increment.off    { background-color: #8B8378; /* darkish gray */ }

#increment_number
{
	float: right;
	color: #686868;
	font-size: 0.8em;
	font-weight: normal;
}

/* - - - - - - - - - - - - - - - - - - - - */

#server_message_panel
{
}

