
body
{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
}

#cyber_dojo_page
{
  text-align: left;
  color: DarkGreen;
}

h1, h2, h3, h4
{
  text-align: center;
  margin: 0;
  color: DarkGreen;
}
h1 { font-size: 3.0em; }
h2 { font-size: 2.0em;  }
h3 { font-size: 1.3em;  }

.panel 
{ 
  margin: 0px;
  padding: 0.3em;
}

.cyber_dojo_image, .avatar_image
{
  margin: 0.1em;
  cursor: pointer;
}

#index
{
  height: 30em;
  overflow-y: auto;
}

.invisible { display: none; }

/* - - - - - - - - - - - - - - - - - - - - */

.name_input { font-size: 1.15em; }

.button
{
  background: CornSilk;
  color: #383838;
  font-size: 1em;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  text-decoration: none;
  font-weight: normal;
  border: none;
  border-right:  1px solid #A8A8A8; 
  border-bottom: 1px solid #A8A8A8;
}

.small.button
{
  color: black; 
  font-size: 0.9em;
  padding: 0 0.2em 0 0.2em; /* Top Right Bottom Left */
  cursor: help;
}

.large.button { font-size: 1.35em; }

.button[disabled]
{
  cursor: default;
  background: lightgray;
}

/* - - - - - - - - - - - - - - - - - - - - */

#kata_info
{
  background-color: CornSilk;
  color: black;
  overflow-y: auto;
  font-family: monospace;
  font-size: 12pt;
  border: 1px dashed LightGray;
  padding: 5px;
}

.small_title
{
  display: block;
  margin: 0.2em 0em 0em 0.2em; /* Top Right Bottom Left */
  font-size: 0.6em;
  color: DarkGreen;
}

/* - - - - - - - - - - - - - - - - - - - - */

input[type="radio"]:checked+label { color: #444; }

input+label { cursor: pointer; }

input[id="radio_output"]+label, /* from edit-page */
input[value="output"]+label     /* from diff-page */
{
  font-style: italic;
}

input[id="help"] { margin-top: 0.5em; }

/* - - - - - - - - - - - - - - - - - - - - */

div[class~="filename"]:before { content: "\00a0";  } /* \00a0 is a retained space */
div[class~="filename"]:after  { content: "\00a0";  } 

div[class~="filename"]
{
  color: #777;
  margin: 0.25em;
  font-size: 14pt;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px solid #A8A8A8;
  border-right:  1px solid #A8A8A8;
}

div[class~="filename"]:hover, .button:hover
{
  border-bottom: 1px solid #555555;
  border-right:  1px solid #555555;   
}

.button[disabled]:hover
{
  border-bottom: 1px solid #A8A8A8;
  border-right:  1px solid #A8A8A8;   
}

/* - - - - - - - - - - - - - - - - - - - - */

#editor, #output
{
  background: CornSilk;
  color: Black;
  width: 45em;
}

#editor, #editor_line_numbers, #output, #output_line_numbers
{
  height: 38em;    
}

#editor, #editor_line_numbers, #output, #output_line_numbers, #diff_sheet
{
  font-family: monospace;
  font-size: 12pt;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  padding-left: 2px;
}

#editor_line_numbers, #output_line_numbers
{
  overflow: hidden;
  text-align: right;
  display: block;
  font-weight: normal;
  padding-right: 2px;
  width: 2em;
}

#outcome { display: none; }

/* - - - - - - - - - - - - - - - - - - - - */

#all_messages { height: 30em; width: 19em; overflow-y: auto; }

.message_text, #messages { font-size: 0.8em; }
.message_text
{
  margin: 0em;
  padding: 0.4em;
  vertical-align: middle;
}

#message_text_input
{
  border-color: Gray;
  background: CornSilk;
  color: Green;
  height: 3em;
  width: 12em;
  font-size: 1em;
}
  
.message_container
{
  display: block;
  width: 17em;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  cursor: pointer;
}

.message_container
{
  border-bottom: 1px solid #A8A8A8;
  border-right:  1px solid #A8A8A8;
}

.message_container:hover
{
  border-bottom: 1px solid #555555;
  border-right:  1px solid #555555;     
}

/* - - - - - - - - - - - - - - - - - - - - */

#seconds_per_column,
#maximum_columns 
{ 
  font-size: 1em; 
  width: 3em; 
  text-align: center; 
}

.failed { background: #F00; /* red   */ }
.error  { background: #FC3; /* amber */ }
.passed { background: #0F0; /* green */ }

#traffic_lights .row td { padding: 0.05em; margin: 0; }
#traffic_lights .row.odd td  { background: CornSilk; }
#traffic_lights .row.odd td.summary  { background: #B2EFEF; }
#traffic_lights .omission { font-size: 0.7em; color: Gray; }
#traffic_lights .omission:after { content: "\2026"; /* ellipsis ... */ }
#traffic_lights .gap { font-size: 0.5em; color: Gray; text-align: center; }
#traffic_lights .number, .traffic_light .number
{
  font-size: 1em;
  text-align: center; /* for diff and dashboard */
  display: block; /* for dashboard */
  color: Gray;
}

.traffic_light
{
  background: Gray;
  padding: 2px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.traffic_light:hover 
{ 
  background: LightGray;
  cursor: pointer; 
}

.traffic_light.unlinked:hover  
{ 
  background: #FFECCB; 
  cursor: default; 
}

.traffic_light .bulb
{
  display: block;
  margin: 2px 0px 0px 0px; /* vertical bulb separation */
  padding: 1px; /* affects bulb diameter */
  width: 8px;
  height: 8px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.traffic_light .bulb.off    { background: GhostWhite; }

/* - - - - - - - - - - - - - - - - - - - - */

#tag_number { font-size: 1em; }

#diff_panel
{
  overflow: auto;
  height: 40em;
  width: 48em;
}

#diff_sheet
{
  background: Ivory;
  margin: 0;
  padding: 0;
}

pre.diffed_code { margin: 0; padding: 0; }

pre.diffed_code same    { background: Cornsilk; }
pre.diffed_code added,   #toggle_added_lines   { background: #CEF6CE; }
pre.diffed_code deleted, #toggle_deleted_lines { background: #F6CECE; }

pre.diffed_code ln 
{
  padding-left: 2px;
  margin-right: 3px;
  padding-right: 2px;
  color: #B0B0B0;
  font-weight: normal;
  white-space: pre;
}

.diff_dots { color: #383838; font-size: 0.7em; }

.diff_dots.on:after  { content: '...'; }
.diff_dots.off:after { content: '\00a0\00a0\00a0'; }

.dot { display: inline-block; width: 9px; height: 9px; }
.dot:after { content: "\00a0"; } /* non breaking space */

.added.dot   { background: #CEF6CE; border: 1px dotted Green; }  
.deleted.dot { background: #F6CECE; border: 1px dotted #F00; }
.spacer.dot  { background: #B2EFEF; border: 1px dotted #B2EFEF; }

/* - - - - - - - - - - - - - - - - - - - - */
/* Main Colour Scheme */

div[class~="filename"],
#editor_line_numbers,
#output_line_numbers,
.panel,
pre.diffed_code same ln,
.message_container
{
  background: #B2EFEF;
}

/* - - - - - - - - - - - - - - - - - - - - */

div[current_file="false"] { background: #B2EFEF; }
div[current_file="true"]  { background: CornSilk; }

.ui-dialog,
.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-buttonpane,
body   { background: #FFECCB; }
.panel { border: 2px solid #FFECCB; }

#editor_line_numbers, #output_line_numbers, pre.diffed_code ln { color: #888; }

#editor, #output, #diff_sheet { color: #383838; }


