
#cyber_dojo_page
{
  margin-top: 0em;
  margin-left: 1em;
  border-style: none;
  background-color: #FFE4C4; /*bisque*/
  color: green;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.rounded
{ 
  border: 1px solid #D8D8D8; /*light-gray*/
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.panel
{    
  background-color: #FEF5CA; /*sandbox */
  margin: 0.5em 0.5em 0.5em 0em;
  padding: 0.5em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.increment 
{ 
  padding: 0.15em; 
  font-size: 14pt;
}



.failed  { background-color: #F33; }
.passed  { background-color: #3C3; }
.error   { background-color: yellow;  }
.timeout { background-color: #3FF; }  /*blue*/

/* FAKE TOOL TIPS
 * Instead of title="tool-tip" I use a hidden nested span
 * as this allows me to insert newlines.
 */
#inc.increment
{
  position: relative; /*this is the key*/
  z-index: 24; 
  text-decoration: none;
}

#inc.increment:hover { z-index: 25; }

#inc.increment span { display: none; }

#inc.increment:hover span /*the span will display just on :hover state*/
{
  font-family: monospace;
  font-size: 9pt;
  display: block;
  position: fixed;
  top: 5em; left: 2em; width: auto;
  border: 1px solid #0CF;
  background-color: #CFF; 
  color: #000;
  text-align: left;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#avatar_buttons
{
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#file_manager 
{ 
  padding: 0.5em; 
  background-color: #FEF5CA;
  color: #686868;   
  font-size: 12pt; 
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#editor
{
  overflow-y: scroll;
  padding: 0em;
  padding-left: 5px;
  margin: 0em;
  margin-left: 40px;
  font-size: 12pt;
  font-family: monospace;
  font-weight: normal;
  color: white;
  background-color: #686868;
  border: 1px solid #666;
  border-right: none;
}

.textarea_with_line_numbers
{
  display: block;
  font-size: 12pt;
  font-weight: 100;
  color: #686868;
  margin: 0;
  border: 1px solid #666;
  border-right: none;
  background: #aaa;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#hidden_text_areas
{ 
  visibility: hidden; 
  display: none; 
}


