
body
{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
}

h1, h2, h3, h4
{
  text-align: center;
  margin: 0;
}
h1 { font-size: 3.0em; }
h2 { font-size: 2.0em;  }
h3 { font-size: 1.3em;  }

.avatar_image
{
  margin: 0.1em;
  cursor: pointer;
}

.panel
{
  border-top: 2px dotted White;
  border-left: 2px dotted White;
  
  border-top: 3px solid Cornsilk;
  border-left: 3px solid Cornsilk;
  
  border-right: none;
  border-bottom: none;
  margin: 0px;
  padding: 0.5em;  
}

.small_text { font-size: 0.4em; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input { font-size: 1.15em; }

.button
{
  font-size: 0.8em;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  text-decoration: none;
  font-weight: normal;
  border: none;
}

.small.button
{
  font-size: 1.1em;
  padding: 0 0.2em 0 0.2em; /* Top Right Bottom Left */
}

.large.button { font-size: 1.35em; }
.larger.button { font-size: 1.85em; }

.button[disabled]
{
  cursor: default;
  background: LightGray;
  color: Gray;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#instructions
{
  overflow-y: auto;
  font-family: monospace;
  font-size: 16pt;
  border: 4px solid Cornsilk;
}

.small_title
{
  display: block;
  margin: 0.2em 0em 0em 0.2em; /* Top Right Bottom Left */
  font-size: 1em;
}

.choose_title { font-size: 1.9em; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input+label { cursor: pointer; }

input[id="radio_output"]+label, /* from edit-page */
input[value="output"]+label     /* from diff-page */
{
  font-style: italic;
}

input[id="help"] { margin-top: 0.5em; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div[class~="filename"]:before { content: "\00a0";  } /* \00a0 is a retained space */
div[class~="filename"]:after  { content: "\00a0";  } 

div[class~="filename"]
{
  color: #777;
  margin: 0.25em;
  font-size: 17pt;
  cursor: pointer;
  white-space: nowrap;
}

div[class~="filename"]:hover, .button:hover
{
  border-bottom: 1px solid #555555;
  border-right:  1px solid #555555;   
}

div[class~="filename"], .button[disabled]:hover, .button
{
  border-bottom: 1px solid #A8A8A8;
  border-right:  1px solid #A8A8A8;   
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.filename_div { display: none; }

.file_content { width: 45em; }

.line_numbers, .file_content { height: 28em; }

.line_numbers, #diff_sheet, .file_content
{
  font-family: monospace;
  font-size: 17pt;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  padding-left: 2px;
}

.line_numbers
{
  overflow: hidden;
  text-align: right;
  display: block;
  font-weight: normal;
  padding-right: 2px;
  width: 2em;
  font-weight: 100;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#seconds_per_column,
#maximum_columns 
{ 
  font-size: 1em; 
  width: 3em; 
  text-align: center; 
}

#traffic_lights .row td { padding: 0.05em; margin: 0; }
#traffic_lights .row.odd td  { background: CornSilk; }
#traffic_lights .row.odd td.summary  { background: #B2EFEF; }
#traffic_lights .omission { font-size: 0.7em; color: Gray; }
#traffic_lights .omission:after { content: "\2026"; /* ellipsis ... */ }
#traffic_lights .gap { font-size: 0.5em; color: Gray; text-align: center; }
#traffic_lights .number, .traffic_light .number
{
  font-size: 1.4em;
  text-align: center; /* for diff and dashboard */
  display: block; /* for dashboard */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#tag_number
{
  font-size: 1em; 
  text-align: center; /* for diff and dashboard */
}

#diff_panel
{
  overflow: auto;
  height: 48em;
  width: 63em;
}

#diff_sheet
{
  margin: 0;
  padding: 0;
}

pre.diffed_code { margin: 0; padding: 0; }

pre.diffed_code added,   #toggle_added_lines   { background: #CEF6CE; }
pre.diffed_code deleted, #toggle_deleted_lines { background: #F6CECE; }

pre.diffed_code ln 
{
  padding-left: 2px;
  margin-right: 3px;
  padding-right: 2px;
  color: #B0B0B0;
  font-weight: normal;
  white-space: pre;
}

.diff_dots { color: #383838; font-size: 0.7em; }

.diff_dots.on:after  { content: '...'; }
.diff_dots.off:after { content: '\00a0\00a0\00a0'; }

.dot { display: inline-block; width: 9px; height: 9px; }
.dot:after { content: "\00a0"; } /* non breaking space */

.added.dot   { background: #CEF6CE; border: 1px dotted Green; }  
.deleted.dot { background: #F6CECE; border: 1px dotted #F00; }
.spacer.dot  { background: #B2EFEF; border: 1px dotted #B2EFEF; }

.invisible { display: none; } /* used to show/hide -+ lines */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.file_content { font-weight: 500; }

.info { font-size: 1.2em; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main Colour Scheme                                    */
/* See also jQuery CSS'ing in                            */
/*    cyberdojo-file_load_save.js radioEntrySwitch()     */
/*    cyberdojo-build_diff_filenames.js                  */

.line_numbers, pre.diffed_code ln
{
  color: #888;
}

#diff_sheet, #instructions, .file_content, .button, .light_margin.panel,
.panel, pre.diffed_code same
{
  background: Cornsilk;
}

h1, h2, h3, h4, #cyber_dojo_page, #diff_sheet, #instructions,
.file_content, .button, .panel, .info, .small_title, pre.diffed_code same,
#traffic_lights .number, .traffic_light .number
{
  color: #003C00;
}

body, .panel, .line_numbers, pre.diffed_code same ln
{
  background: #B2EFEF;  
}



