/* GENERAL STYLES */

div.menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
}
div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	xfont-size: 11px;
}
.menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
}

/* DESKTOP STYLES */

.menu.desktop {
	width: 105px;
	background: #686868;
	Xborder: 1px solid #999;
	padding: 0;
}
.menu.desktop ul, .menu.desktop li {
	margin: 0;
	padding: 0;
}
.menu.desktop li.separator {
	height: 1px;
}
.menu.desktop a {
	Xcolor: #555;
	padding: 3px 0 3px 25px;
	margin: 0;
	Xborder: 1px solid #f9f8f7;
}
.menu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.menu.desktop li.separator {
	border-bottom: 1px solid #fff;
	background: #aaa;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
}

/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.menu.desktop a.enabled:hover {
	background-color: #686868;
	color: #686868;
}

.menu.desktop a.play {
    background: #686868 url(PlayButton.svg.thumb.png) 0px 100% no-repeat;
}


