
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
    $j('.start').click(function() {
        // this doesn't appear to work in Safari
        window.location = '/dojo/index?dojo_name=<%=@dojo.name-%>';
        return true;
    })
});

//--></script>


<div id="choose_avatar_grid">
  <table align="center"
        class="panel">
    <% index = 0 -%>
    <% size = 100 -%>
    <% (1..4).each do |_| -%>
    <tr>
      <% (1..4).each do |_| -%>
      <td>
        <% avatar_name = @all_avatar_names[index] -%>
        <% if @live_avatar_names.include?(avatar_name) -%>
          <%= bw_avatar_image(avatar_name, size) -%>          
        <% else -%>
          <%= start_button(@dojo.name, avatar_name, size) -%>
        <% end -%>      
        <% index += 1 -%>
      </td>
      <% end -%>     
    </tr>
    <% end -%>
  </table>
  &nbsp;&nbsp;Choose an avatar, click it to start
</div>
