
<h1><%=@dojo.name-%></h1>

<%= render :partial => 'choose_avatar_grid' -%>

<%= periodically_call_remote :url => { :action => :choose_avatar_heartbeat,
                                       :dojo_name => @dojo.name
                                     }, 
                             :frequency => 2 -%>
