
<%= render :partial => 'dojo/title',
           :locals => { :title => 'Start Coding' } -%>

<h2>Dojo: <%=@dojo.name-%></h2>

<div class="panel">
  <h2>Another laptop chose <%=@avatar_name-%> a split second before you.</h2>
  <h2>Please close this window and try again.</h2>

<h2>
<%= tag( :input, 
    { 
      :type => :button,
      :class => :button,
      :onclick => "window.close();",
      :value => :Close,
      :title => "Close this window" 
    }) -%>
<h2>
</div>
