
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#feedback').click(function() {  
    $.get('/dojo/button_dialog/feedback', function(html) {
      cd.dialog(html, null, 'feedback').dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Give feedback"
     id="feedback">
  <%= t("views.buttons.feedback") %>
</div>
