
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  $('#feedback').click(function() {  
    $.getJSON('/dojo/show_dialog/feedback', function(json) {
      cd.dialog(json.html, json.size, 'feedback').dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Give feedback"
     id="feedback">
  <%= t("views.buttons.feedback") %>
</div>
