
<div id="footer">
  <%= render :partial => 'shared/info' %>
  &bull;
  <%= render :partial => 'shared/terms_and_conditions' %>
  &bull;
  <%= render :partial => 'help_button' %>
  &bull;
  <%= render :partial => 'shared/tweet' %>
</div>
