
<script type="text/javascript"><!--

$(function() {

  $('#home-page-logo').click(function() {
    var id = $(this).data('id');
    var url = '/dojo/index/' + id;
    window.location.href = url;
  });

});

//--></script>

<div id="home-page-logo"
     data-id="<%= @id %>"
     title="go to home page">
  <img alt="cyber-dojo yin-yang logo"
       src="/images/avatars/cyber-dojo.png"
       height="35"
       width="35" />
</div>
