
<script type="text/javascript"><!--

$(function() {

  $('#home-page-logo').click(function() {
    window.location.href = '/dojo/index/' + "<%= @id %>";;
  });

});

//--></script>

<div id="home-page-logo"
     title="go to home page">
  <img alt="cyber-dojo yin-yang logo"
       src="/images/avatars/cyber-dojo.png"
       height="20"
       width="20" />
</div>
