
<table id="shared-info">
  <tr>
    <td>
      <div id="id" title="this dojo's unique id">
        <%= @kata.id.to_s[0..5] %>
      </div>
      <div title="this dojo's language">
        <%= @kata.language.display_name %>
      </div>
      <div title="this dojo's unit-test framework">
        <%= @kata.language.display_test_name %>
      </div>
      <div title="this dojo's exercise">
        <%= @kata.exercise.name.gsub('_',' ') %>
      </div>
    </td>
  </tr>
</table>
