
<table class="align-center" id="shared-info">
  <tr>
    <td>
      <%= render :partial => 'shared/logo' %>
    </td>
    <td>
      <div class="table-row">
        <%= @kata.id[0..5] %>
      </div>
      <div class="table-row">
        <%= @kata.language.name %>
      </div>
      <div class="table-row">
        <%= @kata.exercise.name.sub('_',' ') %>
      </div>
    </td>
  </tr>
</table>
