
<table class="align-center" id="shared-info">  
  <tr>
    <td><%= @kata.id[0..5] %></td>
  </tr>
  <tr>
    <td><%= @kata.language.name %></td>
  </tr>
  <tr>
    <td><%= @kata.exercise.name.sub('_',' ') %></td>
  </tr>
</table>
