
<table class="align-center" id="shared-info">
  <tr>
    <td>
      <%= render :partial => 'shared/logo' %>
    </td>
    <td>
      <div class="tipped table-row">
        <%= @kata.id[0..5] %>
        <div class="tooltip">
          This dojo's unique id
        </div>
      </div>
      <div class="tipped table-row">
        <%= @kata.language.name.sub('-',' ') %>
        <div class="tooltip">
          This dojo's chosen language
        </div>
      </div>
      <div class="tipped table-row">
        <%= @kata.exercise.name.sub('_',' ') %>
        <div class="tooltip">
          This dojo's chosen exercise
        </div>
      </div>
    </td>
  </tr>
</table>
