
<script type="text/javascript"><!--

$(function () {

  $('#learn-more-button').click(function() {
    var url = "<%= help_url %>";
    window.open(url);
  });

});

//--></script>

<button type="button" id="learn-more-button">learn&nbsp;more</button>

