
<script type="text/javascript"><!--

$(function () {

  $('#learn-more-button').click(function() {
    var url = 'http://blog.cyber-dojo.org/p/learn-more.html';
    window.open(url);
  });

});

//--></script>

<button type="button" id="learn-more-button">learn more at the blogsite</button>

