<% locales = {en: "English", fr: "French"} %>
<% locales = {} #don't show choices, config/locales/*.yml files are not complete yet %>

<div class="i18n align-center">
  <% locales.each do |locale, text| %>
    <span class="locale">
      <%= link_to flag_image(text),
        "/locales/change/#{locale}" %>
    </span>
  <% end %>
</div>