
<script type="text/javascript"><!--

$(function() {

  $('#yin-yang-logo').click(function() {
    var id = $(this).data('id');
    var url = '/dojo/index/' + id;
    window.open(url);
  });

});

//--></script>

<div id="yin-yang-logo"
     data-id="<%= @kata.id %>"
     title="opens a new home page">
  <img alt="cyber-dojo yin-yang logo"
       src="/images/avatars/cyber-dojo.png"
       height="54"
       width="54" />
</div>
