
<td style="text-align: right;">
  <div>kata</div>
  <div>language</div>
  <div>exercise</div>
</td>
<td style="text-align: center;">
  <div>=</div>
  <div>=</div>
  <div>=</div>
</td>      
<td style="text-align: left;">
  <div><%= elided_name(@dojo.name, 15) -%></div>
  <div><%= @dojo.language -%></div>
  <div><%= @dojo.exercise -%></div>
</td>      

