
<script type="text/javascript"><!--

$(function() {

  $('#terms-and-conditions').click(function(event) {
      event.preventDefault();
      var name = $(this).attr('id');
      var title = $(this).text();
      $.get('/dojo/button_dialog/' + name, function(html) {
        cd.dialog(html, title, 'close').dialog('open');
      });
  });

});

//--></script>

<a id="terms-and-conditions" href="..">terms &amp; conditions</a>
