
<script type="text/javascript"><!--

$(function() {

  $('#terms-and-conditions').click(function(event) {
      event.preventDefault();
      var url = "http://blog.cyber-dojo.org/2014/09/terms-conditions-warranty-cost.html";
      window.open(url);
  });

});

//--></script>

<a id="terms-and-conditions" href="..">terms &amp; conditions</a>
