
<% [:red,:amber,:green].each do |bulb| %>
  <%  bulb_tally = traffic_lights.count{ |light| light[:colour] == bulb } %>
  <div class="tipped <%= bulb %> bulb_count">
    <%= bulb_tally %>
    <div class='tooltip'>
       <%= avatar_name %> has<br>
       <%= pluralize(bulb_tally, bulb.to_s + ' traffic-light') %><br>
       so far
    </div>
  </div>       
<% end %>

