
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
    $j('.resume').click(function() {
        // this doesn't appear to work in Safari
        window.location = '/dojo/index?dojo_name=<%=@dojo.name-%>';
        return true;
    })
});

//--></script>

<div id="choose_avatar_grid">
  
  <h4>&nbsp;&nbsp;Choose an avatar, click it to resume</h4>

  <table align="center"
        class="panel">
    <% index = 0 -%>
    <% size = 100 -%>
    <% (1..4).each do |_| -%>
    <tr>
      <% (1..4).each do |_| -%>
      <td>
        <% avatar_name = @all_avatar_names[index] -%>
        <% if @live_avatar_names.include?(avatar_name) -%>
          <%= resume_button(@dojo.name, avatar_name, size) -%>
        <% else -%>
          <%= bw_avatar_image(avatar_name, size) -%>
        <% end -%>      
        <% index += 1 -%>
      </td>
      <% end -%>     
    </tr>
    <% end -%>
  </table>

</div>
