
<script type="text/javascript"><!--

$(function() {

  var button = $('#continue-button');

  button.click(function() {
    var id = $('#full-kata-id').val();
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/enter/continue', { id: id }, function(dojo) {
      button.css('cursor', cursor);
      cd.continueDialog('continue', dojo.html);
    });
  });

});

//--></script>

<button type="button" id="continue-button">continue</button>