
<script type="text/javascript"><!--

$(function() {

  var button = $('#continue-button');

  button.click(function() {
    var id = $('#kata-id-input').val();
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/enter/re_join', { id: id }, function(dojo) {
      cd.dialog_continue('continue', dojo.re_join_dialog_html).dialog('open');
    }).always(function() {
      button.css('cursor', cursor);
    });
  });

});

//--></script>

<button type="button" id="continue-button">continue</button>