
<script type="text/javascript"><!--

$(function() {

  var button = $('#dashboard-button');

  button.click(function() {
    var id = $('#kata-id-input').val();
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/enter/continue', { id: id }, function(dojo) {
      button.css('cursor', cursor);
      if (dojo.empty) {
        cd.continueDialog('dashboard', dojo.html).dialog('open');
      } else {
        var url = '/dashboard/show/' + id;
        window.location.href = url;
      }
    });
  });

});

//--></script>

<button type="button" id="dashboard-button">dashboard</button>
