
<script type="text/javascript"><!--

$(function() {

  var joinButton = $('#join-button');

  joinButton.click(function() {
    cd.dialog_ie(function() {
      var id = $('#kata-id-input').val();
      var cursor = joinButton.css('cursor');
      joinButton.css('cursor', 'wait');
      $.getJSON('/enter/join', { id: id }, function(dojo) {
        if (dojo.full) {
          cd.dialog(dojo.full_dialog_html, 'join', 'ok').dialog('open');
        } else {
          cd.dialog_join(id, dojo.avatar_name, dojo.join_dialog_html).dialog('open');
          cd.enableDisableJoinReJoinReview();
        }
      }).always(function() {
        enterButton.css('cursor', cursor);
      });
    });
  });

});

//--></script>

<button type="button" id="join-button">join</button>