
<script type="text/javascript"><!--

$(function() {

  var reJoinButton = $('#re-join-button');

  reJoinButton.click(function() {
    var id = $('#kata-id-input').val();
    var cursor = reJoinButton.css('cursor');
    reJoinButton.css('cursor', 'wait');
    $.getJSON('/enter/re_join', { id: id }, function(dojo) {
      cd.dialog_reEnter('re-join', 'cancel', dojo.re_join_dialog_html).dialog('open');
    }).always(function() {
      reJoinButton.css('cursor', cursor);
    });
  });

});

//--></script>

<button type="button" id="re-join-button">re-join</button>