
<script type="text/javascript"><!--

$(function() {

  var button = $('#review-button');

  button.click(function() {
    var id = $('#kata-id-input').val();
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/enter/continue', { id: id }, function(dojo) {
      button.css('cursor', cursor);
      if (dojo.empty) {
        cd.continueDialog('review', dojo.html).dialog('open');
      } else {
        window.location.href = cd.homePageUrl(id);
        window.open('/review/show/' + id);
      }
    });
  });

});

//--></script>

<button type="button" id="review-button">review</button>
