
<script type="text/javascript"><!--

$(function() {

  var startDialog = function(title, id, avatarName, dialogHtml) {
    var okOrCancel = function() {
      var url = '/kata/edit/' + id + '?avatar=' + avatarName;
      window.location.href = url;
    };
    $('<div class="dialog">')
      .html(dialogHtml)
      .dialog({
        title: cd.dialogTitle(title),
        autoOpen: true,
        width: 435,
        modal: true,
        closeOnEscape: true,
        close: function() {
          okOrCancel();
          $(this).remove();
        },
        buttons: {
          ok: function() {
            okOrCancel();
            $(this).remove();
          }
        }
      });
  };

  var button = $('#start-button');

  button.click(function() {
    var id = $('#kata-id-input').val();
    var cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/enter/start', { id: id }, function(dojo) {
      button.css('cursor', cursor);
      if (dojo.full) {
        cd.dialog(dojo.full_dialog_html, 'start', 'ok').dialog('open');
      } else {
        startDialog('start', id, dojo.avatar_name, dojo.start_dialog_html);
      }
    });
  });

});

//--></script>

<button type="button" id="start-button">start</button>