
<script type="text/javascript"><!--

$(function() {

  var button = $('#start-button');

  button.click(function() {
    cd.dialog_ie(function() {
      var id = $('#kata-id-input').val();
      var cursor = button.css('cursor');
      button.css('cursor', 'wait');
      $.getJSON('/enter/join', { id: id }, function(dojo) {
        if (dojo.full) {
          cd.dialog(dojo.full_dialog_html, 'start', 'ok').dialog('open');
        } else {
          cd.dialog_start('start', id, dojo.avatar_name, dojo.join_dialog_html).dialog('open');
          cd.enableDisableJoinReJoinReview();
        }
      }).always(function() {
        button.css('cursor', cursor);
      });
    });
  });

});

//--></script>

<button type="button" id="start-button">start</button>