
<div data-width="500">
  <div class="align-center medium">sorry, full up!</div>
  <table class="align-center">
    <% index = 0 %>
    <% size = 60 %>
    <% (1..4).each do |_| %>
    <tr>
      <% (1..4).each do |_| %>
      <td class="panel">
        <% avatar_name = @all_avatar_names[index] %>
          <img src="/images/avatars/<%= avatar_name %>.jpg"
               title="<%= avatar_name %>"
               width="<%= size %>"
               height="<%= size %>" />
        <% index += 1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
