
<script language="JavaScript"
        type="text/javascript"><!--

$(document).ready(function() {
  
  $('#cancel').click(function() {
    cd.postTo('/setup/cancel');
  });
  
});

//--></script>

<div class="button"
     id="cancel">
  cancel
</div>
