
<script type="text/javascript"><!--

$(function() {

  $('#cancel').click(function() {
    var id = "<%= @id %>";
    var url = '/dojo/index/' + id;
    window.location = url;
  });

});

//--></script>

<button type="button"
        id="cancel">
  <%= t("views.buttons.cancel") %>
</button>
