
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#cancel').click(function() {
    cd.postTo('/setup/cancel', {
      id: "<%= @id %>"
    });
  });
  
});

//--></script>

<div class="button"
     id="cancel">
  <%= t("views.buttons.cancel") %>
</div>
