
<script type="text/javascript"><!--

$(function() {

  $('#cancel').click(function() {
    var url = "/dojo/index/<%= @id %>";
    window.location = url;
  });

});

//--></script>

<button type="button" id="cancel">cancel</button>
