
<script type="text/javascript"><!--

$(document).ready(function() {

  var languages = $('[id^=language_]');
  var rand = Math.floor(Math.random() * languages.size());
  var previousLanguage = $(languages[rand]);

  languages.each(function(index) {
    var node = $(this);
    node.click(function() {
      cd.radioEntrySwitch(previousLanguage, node);
      previousLanguage = node;
    });
  });
  
  $('#language_' + rand).click();
  //TODO: ensure visible (auto scroll)

});

//--></script>

<div id="choose_language">
  <%= t("views.labels.language") %>
</div>

<div id="div_languages">
  <% @languages.each_with_index do |choice,index| %>
    <div class="filename" 
         id="language_<%= index %>"
         data-language="<%= choice %>">
      <%= choice %>
    </div>    
  <% end %>    
</div>