
<% @exercises_names.each_with_index do |choice,index| %>
  <div class='filename'
       id="exercise_<%= index %>"
       data-exercise="<%= choice %>" >
    <%= choice.gsub('_', ' ') %>
  </div>
<% end %>
