
<script type="text/javascript"><!--

$(function() {

  $('#next').click(function() {
    var id = "<%= @id %>";
    var language = $('[id^=language_][class~=selected]').data('language');
    var     test = $('[id^=test_][class~=selected]').data('test');
    var url = '/setup/show_exercises/' + id +
      '?language=' + encodeURIComponent(language) +
      '&test=' + encodeURIComponent(test);
    window.location = url;
  });

});

//--></script>

<button type="button" id="next">next</button>
