
<script type="text/javascript"><!--

$(document).ready(function() {
  
  $('#ok').click(function() {  
    var exercise = $('[id^=exercise_][class~=selected]').data('exercise');
    var language = $('[id^=language_][class~=selected]').data('language');
    // put back
    cd.postTo('/setup/save', {
      exercise: exercise,
      language: language
    });    
  });
  
});

//--></script>

<button type="button"
        id="ok">
  <%= t("views.buttons.ok") %>
</button>
