
<script type="text/javascript"><!--

$(function() {

  var page = $('#setup-page');

  $('#ok').click(function() {
    var language = "<%= @language %>";
    var     test = "<%= @test %>";
    var exercise = $('[id^=exercise_][class~=selected]').data('exercise');
    $.getJSON('/setup/save', {
          language: language,
              test: test,
          exercise: exercise,
      }, function(dojo) {
          cd.newDojoDialog(dojo.id);
    });
  });

});

//--></script>

<button type="button" id="ok">ok</button>
