
<script type="text/javascript"><!--

$(function() {

  var page = $('#setup-page');
  $('#ok').click(function() {
    var language = $('[id^=language_][class~=selected]').data('language');
    var     test = $('[id^=test_][class~=selected]').data('test');
    var exercise = $('[id^=exercise_][class~=selected]').data('exercise');
    var latitude = undefined;     // Ensure params['latitude'] on the server to be nil not ''
    var longtitude = undefined;   // Ditto  params['longtitude']

    var saveAndRedirect = function() {
      $.getJSON('/setup/save', {
          language: language,
              test: test,
          exercise: exercise,
          latitude: latitude,
        longtitude: longtitude
      }, function(dojo) {
        var url = '/dojo/index/' + dojo.id;
        page.removeClass('busy');                            
        window.location = url;
      });      
    };

    var geoSuccess = function(position) {
      latitude = position.coords.latitude;
      longtitude = position.coords.longitude;
      saveAndRedirect();
    };
    var geoFailure = function() {
      saveAndRedirect();
    };

    page.addClass('busy'); 
    var geo = navigator.geolocation;
    if (geo) {
      var fourSeconds = 4*1000;
      var options = { timeout: fourSeconds };
      geo.getCurrentPosition(geoSuccess,geoFailure,options);
    } else {
      saveAndRedirect();      
    }
  });

});

//--></script>

<button type="button" id="ok">ok</button>
