
<%= render partial: 'choose_exercise' %>

<div id="setup-exercise-page">

  <table>
    <tr>
      <td colspan="2">
        <div id="create-a-practice-session">
          create&nbsp;a&nbsp;practice&nbsp;session
        </div>
      </td>
    </tr>
    <tr class="valign-top" id="exercises-container">
      <td>
        <div id="exercise-title">exercise?</div>
        <%= render partial: 'list_exercises' %>
      </td>
      <td>
        <%= render partial: 'instructions' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td colspan="2" align="right">
        <%= render partial: 'ok_button' %>
      </td>
    </tr>
  </table>

</div>


