
<table>
  <tr class="valign-top">
    <td class="panel">
      <%= render :partial => 'choose_language' %>            
    </td>
    <td class="panel">
      <%= render :partial => 'choose_exercise' %>
    </td>
    <td class="light_margin panel">
      <%= render :partial => 'instructions' %>
    </td>              
  </tr>
</table>
