
<script type="text/javascript"><!--

$(function() {

  var previousLanguage = undefined;
  var selected = $('#language_' + <%= @selected_language_index %>);

  $('[id^=language_]').each(function() {
    var node = $(this);
    node.click(function() {
      cd.radioEntrySwitch(previousLanguage, node);
      previousLanguage = node;
    });
  });

  selected.click();
  selected.scrollIntoView({ direction: 'vertical' });
});

//--></script>

<div id="languages-container">
  <% @languages.each_with_index do |atts,index| %>
    <div class="filename"
         id="language_<%= index %>"
         data-language="<%= atts[1] %>">
      <%= atts[0] %>
    </div>
  <% end %>
</div>
