
$black: #000;
$blue: #00F;
$darker-color: lighten($black, 35%);
$lighter-color: lighten(Khaki, 10%);

$red: #F00;
$amber: #FC3;
$green: #0F0;

$diff-added-color: lighten($green, 25%);
$diff-deleted-color: lighten($red, 25%);

