
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main Colour Scheme                                    */
/* See also jQuery CSS'ing in                            */
/*    cyberdojo-file_load_save.js radioEntrySwitch()     */
/*    cyberdojo-build_diff_filenames.js                  */

$background-color: #B2EFEF;
$main-color: #003C00;

$light-background-color: Cornsilk;

$line-number-color: #B0B0B0;
