
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main Colour Scheme                                    */
/* See also jQuery CSS'ing in                            */
/*    cyberdojo-files.js radioEntrySwitch()              */

$background-color: #B2EFEF; // light blue

$main-color: #003C00; // dark green

$light-background-color: Cornsilk;

$line-number-color: #A8A8A8; // light gray

$bottom-right-edge-color: #A8A8A8;

$bottom-right-edge-highlight-color: #555555;

$filename-color: #777;

$diff-added-color: #CEF6CE; // light green

$diff-deleted-color: #F6CECE; // light red
