
table { border-spacing: 0; }

#cyber-dojo-page {
  font-size: 0.9em;
     margin: { top: 0.3em; left: 0.3em; }
    padding: { bottom: 32px; } // ensure that nothing gets hidden by the footer
      color: $lighter-color;
}

body {
  @include non-code-font();
  background: $darker-color;
     padding: none;
      margin: 0px;
}

.panel {
  background: $darker-color;
       color: $lighter-color;
      border: 1px solid lighten($darker-color, 8%);
     padding: 5px;
      margin: { left: 10px; right: 10px; bottom: 1px; }
}

.avatar-image {
  margin: { left: 0px; right: 1px; top: 0px; bottom: 0px; }
  cursor: pointer;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

$filename_and_button_border_size: 1px;

button {
  @include rounded-corner(6px);
  @include gradient-lighten(darken($lighter-color, 12%), 9%, 2%, 0%);

          display: inline-block;
           cursor: pointer;
          padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
      font-weight: normal;
           border: $filename_and_button_border_size solid $darker-color;

  &:hover { border: $filename_and_button_border_size dotted lighten($darker-color, 20%); }
  &[disabled] {
    background: lighten($darker-color, 20%);
        cursor: default;
    &:hover { border: $filename_and_button_border_size solid $darker-color; }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.filename_div { display: none; }

div[class~='filename'] {
  @include plaintext-font();
  @include font-size-small();

  // no up/down scrolling, #filename-list has its own
  overflow-y: none;
  &::-webkit-scrollbar:vertical { width: 0px; }

  background: $darker-color;
       color: lighten($darker-color, 30%);
      margin: { bottom: 2px; left: 0px; left: 0px; right: 0px; }
     padding: { right: 0px; }
      cursor: pointer;
  text-align: right;

  // individual left/right scrolling for looooooong filenames
  &::-webkit-scrollbar:horizontal { height: 0px; }
    max-width: 250px;
   overflow-x: auto;
    direction: rtl;

  &:hover { color: lighten($darker-color, 60); }
  &[class~='selected'] {
    // See app/assets/javascripts/cyber-dojo_file_load.js function radioEntrySwitch()
         color: $lighter-color;
    background: $darker-color;
        cursor: default;
    &:hover { color: $lighter-color; }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.line_numbers, .file_content, .diff_line_numbers, #instructions { @include code-font; }

.line_numbers, .file_content {
  background: lighten($darker-color, 4%);
      height: 560px;
      border: 0px;
      margin: 0px;
     padding: 0px;
     display: block;
    overflow: auto;
}

.line_numbers {
     border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
        color: lighten($darker-color, 20%);
  font-weight: 100;
   text-align: right;
     overflow: hidden;
      display: block;
       cursor: pointer;
      padding: { right: 4px; top: 2px; }
        width: 32px;
      outline: none;
     position: relative; // lose 1px gap to file-content
         left: 2px;

    &.opaque { color: Gray; }
    &:not(.opaque) { color: lighten($darker-color, 4%); }
}

.file_content {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
        color: $lighter-color;
        width: 690px;
  font-weight: 500;
  // if padding-left gets too large it pushes the background to the
  // right and the vertical scrollbar gets a background-coloured right-border
      padding: { left: 2px; top: 2px; }
      outline: none;
       cursor: text;
       resize: none;

  &[data-filename=output] { cursor: default; }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.dialog {
  background: $lighter-color;
       color: $darker-color;
     display: table;
      margin: { top: 0; bottom: auto; left: 45px; right: 45px; }

  a:link, a:visited { color: $lighter-color; }

  &.title {
    @include non-code-font();
    position: relative;
        left: -45px;
  }
}
