
table { border-spacing: 0; }

#cyber-dojo-page {
  font-size: 0.9em;
  margin: { top: 0.3em; left: 0.3em; }
  color: $lighter-color;
  // ensure that nothing gets hidden by the footer
  padding-bottom: 32px;
}

body {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  padding: none;
  margin: 0em;
}

.panel-title {
  margin-top: 10px;
  @include font-size-small();
}

.panel {
  background: $darker-color;
  color: $lighter-color;
  border: 1px solid lighten($darker-color, 8%);
  padding: 0.5em;
  margin: { left: 10px; right: 10px; bottom: 1px; }
}

.avatar-image {
  margin: { left: 0px; right: 0.2em; top: 0em; bottom: 0em; }
  cursor: pointer;
}

.vertical-padded {
  padding: { top: 0.5em; bottom: 0.5em; }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

$filename_and_button_border_size: 1px;

button {
  background: darken($lighter-color, 10%);
  color: $darker-color;
  cursor: pointer;
  padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
  font-weight: normal;
  border: $filename_and_button_border_size solid $darker-color;
  @include rounded-corner(6px);
  display: inline-block;
  @include gradient-lighten(darken($lighter-color, 12%), 9%, 2%, 0%);
}

button[disabled] {
  background: lighten($darker-color, 20%);
  cursor: default;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

#filename-list {
  display: block; // don't lose rhs of long filenames when scrolling
  max-height: 495px;
  max-width: 250px;
  margin-top: 3px;
  margin-right: 2px;
  overflow: auto;
  &::-webkit-scrollbar:horizontal { height: 8px; }
}

.filename_div {
  display: none;
}

div[class~='filename'] {
  @include font-size-small();
  background: $darker-color;
  color: lighten($darker-color, 15%);
  margin: none;
  margin-bottom: 2px;
  padding: { left: 0.3em; right: 13px; }
  cursor: pointer;
  white-space: nowrap;
  @include rounded-corner(4px);
  max-width: 1200px;
  overflow: none;

  &[class~='selected'] {
    // See app/assets/javascripts/cyber-dojo_file_load.js
    // function radioEntrySwitch()
    color: $lighter-color;
    background: $darker-color;
    cursor: default;
  }
  text-align: right;
}

div[class~="filename"]:hover, button:hover {
  border: $filename_and_button_border_size dotted lighten($darker-color, 20%);
}

div[class~="filename"],  button[disabled]:hover {
  border: $filename_and_button_border_size solid $darker-color;
}

div[class~="filename"][class~='selected']:hover {
  border: $filename_and_button_border_size solid $darker-color;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.line_numbers, .file_content { height: 580px; }

.line_numbers, .file_content, .diff_line_numbers, #instructions { @include code-font; }

.line_numbers, .file_content {
  background: lighten($darker-color, 6%);
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: block;
  overflow: auto;
  &::-webkit-scrollbar:vertical { width: 5px; }
}

.line_numbers {
  color: lighten($darker-color, 20%);
  font-weight: 100;
  text-align: right;
  overflow: hidden;
  display: block;
  padding-right: 4px;
  padding-top: 2px;
  width: 32px;
  outline: none;
  position: relative; // lose 1px gap to file-content
  left: 2px;
  border-top-left-radius: 10px;
}

.file_content {
  color: $lighter-color;
  width: 720px;
  font-weight: 500;
  // if padding-left gets too large it pushes the background to the
  // right and the vertical scrollbar gets a background-coloured right-border
  padding: { left: 2px; top: 2px; }
  outline: none;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.dialog {
  background: $lighter-color;
  color: $darker-color;
  display: table;
  margin: { top: 0; bottom: auto; left: 45px; right: 45px; }
  a:link, a:visited { color: $lighter-color; }

  &.title {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    position: relative;
    left: -45px;
  }
}
