
@mixin rounded-corner($radius: 6px)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;  
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

table { border-spacing: 0; }
.align-left    { text-align: left;   } 
.align-center
{
  text-align: center;
  margin: {
    left: auto;
    right: auto;
  }
}
.align-right   { text-align: right;  }
.valign-top    { vertical-align: top;    }
.valign-center { vertical-align: center; }

#cyber_dojo_page
{
  margin: {
    top: 0.3em;
    left: 0.3em;
  }
  color: $lighter-color;
}

body
{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;  
  padding: none;
  margin: 0em;
}

.avatar_image
{
  margin: 0.2em;
  margin-right: 0.4em;
  cursor: pointer;
}

.panel
{
  background: $darker-color;
  color: $lighter-color;
  border: {
    style: dotted;
    width: 2px;
    color: lighten($darker-color, 15%);
    right: none;
    bottom: none;    
  }
  margin: none;
  padding: 0.5em;

  &.edgeless {
    padding: 0em;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

input+label { cursor: pointer; }

input[id="radio_output"]+label, // from edit-page
input[value="output"]+label     // from diff-page
{
  font-style: italic;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

div[class~="button"], input[class~="button"]
{
  background: $lighter-color;
  @include gradient-darken($lighter-color, 20%, 10%, 5%); 
  color: $darker-color;    
  cursor: pointer;
  padding: {
    left: 0.5em;
    right: 0.5em;
    bottom: 0.1em;
  }
  text-decoration: none;
  font-weight: normal;
  border: none;
  @include rounded-corner(4px);
  display: inline-block;
}

div[class~="button"][disabled]
{
  background: lighten($darker-color, 20%);
  cursor: default;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - 

div[class~="filename"]
{
  @include font-size-small();  
  background: $darker-color;
  color: $lighter-color;
  margin: none;
  padding: {
    left: 0.5em;
    right: 0.5em;
  }
  cursor: pointer;
  white-space: nowrap;
  @include rounded-corner(4px);
  
  input+label {
    cursor: pointer;    
  }
  
  &[class~="selected"]
  {
    // See app/assets/javascripts/cyber-dojo_file_load.js
    // function radioEntrySwitch()
    background: $lighter-color;
    @include gradient-darken($lighter-color, 20%, 10%, 5%);   
    color: $darker-color;
    cursor: default;
    
    input+label {
      cursor: default;  
    }
  }  
}

div[class~="filename"]:hover,
div[class~="button"]:hover
{
  border: 2px dotted lighten($darker-color, 20%);
}

div[class~="filename"],
div[class~="button"][disabled]:hover,
div[class~="button"]
{
  // match the hover settings above so the filenames
  // retains their vertical position in the list
  border: 2px solid $darker-color;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - 

.filename_div { display: none; }

.file_content
{
  background: $lighter-color;
  color: $darker-color;
  width: 45em;
  font-weight: 500;
}

.line_numbers,
.file_content { height: 34em; }

.line_numbers, .file_content, #instructions
{
  @include code-font;
}

.line_numbers, .file_content
{
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  display: block;
  overflow: auto;
}

.line_numbers
{
  background: $darker-color;
  color: lighten($darker-color, 30%);
  font-weight: 100;
  text-align: right;
  overflow: hidden;
  display: block;
  padding-right: 2px;
  width: 2em;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.dialog
{
  background: $lighter-color;
  color: $darker-color;
  display: table;
  margin: 0 auto;
  
  a:link, a:visited {
    color: $lighter-color;  
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.started-avatar-name
{
  font-weight: bold;
  text-align: center;
}

.unstarted-avatar-name
{
  color: Gray;
  font-weight: bold;
  text-align: center;
}

img[class~="flag"]
{
  margin: 5px;
}
