
table { border-spacing: 0; }

#cyber-dojo-page {
  font-size: 0.9em;
  margin: {
    top: 0.3em;
    left: 0.3em;
  }
  color: $lighter-color;
}

body {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  padding: none;
  margin: 0em;
}

.avatar_image {
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0em;
  margin-bottom: 0em;
  cursor: pointer;
}

.vertical-padded {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.panel-title {
  margin-top: 10px;
  @include font-size-small();
}
.panel {
  background: $darker-color;
  color: $lighter-color;
  border: {
    style: dotted;
    width: 1px;
    color: lighten($darker-color, 25%);
    left: none;
    right: none;
    bottom: none;
  }
  margin: none;
  padding: 0.5em;
  margin: {
    left: 0.25em;
    right: 0.25em;
  }

  &.edgeless {
    padding: 0em;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

$filename_and_button_border_size: 1px;

button {
  background: darken($lighter-color, 10%);
  color: $darker-color;
  cursor: pointer;
  padding: {
    left: 0.5em;
    right: 0.5em;
    bottom: 0.1em;
  }
  text-decoration: none;
  font-weight: normal;
  border: $filename_and_button_border_size solid $darker-color;
  @include rounded-corner(6px);
  display: inline-block;
  @include gradient-lighten(darken($lighter-color, 12%), 9%, 2%, 0%);
}

button[disabled] {
  background: lighten($darker-color, 20%);
  cursor: default;
  font-style: italic;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

div[class~='filename'] {
  @include font-size-small();
  background: $darker-color;
  color: $lighter-color;
  margin: none;
  padding: {
    left: 0.3em;
    right: 0.3em;
  }
  cursor: pointer;
  white-space: nowrap;
  @include rounded-corner(4px);

  &[class~='selected'] {
    // See app/assets/javascripts/cyber-dojo_file_load.js
    // function radioEntrySwitch()
    background: darken($lighter-color, 10%);
    color: $darker-color;
    cursor: default;
  }
  text-align: right;
}

div[class~="filename"]:hover, button:hover {
  border: $filename_and_button_border_size dotted lighten($darker-color, 20%);
}

div[class~="filename"], button[disabled]:hover {
  border: $filename_and_button_border_size solid $darker-color;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.filename_div { display: none; }

.file_content {
  background: $lighter-color;
  color: $darker-color;
  width: 48em;
  font-weight: 500;
}

.line_numbers, .file_content { height: 30em; }

.line_numbers, .file_content, .diff_line_numbers, #instructions { @include code-font; }

.line_numbers, .file_content {
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  display: block;
  overflow: auto;
}

.line_numbers {
  background: $darker-color;
  color: lighten($darker-color, 30%);
  font-weight: 100;
  text-align: right;
  overflow: hidden;
  display: block;
  padding-right: 2px;
  width: 2em;
  border-left: {
    style: dotted;
    width: 1px;
    color: lighten($darker-color, 25%);
  }
  border-top: {
    style: dotted;
    width: 1px;
    color: lighten($darker-color, 25%);
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.dialog {
  background: $lighter-color;
  color: $darker-color;
  display: table;
  margin: 0 auto;
  margin-left: 45px;
  margin-right: 45px;
  a:link, a:visited {
    color: $lighter-color;
  }

  &.title {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    position: relative;
    left: -45px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.started-avatar-name {
  font-weight: bold;
  font-size: 70%;
  text-align: right;
}

.unstarted-avatar-name {
  color: Gray;
  font-weight: bold;
  font-size: 70%;
  text-align: right;
}

img[class~="flag"] {
  margin: 5px;
}
