
#seconds_per_column, #maximum_columns 
{
  font-size: 1.1em; 
  width: 2em; 
  text-align: center; 
}

#traffic_lights .row td { padding: 0.05em; }
#traffic_lights .row.odd td  { background: lighten($background-color,8%); }
#traffic_lights .omission { font-size: 0.7em; color: Gray; }
#traffic_lights .omission:after { content: "\2026"; /* ellipsis ... */ }
#traffic_lights .gap { font-size: 0.5em; color: Gray; text-align: center; }

.tag_count
{
  color: $main-color;
  font-size: 1.2em;
  padding: 0.3em;
  text-align: right;
}
.micro.tag_count { font-size: 0.6em; background-color: LightGrey; }
.micro.tag_count .red   { padding-bottom: 0.6em; color: Red; }
.micro.tag_count .amber { color: Yellow; }
.micro.tag_count .green { padding-top: 0.6em; color: Green;  }
