
#seconds_per_column, #maximum_columns 
{
  background: $lighter-color;
  @include gradient-darken($lighter-color,20%,10%,5%);     
  color: $darker-color;
  font-size: 1.1em; 
  width: 2em; 
  text-align: center;
}

.traffic_light_tip { @include font-size-tiny(); }

#traffic_lights .row td { padding: 0.05em; }
#traffic_lights .row.odd td  { background: lighten($darker-color,5%); }
#traffic_lights .omission { font-size: 0.7em; color: Gray; }
#traffic_lights .omission:after { content: "\2026"; /* ellipsis ... */ }
#traffic_lights .gap { font-size: 0.5em; color: Gray; text-align: center; }

.tag_count
{
  color: $lighter-color;
  font-size: 1.2em;
  padding: 0.3em;
  text-align: right;
  background: lighten($darker-color,30%);
}
.tag_count.green { color: $green; }
.tag_count.amber { color: $amber; }
.tag_count.red   { color: $red;   }

.micro.tag_count { font-size: 0.6em; }
.micro.tag_count .red   { padding-bottom: 0.6em; color: $red; }
.micro.tag_count .amber { color: $amber; }
.micro.tag_count .green { padding-top: 0.6em; color: $green;  }

