
$ellipsis: "\2026";

#dashboard_page {

  #download_button, #help_button {
    @include font-size-tiny();    
  }
  
  #help_button {
    @include rounded-corner(14px);    
  }

  #traffic_lights {
    width: 65em;
    overflow-x: auto;
    height: 45em;
    overflow-y: auto;
    
    img {
      padding: {
        left: 1px;
        right: 1px;
      }
    }
    .row td {
      padding: 0em;
    }
    .row.odd td {
      background: lighten($darker-color, 10%);
    }
    .omission {
      font-size: 0.7em;
      color: White;
    }
    .omission:after {
      content: $ellipsis;
    }
    .gap {
      font-size: 0.5em;
      color: Gray;
      text-align: center;
    }
  }
}

