
#dashboard-page {

  margin: 25px;

  #age-container, #controls-container, #team-bulb-counts-container {
    @include edged-panel();
    @include right-align(15px);
  }

  #team-bulb-counts-container .traffic-light-count { font-size: 1.5em; }

  #age-container {
    #days, #hours, #minutes, #seconds {
      position: relative;
      top: +1px;
    }
  }

  #progress-button-container, #download-button-container {
    @include right-align(15px);
    text-align: right;
    #progress-button, #download-button {
      font-size: 1em;
      padding-bottom: 4px;
      margin-bottom: 2px;
      width: 80px;
      text-align: right;
    }
  }

  #traffic-lights {
    width: 950px;
    overflow-x: scroll;
    overflow-y: auto;
    .row      td { padding: 0px; }
    .row.odd  td { background: lighten($darker-color, 3%); }
    .row.even td { background: lighten($darker-color, 6%); }
    td.time-period-marker { border-left: dotted lighten(black,60%) 1px; }
    .collapsed-multi-gap {
      display: inline-block;
      font-size: 0.1em;
      color: lighten(black, 30%);
      &:after { content: '...'; }
      margin-left: 1px;
      margin-right: 1px;
      margin-bottom: 10px;
    }
    .gap {
      font-size: 0.5em;
      &:after { content: $thin-space; }
      color: lighten(black,40%);
      text-align: center;
    }
    .traffic-light-count { cursor: pointer; }
  }

}

#progress-dialog {
  padding-top: 0px;
  .animal.odd  { background: lighten($darker-color, 3%); }
  .animal.even { background: lighten($darker-color, 6%); }
  .progress {
    white-space: nowrap;
    padding: { left: 5px; right: 5px; }
  }
}
