
#dashboard-page {

  margin: 25px;

  #age-container, #controls-container, #team-bulb-counts-container {
    @include ghost-panel(5px);
    @include right-align(15px);
  }

  #team-bulb-counts-container .traffic-light-count {
    font-size: 1.5em;
  }

  #age-container {
    #days, #hours, #minutes, #seconds {
      position: relative;
      top: +1px;
    }
  }

  #progress-button-container, #download-button-container {
    @include right-align(12px);
    text-align: right;
    #progress-button, #download-button {
      font-size: 1em;
      padding-bottom: 4px;
      margin-bottom: 17px;
    }
  }

  #traffic-lights {
    width: 950px;
    overflow-x: scroll;
    overflow-y: auto;
    img { padding: 1px; }
    .avatar-image { padding-right: 10px; }
    .row      td { padding: 0em; }
    .row.odd  td { background: lighten($darker-color, 3%); }
    .row.even td { background: lighten($darker-color, 6%); }
    .omission {
      font-size: 2.9em;
      background-color: darken(white, 50%);
      &:after { content: $thin-space; }
      margin: 5px;
    }
    .gap {
      font-size: 0.5em;
      color: lighten(black,40%);
      text-align: center;
    }
    .traffic-light-count {
      cursor: pointer;
    }
  }

  .diff-traffic-light {
    margin-top: 4px;
  }

}

#progress-dialog {
  padding-top: 0px;
  .animal.odd  { background: lighten($darker-color, 3%); }
  .animal.even { background: lighten($darker-color, 6%); }
  .progress {
    white-space: nowrap;
    padding: { left: 5px; right: 5px; }
  }
}
