
@mixin diff-pre-block {
  white-space: pre;
  display: block;
}

@mixin diff-line-count {
  text-align: right;
  margin: none;
  padding: {
       top: 0em;
     right: 0.2em;
    bottom: 0em;
      left: 0.2em;
  }
  @include font-size-small();
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

#diff-dialog {

  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  color: $lighter-color;
  padding: none;
  margin: 0;
  margin-top: 0.5em;

  #was-traffic-light { margin-right: 0.3em; }
  #now-traffic-light { margin-left : 0.3em; }

  #was-tag-number, #now-tag-number {
    @include editable_tag_number;
    @include font-size-tiny();
  }

  #diff-info, #diff-navigate-buttons, #diff-filenames {
    margin-left: auto;  // right-align
    margin-right: 15px;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted lighten($darker-color, 30%);
    margin: {
      top: 5px;
      bottom: 5px;
      left: 18px;
      right: 18px;
    }
    padding: 0;
  }

  #diff-filenames {
    height: 130px;
    overflow-y: none;
    font-size: 11pt;
  }

  #diff-content {
    width: 45em;
    font: {
      family: monospace;
    }
  }

  .diff-line-numbers, .diff-sheet {
    height: 31em;
    margin: 0;
    padding: 0;
    @include code-font;
    font-size: 12pt;

    ln {
      margin: {
        left : 4px;
        right: 3px;
      }
      font-weight: normal;
    }

    added, deleted, same { @include diff-pre-block; }
    added   ln { color: $diff-added-color; }
    deleted ln { color: $diff-deleted-color; }
    same    ln { color: lighten($darker-color, 30%); }
  }

  .diff-line-numbers {
    text-align: right;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 5px;
    background: $darker-color;
    border-right: {
      style: dotted;
      width: 1px;
      color: lighten($darker-color, 25%);
    }
    border-top: {
      style: dotted;
      width: 1px;
      color: lighten($darker-color, 25%);
    }
    border-bottom: {
      style: dotted;
      width: 1px;
      color: lighten($darker-color, 25%);
    }
  }

  .diff-sheet {
    width: 45em;
    overflow: auto;
    color: $darker-color;
    background: $lighter-color;
    added, deleted, same { padding-left: 3px; }
    added {
      background: $diff-added-color;
      &:hover { background: lighten($diff-added-color, 10%); }
    }
    deleted {
      background: $diff-deleted-color;
      text-decoration: line-through;
      &:hover { background: lighten($diff-deleted-color, 5%); }
    }
    same {
      &:hover { background: lighten($lighter-color, 10%); }
    }
  }

  .diff-deleted-line-count, .diff-added-line-count {
    color: $darker-color;
    @include diff-line-count;
    border: 2px solid $darker-color;
    @include rounded-corner(4px);
  }

  .diff-deleted-line-count {
    background: $diff-deleted-color;
    cursor: pointer;
    border-left: 3px solid $darker-color;

    &[disabled] {
      background: lighten($darker-color, 20%);
      cursor: default;
    }
  }

  .diff-added-line-count {
    background: $diff-added-color;
    cursor: pointer;

    &[disabled] {
      background: lighten($darker-color, 20%);
      cursor: default;
    }
  }

  ::-webkit-scrollbar {
    background-color: $darker-color;
    border-top: {
      style: dotted;
      width: 1px;
      color: lighten($darker-color, 25%);
    }
  }

}

.diff-traffic-light {
  margin-top: 4px;
}