
.triangle.button
{
  padding: 0.2em;
}

#was_tag_number, #now_tag_number
{
  background: $lighter-color;
  @include gradient-darken($lighter-color,20%,10%,5%);     
  color: $darker-color;
  @include font-size-tiny();
  text-align: center;
  width: 2em;
}

#diff_panel
{
  overflow: auto;
  height: 44em;
  width: 55em;
  position: relative;
}

#diff_sheet
{
  color: $darker-color;
  margin: 0;
  padding: 0;
}

.diffed_code
{
  margin: 0;
  padding: 0;
}

.diffed_code added, .diffed_code deleted, .diffed_code same
{
  white-space: pre;
  display: block;
}

.diffed_code ln 
{
  padding-left: 2px;
  margin-right: 3px;
  padding-right: 2px;
  font-weight: normal;
}

.diffed_code added   { background: $diff-added-color;  }
.diffed_code deleted { background: $diff-deleted-color; }
.diffed_code same    { background: $lighter-color; }

.diffed_code same ln
{
  background: $darker-color;
  color: lighten($darker-color,30%);  
}

@mixin line-count
{
  text-align: right;
  margin: 0px;
  padding: 0em 0.2em 0em 0.2em; // to match .button
  @include font-size-small();  // to match class~=filename
}

.diff-deleted-line-count
{
  background: $diff-deleted-color;
  color: $darker-color;
  @include line-count;
}

.diff-added-line-count
{
  background: $diff-added-color;
  color: $darker-color;
  @include line-count;
}

#fork_button { cursor: pointer; }
