
#tag_number, .tag_number
{
  font-size: 1.3em; 
  text-align: center; /* for diff and dashboard */
}

#diff_panel
{
  overflow: auto;
  height: 48em;
  width: 63em;
  position: relative;
}

#diff_sheet
{
  background: $light-background-color;
  color: $main-color;
  margin: 0;
  padding: 0;
}

.diffed_code { margin: 0; padding: 0; }

$diff-added-color: #CEF6CE;
$diff-deleted-color: #F6CECE;

.diffed_code added, .diffed_code deleted, .diffed_code same { white-space: pre; display: block; }

.diffed_code ln 
{
  padding-left: 2px;
  margin-right: 3px;
  padding-right: 2px;
  color: $line-number-color;
  font-weight: normal;
}

.diffed_code added,   #toggle_added_lines   { background: $diff-added-color;  }
.diffed_code deleted, #toggle_deleted_lines { background: $diff-deleted-color; }
.diffed_code same
{
  color: $main-color;
  background: $light-background-color;
}

.diffed_code same ln { background: $background-color;  }

@mixin diff-added
{
  text-align:center;
  margin: 0px;
  padding: 3px;
}

.diff-deleted-line-count
{
  background: $diff-deleted-color;
  color: $line-number-color;
  border: 1px dotted darken($diff-added-color,30%);
  @include diff-added;
}

.diff-added-line-count
{
  background: $diff-added-color;
  color: $line-number-color;
  border: 1px dotted darken($diff-deleted-color,10%);
  @include diff-added;
}

#prev_button { padding: 1px; padding-left: 0px; }
#next_button { padding: 1px; padding-right: 0px; }


