
#tag_number
{
  font-size: 1em; 
  text-align: center; /* for diff and dashboard */
}

#diff_panel
{
  overflow: auto;
  height: 48em;
  width: 63em;
}

#diff_sheet
{
  background: $light-background-color;
  color: $main-color;
  margin: 0;
  padding: 0;
}

pre.diffed_code { margin: 0; padding: 0; }

$diff-added-color: #CEF6CE;
$diff-deleted-color: #F6CECE;

pre.diffed_code added,   #toggle_added_lines   { background: $diff-added-color; }
pre.diffed_code deleted, #toggle_deleted_lines { background: $diff-deleted-color; }

pre.diffed_code ln 
{
  padding-left: 2px;
  margin-right: 3px;
  padding-right: 2px;
  color: $line-number-color;
  font-weight: normal;
  white-space: pre;
}

pre.diffed_code same
{
  color: $main-color;
  background: $light-background-color;
}

pre.diffed_code same ln { background: $background-color;  }

.invisible { display: none; } /* used to show/hide -+ lines */

@mixin diff-added
{
  text-align:center;
  margin: 0px;
  padding: 3px;
}

.diff-added-line-count
{
  background: $diff-added-color;
  color: $line-number-color;
  border: 1px dotted darken($diff-added-color,30%);
  @include diff-added;
}

.diff-deleted-line-count
{
  background: $diff-deleted-color;
  color: $line-number-color;
  border: 1px dotted darken($diff-deleted-color,10%);
  @include diff-added;
}