
#enter-page {

  font-size: 1.15em;

  margin: { top: 55px; left: 35px; }

  #join-a-prepared-practice {
    @include non-code-font();
    color: $lighter-color;
    font-size: 3.6em;
    margin-right: 8px;
    text-align: right;
  }

  #enter-id-prompt {
    @include non-code-font();
    @include font-size-small();
    color: lighten($green, 35%);
  }

  #kata-id-input {
    @include non-code-font();
    background: lighten($green, 20%);
    color: $darker-color;
    @include font-size-largest();
    width: 215px;
    margin: { top: 4px; bottom: 5px; right: 2px; }
    padding: { right: 20px; bottom: 0px; top: 2px; }
    text-align: right;
    @include gradient-lighten($green, 40%, 30%, 20%);
    @include rounded-corner(6px);
    position: relative;
    right: -1px;
  }

  #enter-button, #re-enter-button, #review-button {
    @include non-code-font();
    width: 240px;
    padding-right: 20px;
    @include font-size-largest();
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: right;
  }
}

