
@mixin font-size-micro()   { font-size: 0.55em; }
@mixin font-size-tiny()    { font-size: 0.80em; }
@mixin font-size-small()   { font-size: 1.20em; }
@mixin font-size-medium()  { font-size: 1.45em; }
@mixin font-size-large()   { font-size: 1.85em; }
@mixin font-size-larger()  { font-size: 2.25em; }
@mixin font-size-largest() { font-size: 3.00em; }

.micro  { @include font-size-micro();  }
.tiny   { @include font-size-tiny();   }
.small  { @include font-size-small();  }
.medium { @include font-size-medium(); }
.large  { @include font-size-large();  }

@mixin code-font
{
  font: {
    size: 11.5pt;
    family: Consolas, "Liberation Mono", Courier, monospace;
  }
}

@mixin non-code-font
{
  font-family: Impact, Trebuchet MS, Tahoma, Arial, sans-serif;
}

@mixin plaintext-font
{
  font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
}
