
@mixin font-size-micro()   { font-size: 0.55em; }
@mixin font-size-tiny()    { font-size: 0.80em; }
@mixin font-size-small()   { font-size: 1.20em; }
@mixin font-size-medium()  { font-size: 1.45em; }
@mixin font-size-large()   { font-size: 1.85em; }
@mixin font-size-largest() { font-size: 3.00em; }

.micro  { @include font-size-micro();  }
.tiny   { @include font-size-tiny();   }
.small  { @include font-size-small();  }
.medium { @include font-size-medium(); }
.large  { @include font-size-large();  }

@mixin code-font
{
  font: {
    size: 14pt;
    family: monospace;
  }
}
