
// WebKit's (Safari, Chrome) default behaviour on on Mac OS X since 10.7 (Lion)
// is to hide scroll bars from trackpad users when they're not in use.
// This is confusing; the scroll bar is often the only visual cue that an
// element is scrollable.
// http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-trackpad-users-in-webkit

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 11px;
}

::-webkit-scrollbar:horizontal {
    height: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: lighten($darker-color, 15%);
}

::-webkit-scrollbar {
  background: $darker-color;
  border: 1px solid $darker-color;
  border-left: 0px;
  outline: none;
}
