
#fork_dialog
{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;  
  padding: none;
  margin: 0;
  margin-top: 0.5em;
  .tag_red {
    color: $red;  
  }
  .tag_amber {
    color: $amber;  
  }  
  .tag_green {
    color: $green;
  }
}

#fork_tag_number {
  @include editable_tag_number;
}

#fork_content
{
  width: 40em;
  height: 25em;
  font: {
    size: 1.5em;
    family: monospace;
  }
}

#fork_tip
{
  @include font-size-tiny();
  text-align: left;  
}