
@mixin diff-pre-block {
  white-space: pre;
  display: block;
}

@mixin diff-line-count {
  text-align: right;
  margin: none;
  padding: { top: 0em; right: 0.2em; bottom: 0em; left: 0.2em; }
  @include font-size-tiny();
  width: 20px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

#ui-dialog-title-history-dialog {

  font-size: 0.5em;
  position: relative;
  bottom: -5px;

  #title {
    font-size: 2.1em;
  }

  label {
    position: relative;
    top: 10px;
  }

  #traffic-lights {
    display: block;
    margin-left: 5px;
    width: 530px;
    overflow-x: auto;
    &::-webkit-scrollbar:horizontal {
        height: 1px;
    }
    .traffic-light {
      display: table-cell;
      padding-right: 5px;
      cursor: pointer;
      img { width: 12px; height: 40px; }
    }
  }
}

.navigate-control {
  
  padding-bottom: 15px;
  padding-left: 15px;
  #avatar { width: 48px; height: 48px; padding: 0px; margin: 0px; }
  button#prev-avatar, button#next-avatar {
    padding: 0px;
    margin: 0px;
    border: 1px solid Gray;
  }
  #prev-avatar img, #next-avatar img {
    width: 18px;
    height: 18px;
    @include rounded-corner(4px);
    padding: 4px;
    padding-bottom: 2px;
    cursor: pointer;
  }

  .triangle.button { padding: 0px; }

  #first-button img, #last-button img {
    width: 20px;
    height: 20px;
    @include rounded-corner(4px);
    padding: { top: 2px; bottom: 0px; }
  }
  #prev-button img, #next-button img {
    width: 30px;
    height: 30px;
    padding: { top: 2px; bottom: 0px; }
    @include rounded-corner(4px);
  }
  #first-button img {
    padding: { left: 2px; right: 1px; }
  }
  #last-button img {
    padding: { left: 1px; right: 2px; }
  }
  #prev-button img {
    padding: { left: 1px; right: 4px; }
  }
  #next-button img {
    padding: { left: 4px; right: 1px; }
  }
  #now-tag-number {
    font-size: 1em;
    background: $lighter-color;
    color: $darker-color;
    text-align: center;
    width: 2.5em;
    padding: { top: 5px; bottom: 5px; }
    margin: { top: 2px; right: 3px; }
    @include rounded-corner(4px);
    border: 3px dotted;
  }
}


#history-dialog {

  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  color     : $lighter-color;
  padding: none;
  padding-left: 0px;
  margin: { left: 0px; top: 0px; }
  border: {
    left : 1px dotted lighten($darker-color, 10%);
    right: 1px dotted lighten($darker-color, 10%);
  }
  
  //#diff-controls {
  //margin-left: 5px;
  
  .filename {
    text-align: left;
    font-size: 16px;
  }

  #diff-filenames {
    height: 375px;
    width: 350px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 11pt;
    text-align: left;
  }

  .diff-line-numbers, .diff-sheet {
    height: 495px;
    margin: 0;
    padding: 0;
    @include code-font;
    font-size: 10pt;

    ln {
      margin: { left : 4px; right: 3px; }
      font-weight: normal;
    }

    added, deleted, same { @include diff-pre-block; }
    added   ln { color: $diff-added-color; }
    deleted ln { color: $diff-deleted-color; }
    same    ln { color: lighten($darker-color, 30%); }
  }

  .diff-line-numbers {
    width: 45px;
    margin-left: 20px;
    text-align: right;
    overflow: hidden;
    background: lighten($darker-color, 6%);
    border: 1px dotted lighten($darker-color, 6%);
    border-right: none;
    position: relative; // lose 1px gap to file-content
    left: 2px;    
  }

  .diff-sheet {
    width: 680px;
    overflow-x: auto;
    overflow-y: scroll;
    outline: none;
    color     : $darker-color;
    background: $lighter-color;
    added, deleted, same { padding-left: 3px; }
    added {
      background: $diff-added-color;
      &:hover { background: lighten($diff-added-color, 10%); }
    }
    deleted {
      background: $diff-deleted-color;
      text-decoration: line-through;
      &:hover { background: lighten($diff-deleted-color, 5%); }
    }
    same {
      &:hover { background: lighten($lighter-color, 10%); }
    }
  }

  .diff-deleted-line-count, .diff-added-line-count {
    color: $darker-color;
    @include diff-line-count;
    border: 2px solid $darker-color;
    @include rounded-corner(4px);
    @include right-align(0px);
    width: 20px !important;
    cursor: pointer;
    
    &.none {
      background: lighten($darker-color,10%);
    }
    &[disabled] {
      background: lighten($darker-color,10%);
      cursor: default;
    }
    &[disabled].some {
      background: lighten($darker-color,25%);
      color: $diff-deleted-color;
    }        
  }
  
  .diff-deleted-line-count { background: $diff-deleted-color; }
  .diff-added-line-count   { background: $diff-added-color;   }
}
