
@mixin diff-pre-block {
  white-space: pre;
  display: block;
}

@mixin diff-line-count {
  text-align: right;
  margin: none;
  padding: {
    top   : 0em;
    right : 0.2em;
    bottom: 0em;
    left  : 0.2em;
  }
  @include font-size-tiny();
  width: 20px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

#ui-dialog-title-history-dialog {

  #diff-tag-control {

    display: inline-block;
    font-size: 0.5em;
    position: relative;
    bottom: -7px;

    #now-tag-number {
      position: relative;
      top: -4px;
      background: $lighter-color;
      @include font-size-small();
      text-align: center;
      width: 2em;
      &[data-colour=red]   { color: $red; }
      &[data-colour=amber] { color: darken($amber,10%); }
      &[data-colour=green] { color: darken($green,10%); }
    }
  }

  .traffic-light {
    padding-left: 2px;
  }

  .lights-container {
    display: table;
    .lights-row {
      display: table-row;
      .light-cell {
        display: table-cell;
        padding-left: 3px;
      }
    }
  }

}


#history-dialog {

  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  color     : $lighter-color;
  padding: none;
  margin: {
    left: 0px;
    top : 0px;
  }

  border: {
    left : 1px dotted lighten($darker-color, 10%);
    right: 1px dotted lighten($darker-color, 10%);
  }

  #navigate-buttons {
    padding-bottom: 15px;
  }

  #diff-controls {
    position: absolute;
    top : 10px;
    left: 772px;
  }

  .filename {
    text-align: left;
  }

  #diff-filenames {
    height: 375px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 11pt;
    text-align: left;
  }

  .diff-line-numbers, .diff-sheet {
    height: 34em;
    margin: 0;
    padding: 0;
    @include code-font;
    font-size: 12pt;

    ln {
      margin: {
        left : 4px;
        right: 3px;
      }
      font-weight: normal;
    }

    added, deleted, same { @include diff-pre-block; }
    added   ln { color: $diff-added-color; }
    deleted ln { color: $diff-deleted-color; }
    same    ln { color: lighten($darker-color, 30%); }
  }

  .diff-line-numbers {
    width: 32px;
    margin-left: 8px;
    text-align: right;
    overflow: hidden;
    background: lighten($darker-color, 6%);
    border: 1px dotted lighten($darker-color, 6%);
    border-right: none;
  }

  .diff-sheet {
    width: 700px;
    padding-top: 2px;
    overflow-x: auto;
    overflow-y: scroll;
    outline: none;
    color     : $darker-color;
    background: $lighter-color;
    added, deleted, same { padding-left: 3px; }
    added {
      background: $diff-added-color;
      &:hover { background: lighten($diff-added-color, 10%); }
    }
    deleted {
      background: $diff-deleted-color;
      text-decoration: line-through;
      &:hover { background: lighten($diff-deleted-color, 5%); }
    }
    same {
      &:hover { background: lighten($lighter-color, 10%); }
    }
  }

  .diff-deleted-line-count, .diff-added-line-count {
    color: $darker-color;
    @include diff-line-count;
    border: 2px solid $darker-color;
    @include rounded-corner(4px);
    @include right-align(0px);
  }

  .diff-deleted-line-count {
    background: $diff-deleted-color;
    cursor: pointer;

    &.none {
      background: lighten($darker-color,10%);
    }
    &[disabled] {
      background: lighten($darker-color,10%);
      cursor: default;
    }
    &[disabled].some {
      background: lighten($darker-color,25%);
      color: $diff-deleted-color;
    }
  }

  .diff-added-line-count {
    background: $diff-added-color;
    cursor: pointer;
    border-left: 2px solid $darker-color;

    &.none {
      background: lighten($darker-color,10%);
    }
    &[disabled] {
      background: lighten($darker-color,10%);
      cursor: default;
    }
    &[disabled].some {
      background: lighten($darker-color,25%);
      color: $diff-added-color;
    }
  }
}
