
@mixin diff-pre-block {
  white-space: pre;
  display: block;
}

@mixin diff-line-count {
  text-align: right;
  margin: none;
  margin-bottom: 2px;
  padding: 2px;
  font-size: 13px;
  width: 20px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

#ui-dialog-title-history-dialog {

  font-size: 0.5em;
  margin: 0px;

  .ui-dialog-titlebar { padding: 0px; }

  #title {
    margin-left: 126px;
    font-size: 30px;
  }

  label {
    position: relative;
    top: 10px;
    margin-right: 5px;
  }

  #traffic-lights {
    display: block;
    margin: { left: 4px; right: 0px; top: 5px; }
    width: 737px;
    overflow-x: auto;
    &::-webkit-scrollbar:horizontal { height: 1px; }
    .traffic-light {
      display: table-cell;
      padding: { top: 2px; right: 2px; }
      cursor: pointer;
      img { width: 22px; height: 29px; }
    }
  }
}

.navigate-control {

  @include right-align(0px);

  #avatar {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: { left: 0px; right: 0px; }
    @include rounded-corner(4px);
    border: 1px solid lighten($darker-color, 15%);
    position: relative;
    top: 1px;
  }

  #prev-avatar img, #next-avatar img, #prev-tag img, #next-tag img {
    width: 25px;
    height: 25px;
    padding: { top: 2px; bottom: 0px; }
    @include rounded-corner(4px);
  }

  #prev-avatar img, #prev-tag img {
    padding: { right: 3px; left: 1px; }
  }
  #next-avatar img, #next-tag img {
    padding: { left: 3px; right: 1px; }
  }

  .triangle.button {
    padding: 0px;
    border: 1px solid lighten($darker-color,6%);
    &:hover { border: 1px dotted lighten($darker-color,20%); }
    &[disabled] {
      background: lighten($darker-color, 30%);
      &:hover { border: 1px solid lighten($darker-color,6%); }
    }
  }

  #now-tag-number {
    font-size: 15px;
    background: lighten($darker-color, 15%);
    color: $lighter-color;
    text-align: center;
    width: 30px;
    height: 26px;
    padding-top: 6px;
    margin-top: 1px;
    @include rounded-corner(4px);
    border: 1px dotted ligthen($darker-color, 15%);
    &.red   { color: $red; }
    &.amber { color: $amber; }
    &.green { color: $green; }
    &.timed_out { color: Gray; }
  }
}

#history-dialog {

  overflow-y: hidden;
  overflow-x: hidden;

  &.ui-dialog-content { padding: { top: 0px; bottom: 0px; } }

  @include non-code-font();
  background: $darker-color;
  color     : $lighter-color;
  padding: none !important;
  margin: 0px;

  .diff-line-numbers, .diff-sheet { height: 540px; }

  #diff-filenames {
    height: 450px;
    margin-top: 15px;
    max-width: 200px;
    overflow-y: none;
    overflow-x: auto;
    &::-webkit-scrollbar:vertical { width: 8px; }
    &::-webkit-scrollbar:horizontal { height: 8px; }
    font-size: 11pt;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    .filename {
      text-align: right;
      font-size: 16px;
      // total height has to be the same as diff-(added/deleted)-line-counts so they vertically align
      height: 16px;
      padding-right: 3px;
      padding-top: 0px;
      padding-bottom: 4px;
      border: 1px solid $darker-color;
      margin-bottom: 2px;
    }
  }

  .diff-line-numbers, .diff-sheet {
    background: lighten($darker-color, 3%);
    margin: 0px;
    padding: 0px;
    @include code-font;
    font-size: 10pt;
    cursor: default;
    ln { margin: { left : 4px; right: 3px; } font-weight: normal; }
    added, deleted, same { @include diff-pre-block; }
    added   { color: $diff-added-color; }
    deleted { color: $diff-deleted-color; }
    same    { color: $lighter-color; }
  }

  .diff-line-numbers {
    width: 40px;
    margin-left: 2px;
    text-align: right;
    overflow: hidden;
    color: lighten($darker-color, 10%);
    border: none;
    position: relative; // lose 1px gap to file-content
    left: 2px;
    border-top-left-radius: 5px;
    added   { &:after { content: '+'; } }
    deleted { &:after { content: '-'; } }
    same    { &:after { content: '='; } }
    same    { color: lighten($darker-color,20%); }
  }

  .diff-sheet {
    width: 705px;
    text-align: left;
    overflow-x: auto;
    overflow-y: scroll;
    &::-webkit-scrollbar:vertical { width: 8px; }
    outline: none;
    border: none;
    padding-left: 2px;
    added, deleted, same { padding-left: 3px; }
    :hover { background: lighten($darker-color,10%); }
  }

  .diff-deleted-line-count, .diff-added-line-count {
    color: $darker-color;
    border: 1px solid lighten($darker-color,6%);
    &:hover { border: 1px dotted lighten($darker-color,6%); }
    &[disabled]:hover { border: 1px solid lighten($darker-color,6%); }
    @include rounded-corner(4px);
    @include right-align(0px);
    @include diff-line-count;
    cursor: pointer;

    &.none { background: lighten($darker-color,10%); }
    &[disabled] {
      background: lighten($darker-color,10%);
      cursor: default;
    }
    &[disabled].some { background: lighten($darker-color,25%); }
  }

  .diff-deleted-line-count {
    background: $diff-deleted-color;
    &[disabled].some { color: lighten($diff-deleted-color,5%); }
  }
  .diff-added-line-count {
    background: $diff-added-color;
    &[disabled].some { color: lighten($diff-added-color,5%); }
  }
}

.history-button {
  margin-top: 0px !important;
  margin-left: 0px !important;
  position: relative;
  left: -3px;
}



