
@mixin diff-pre-block {
  white-space: pre;
  display: block;
}

@mixin diff-line-count {
  text-align: right;
  margin: none;
  padding: { top: 0em; right: 0.2em; bottom: 0em; left: 0.2em; }
  @include font-size-tiny();
  width: 20px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

#ui-dialog-title-history-dialog {

  font-size: 0.5em;
  margin-left: 5px;
  position: relative;
  bottom: -5px;

  .ui-dialog-titlebar { padding: 0px; }
  
  #title {
    font-size: 20px;
    position: relative;
  }

  label {
    position: relative;
    top: 4px;
  }

  #traffic-lights {
    display: block;
    margin: { left: 5px; right: 12px; }
    width: 575px;
    overflow-x: auto;
    &::-webkit-scrollbar:horizontal {
        height: 1px;
    }
    .traffic-light {
      display: table-cell;
      padding-top: 5px;
      padding-right: 3px;
      cursor: pointer;
      img { width: 15px; height: 20px; }
    }
  }
}

.navigate-control {
  
  padding-bottom: 8px;
  #avatar { width: 25px; height: 25px; padding: 0px; margin: 0px; }
  button#prev-avatar, button#next-avatar {
    padding: 0px;
    margin: 0px;
    border: 1px dotted lighten($darker-color,20%);
  }
  button#prev-avatar:hover, button#next-avatar:hover {
    border: 1px solid $darker-color;
  }
  
  #prev-avatar img, #next-avatar img {
    width: 18px;
    height: 18px;
    @include rounded-corner(4px);
    padding: { top: 2px; bottom: 0px; }
    cursor: pointer;
  }
  #prev-avatar img { padding: { left: 1px; right: 4px; } }
  #next-avatar img { padding: { left: 4px; right: 1px; } }

  .triangle.button { padding: 0px; }

  #first-button img, #last-button img, #prev-button img, #next-button img {
    padding: { top: 2px; bottom: 0px; }
    @include rounded-corner(4px);
  }

  #first-button img, #last-button img { width: 15px; height: 15px; }
  #prev-button  img, #next-button img { width: 20px; height: 20px; }
  
  #first-button img { padding: { left: 2px; right: 1px; } }
  #last-button  img { padding: { left: 1px; right: 2px; } }
  #prev-button  img { padding: { left: 1px; right: 4px; } }
  #next-button  img { padding: { left: 4px; right: 1px; } }
  
  .triangle.button { border: 1px dotted lighten($darker-color,20%); }
  
  .triangle.button:hover { border: 1px solid $darker-color; }

  .triangle.button[disabled]:hover { border: 1px dotted lighten($darker-color,20%); }
  
  #now-tag-number {
    font-size: 15px;
    background: $lighter-color;
    color: $darker-color;
    text-align: center;
    width: 30px;
    height: 21px;
    padding-top: 2px;
    @include rounded-corner(4px);
    border: 3px dotted;
    &.red   { border-color: red; }
    &.amber { border-color: orange; }
    &.green { border-color: darken(lime,10%); }
    &.timed_out { border-color: gray; }
  }
}


#history-dialog {

  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  color     : $lighter-color;
  padding: none;
  padding-left: 0px;
  margin: { left: 0px; top: 0px; }
  border: {
    left : 1px dotted lighten($darker-color,10%);
    right: 1px dotted lighten($darker-color,10%);
  }
  
  .filename {
    text-align: left;
    font-size: 16px;
  }

  #diff-filenames, .diff-line-numbers, .diff-sheet { height: 500px; }

  #diff-filenames {
    width: 350px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 11pt;
    text-align: left;
  }

  .diff-line-numbers, .diff-sheet {
    margin: 0;
    padding: 0;
    @include code-font;
    font-size: 10pt;

    ln {
      margin: { left : 4px; right: 3px; }
      font-weight: normal;
    }

    added, deleted, same { @include diff-pre-block; }
    added   ln { color: $diff-added-color; }
    deleted ln { color: $diff-deleted-color; }
    same    ln { color: lighten($darker-color,30%); }
  }

  .diff-line-numbers {
    width: 45px;
    margin-left: 20px;
    text-align: right;
    overflow: hidden;
    background: lighten($darker-color,6%);
    border: 1px dotted lighten($darker-color,6%);
    border-right: none;
    position: relative; // lose 1px gap to file-content
    left: 2px;    
  }

  .diff-sheet {
    width: 680px;
    overflow-x: auto;
    overflow-y: scroll;
    outline: none;
    color     : $darker-color;
    background: $lighter-color;
    added, deleted, same { padding-left: 3px; }
    added {
      background: $diff-added-color;
      &:hover { background: lighten($diff-added-color,10%); }
    }
    deleted {
      background: $diff-deleted-color;
      text-decoration: line-through;
      &:hover { background: lighten($diff-deleted-color,5%); }
    }
    same {
      &:hover { background: lighten($lighter-color,10%); }
    }
  }

  .diff-deleted-line-count, .diff-added-line-count {
    color: $darker-color;
    @include diff-line-count;
    border: 2px solid $darker-color;
    @include rounded-corner(4px);
    @include right-align(0px);
    width: 20px !important;
    cursor: pointer;
    
    &.none {
      background: lighten($darker-color,10%);
    }
    &[disabled] {
      background: lighten($darker-color,10%);
      cursor: default;
    }
    &[disabled].some {
      background: lighten($darker-color,25%);
      color: $diff-deleted-color;
    }        
  }
  
  .diff-deleted-line-count { background: $diff-deleted-color; }
  .diff-added-line-count   { background: $diff-added-color;   }
    
}
  
.history-button {
  margin-top: 0px !important; 
  margin-left: 0px !important;
  .ui-button-text {
    font-size: 12px !important;   
  }
}
  

