
$text-color: darken($lighter-color, 10%);

#home-page {

  font-size: 1.15em;
  margin-top: 1.5em;
  margin-left: 3em;
  margin-right: 3em;

  #cyber-dojo {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 7.5em;
    color: $text-color;
    margin-bottom: 0em;
    padding-bottom: 0em;
    position: relative;
    top: -28px;
  }
  #home-page-logo {
    text-align: center;
    padding-bottom: 10px;
  }
  #a_place_to_practice {
    font-size: 1.3em;
    color: lighten($text-color, 5%);
    margin-top: -50px;
    margin-bottom: 2em;
  }
  td#column-middle {
    padding-left: 2em;
    padding-right: 2em;
    margin-top: -20px;
  }
  td#column-left, td#column-right {
    padding: 1em;
    background-color: lighten($darker-color, 15%);
    border: dotted 1px DarkGray;
    width: 140px;
    position: relative;
    top: 20px;
  }
  .show-dialog-button {
    display: block;
    margin: 0 auto 12px auto;
    border: solid 1px Gray;
    width: 120px;
    font-size: 1.2em;
    color: lighten($darker-color, 6%);
  }

  #create-button-info, #enter-id-info, #enter-info, #reenter-info, #review-info {
    font-size: 0.90em;
    width: 340px;
  }
  #enter-id-info {
    color: lighten($green, 30%);
  }
  #kata-id-input {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background: lighten($green, 20%);
    color: $darker-color;
    @include font-size-largest();
    text-align: center;
    width: 254px;
    margin-bottom: 2px;
    @include gradient-lighten($green, 40%, 30%, 20%);
  }
  #create-button, #enter-button, #reenter-button,  #review-button {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: $darker-color;
    @include font-size-largest();
    text-align: center;
    width: 260px;
    margin-left: 0px;
  }
  #create-button {
    margin-bottom: 30px;
  }
  #review-button {
    margin-bottom: 40px;
  }
  #raspberry-pi-logo {
    padding-bottom: 10px;
  }
  #please_donate {
    color: darken($darker-color, 15%);
    @include font-size-tiny();
  }
  #total-raised {
    color: darken($darker-color, 15%);
    @include font-size-tiny();
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #donate-form {
    height: 40px;
    color: darken($darker-color, 15%);
  }
  #donate-button {
    padding-top: 20px;
  }
  #buttons-container {
    margin-bottom: 20px;
  }
  #accu {
    @include font-size-tiny();
    margin-top: 20px;
    color: darken($darker-color, 15%);
    #image {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  #testimonial {
    @include font-size-tiny();
    text-align: left;
    color: darken($darker-color, 10%);
    #title {
      @include font-size-small();
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted $darker-color;
    margin: 1em 0;
    padding: 0;
  }
}

.kata-id-input {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background: lighten($green, 20%);
    color: $darker-color;
    text-align: center;
    width: 270px;
    margin-left: 0px;
    @include gradient-lighten($green, 40%, 30%, 20%);
}

a:link, a:visited
{
  color: $text-color;
}

#custom_message
{
  color: $text-color;
  @include font-size-small();
}





#get_a_new_practice_id
{
  color: $text-color;
  @include font-size-tiny();
}

#enter_the_practice_id
{
  color: lighten($green, 30%);
  @include font-size-small();
}

#full_dojo_text, #empty_dojo_text
{
  color: $darker-color;
  @include font-size-medium();
}

#about, #basics, #faqs, #feedback, #source, #tips, #why
{
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  @include font-size-small();
  padding-left: 0.3em;
  padding-right: 0.3em;
}

[data-cursor=pointer]
{
  cursor: pointer;
}
