
#home-page {

  font-size: 1.15em;

  margin-top: 25px;
  margin-left: 0px;
  
  #globe-container, #custom-container {
    position: absolute;
    left: 850px;    
  }
  #globe-container  { top:  50px; #globe { border: 0; } }
  #custom-container { top: 350px; }
  
  #cyber-dojo {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 7.4em;
    color: $text-color;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    left: 3px;
    top: -20px;
  }

  #home-page-logo {
    display: inline-block;
    position: relative;
    top: -50px;
    right: -35px;
  }

  #the-place-to-practice-programming {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;    
    font-size: 1.15em;
    color: lighten($text-color, 5%);
    position: relative;
    top: -32px;
    margin-right: 2px;
  }

  #learn-more-button {
    width: 240px;
    padding-right: 20px;
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: $darker-color;    
    text-align: right;  
    font-size: 0.87em;
    position: relative;
    top: -25px;
    left: 2px;
    padding-bottom: 4px;
  }

  .button-td {
    width: 230px;
    vertical-align: top;
  }
  .button-info-td {
    vertical-align: center;
    font-size: 0.7em;
    width: 160px;
    &.enter {
      color: lighten($green, 30%);
    }
  }
  .each {
    font-style: italic;
  }
  .number {
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 0px;
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 5px;
    @include rounded-corner(10px);
    background: lighten($darker-color, 20%);
  }
  
  #enter-id-info {
    color: lighten($green, 30%);
  }
  #kata-id-input {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background: lighten($green, 20%);
    color: $darker-color;
    @include font-size-largest();
    width: 215px;
    margin: { top: 4px; bottom: 4px; right: 2px; }
    padding: { right: 20px; bottom: 0px; top: 2px; }
    text-align: right;
    @include gradient-lighten($green, 40%, 30%, 20%);
    @include rounded-corner(6px);
    position: relative;
    right: -1px;
  }
  #create-button, #enter-button, #reenter-button,  #review-button, 
  #charity-button, #donate-button {
    width: 240px;
    padding-right: 20px;
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: $darker-color;
    @include font-size-largest();
    margin-left: 10px;
    text-align: right;
  }
  #review-button { margin-top: 4px; }

  #charity-container, #donate-container, #jon-jagger-container, #accu-container {
    font-size: 1em;
    font-size: 0.8em;    
    @include edged-panel();
    margin: 10px;    
    width: 280px;
    text-align: right;    
  }

  #charity-container {
    #charity-button { 
      width: 95px;
      font-size: 1.30em;
      padding: 6px;
      padding-right: 7px;
    }    
  }

  #donate-container {
    #donate-button { 
      width: 82px;
      font-size: 1.70em;
      padding: 6px;
      padding-right: 7px;
    }    
  }
  
  #jon-jagger-container {
    #jon-jagger-image {
      width: 70px;
      border: 5px solid lighten($darker-color, 15%);
      margin-left: 10px;
    }  
  }
  
  #accu-container {
    #accu-image {
      padding: 7px;
      background: CornSilk;
      width: 65px;
      height: 20px;
      margin-left: 10px;
    }
  }
  
}
