
.row
{
  text-align: center;
  padding: 0.4em;
}

$text-color: darken($lighter-color, 10%);

#cyber-dojo
{
  color: $text-color;
  @include font-size-largest();
}

a:link, a:visited
{
  color: $text-color;
}

#a_place_to_practice
{
  color: $text-color;
  @include font-size-tiny();
}

#setup
{
  background: lighten($red, 10%);
  @include gradient-lighten($red, 20%, 10%, 5%);
  color: $text-color;
  @include font-size-large();
}
  
#kata_id_input, #start_coding, #resume_coding, #review_coding
{
  background: lighten($green, 20%);
  @include gradient-lighten($green, 30%, 20%, 10%);    
  color: $darker-color;
  @include font-size-large();
}

#kata_id_input
{
  @include font-size-medium();
  text-align: center;
}

#get_a_new_practice_id
{
  color: $text-color;
  @include font-size-small();  
}

#enter_a_practice_id
{
  color: lighten($green, 25%);
  @include font-size-small();  
}

#cant_find_id
{
  text-align: center;
  @include font-size-large();
}

#full_dojo_text, #empty_dojo_text
{
  color: $darker-color;
  @include font-size-medium();
}

#about, #basics, #donations, #faqs, #feedback, #links, #source, #tips, #why
{
  @include font-size-tiny();
}

#please_donate
{
  color: darken($lighter-color, 10%);  
  @include font-size-tiny();
}

#ok, #cancel
{
  @include font-size-large();
}

#exercise_list
{
  height: 35em;
  overflow-y: auto;
  overflow-x: hidden;
}

#thank_you
{
  @include font-size-large();
}