
$text-color: darken($lighter-color, 10%);

#home-page {

  font-size: 1.15em;

  margin-top: 25px;
  margin-left: 0px;

  #cyber-dojo {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 7.4em;
    color: $text-color;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    left: 3px;
    top: -20px;
  }

  #home-page-logo {
    display: inline-block;
    position: relative;
    top: -50px;
    right: -35px;
  }

  #the-place-to-practice-programming {
    font-size: 1.35em;
    color: lighten($text-color, 5%);
    position: relative;
    top: -29px;
  }

  #second-server, #third-server {
    font-size: 1.10em;
  }

  #learn-more-button {
    font-size: 1.30em;
    position: relative;
    top: -25px;
    left: 2px;
  }

  .button-td {
    width: 230px;
    vertical-align: top;
  }
  .button-info-td {
    display: inline-block;
    font-size: 0.9em;
    width: 160px;
    &.enter {
      color: lighten($green, 30%);
    }
  }

  #enter-id-info {
    color: lighten($green, 30%);
  }
  #kata-id-input {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    background: lighten($green, 20%);
    color: $darker-color;
    @include font-size-largest();
    width: 215px;
    margin: { top: 4px; bottom: 4px; right: 2px; }
    padding: { right: 20px; bottom: 0px; top: 2px; }
    text-align: right;
    @include gradient-lighten($green, 40%, 30%, 20%);
    @include rounded-corner(6px);
    position: relative;
    right: -1px;
  }
  #create-button, #enter-button, #reenter-button,  #review-button {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: $darker-color;
    @include font-size-largest();
    width: 240px;
    padding-right: 20px;
    margin-left: 10px;
    text-align: right;
  }
  #create-button {
  }
  #review-button {
    margin-top: 4px;
  }

  #donate-container {
    font-size: 1.15em;
    width: 280px;
    @include ghost-panel(10px);
    margin-bottom: 10px;
    #please-donate {
      text-align: right;
      margin: { left: 10px; right: 10px; }
      color: $lighter-color;
      @include font-size-tiny();
    }
    #donate-form {
      height: 42px;
    }
    #donate-button {
      text-align: right;
      padding: { top: 15px; right: 5px; }
    }
    #please-invoice-me {
      display: block;
      @include font-size-tiny();
      text-align: right;
      margin-right: 10px;
    }
  }

  #accu-container {
    font-size: 0.85em;
    width: 258px;
    @include ghost-panel(10px);
    margin-bottom: 10px;
    #accu-image {
      margin: { top: 10px; right: 10px; }
      padding: 5px;
      background:CornSilk;
      width: 60px;
      height: 15px;
    }
    #accu-words {
      margin: { top: 10px; right: 10px; }
      color: $lighter-color;
      text-align: right;
    }
  }
}

a:link, a:visited
{
  color: $text-color;
}

#custom
{
  position: absolute;
  top: 50px;
  left: 900px;
}

#get_a_new_practice_id
{
  color: $text-color;
  @include font-size-tiny();
}

#enter_the_practice_id
{
  color: lighten($green, 30%);
  @include font-size-small();
}

#full_dojo_text, #empty_dojo_text
{
  color: $darker-color;
  @include font-size-medium();
}

[data-cursor=pointer]
{
  cursor: pointer;
}
