
.row
{
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

$text-color: darken($lighter-color, 10%);

#cyber-dojo
{
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  color: $text-color;
  font-size: 4.2em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

a:link, a:visited
{
  color: $text-color;
}

#a_place_to_practice
{
  font-size: 1em;
  color: $text-color;
}

#custom_message
{
  color: $text-color;
  @include font-size-small();
}
#setup
{
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: lighten($red, 10%);
  @include gradient-lighten($red, 20%, 10%, 5%);
  color: $text-color;
  @include font-size-large();
}
  
.kata_id_input
{
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: lighten($green, 20%);
  @include gradient-lighten($green, 30%, 25%, 20%);    
  color: $darker-color;
  @include font-size-medium();
  text-align: center;
}

#start_button, #resume_button, #review_button
{
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  color: $darker-color;
  @include font-size-large();
}

#get_a_new_practice_id
{
  color: $text-color;
  @include font-size-tiny();  
}

#enter_the_practice_id
{
  color: lighten($green, 30%);
  @include font-size-tiny();  
}

#and
{
  color: $text_color;
  @include font-size-tiny();  
}

#full_dojo_text, #empty_dojo_text
{
  color: $darker-color;
  @include font-size-medium();
}

#about, #basics, #donations, #faqs, #feedback,
#links, #source, #tips, #why
{
  @include font-size-tiny();
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#please_donate
{
  color: darken($lighter-color, 10%);  
  @include font-size-tiny();
}

[data-cursor=pointer]
{
  cursor: pointer;
}

