
#file_operations {
  #new, #rename, #delete {
    background: lighten($green, 20%);  
    @include font-size-tiny();  
  }
  
  #rename[disabled], #delete[disabled] {
    background: lighten($darker-color, 20%);
    cursor: default;
  }  
}

#help {
  @include font-size-small();
  @include rounded-corner(14px);    
}

#fork_review_buttons {
  #fork, #review {
    background: lighten($green, 20%);  
    @include font-size-small();  
  }
}

#test {
  background: lighten($green, 20%);  
  @include font-size-large();
  padding: {
    left: 0.2em;
    right: 0.2em;
  }
}

