
#kata-page {

  margin-top: 1em;
  margin-left: 1em;

  #file-operations {
    #new, #rename, #delete {
      @include font-size-tiny();
      padding: {
          left: 0.3em;
          right: 0.3em;
      }
    }
  }

  #filename-list {
    height: 22em;
    overflow-y: auto;
    #radio_output {
      margin-bottom: 0.5em;
      font-style: italic;
    }
    div[class~='filename'][class~='highlight'] {
      &:before { content: ">"; }
    }
    div[class~='filename'][class~='lowlight'] {
      color: lighten($darker-color, 20%);
    }
  }

  #revert-button, #fork-button {
    @include font-size-tiny();
  }

  #help-button {
    @include font-size-tiny();
    @include rounded-corner(14px);
  }

  #traffic-lights {
    width: 64em;
    overflow-x: auto;
    margin-top: 5px;
    margin-left: 5px;
  }
}

#kata-page, #help-dialog {
  #test-button {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-largest();
    padding: {
      left: 0.2em;
      right: 0.2em;
    }
  }
}
