
#kata-page {

  margin-top: 15px;
  margin-left: 45px;

  #test-spinner {
    display: none;
    position: absolute;
    top: 250px;
    left: 550px;
    z-index: 1000;
  }

  #test-button {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-medium();
    @include right-align(15px);
    margin-right: 0px;
    margin-bottom: 2px;
    padding: { top: 0px; bottom: 2px; left: 15px; right: 13px; }
  }

  #file-operations {
    @include ghost-panel(8px);
    margin: { top: 2px; bottom: 4px; left: 16px; right: 1px; }
    #new, #rename, #delete {
      text-align: right;
      font-size: 1em;
      margin-bottom: 2px;
      padding-bottom: 3px;
    }
  }

  #filename-list {
    margin-left: 15px;
    height: 520px;
    overflow-x: auto;
    overflow-y: auto;
    div[class~='filename'][class~='highlight'] {
      &:before { content: ">"; }
    }
    #radio_output, div[class~='filename'][class~='lowlight'] {
      color: lighten($darker-color, 25%);
    }
  }

  #traffic-lights {
    margin-left: 5px;
    width: 760px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 0px;
    &::-webkit-scrollbar:horizontal { height: 1px; }
  }

  .file_content {
    overflow-x: auto;
    overflow-y: scroll;
  }

}

#test-overlay {
    // mimic jQuery modal dialog background
    background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
    opacity: .50;
    filter:Alpha(Opacity=50);

    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
