
#avatar_name
{
  @include font-size-tiny();
}

#test
{
  @include font-size-large();
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#file_operations #new,
#file_operations #rename,
#file_operations #delete
{
  @include font-size-tiny();
}

#file_operations #new:before,
#file_operations #new:after,
#file_operations #rename:before,
#file_operations #rename:after,
#file_operations #delete:before,
#file_operations #delete:after,
#help:before, #help:after
#fork:before, #fork:after
#feedback:before, #feedback:after
{
  content: $retained-space;
}

#id, #feedback, #help, #fork
{
  @include font-size-tiny();
}