
#revert-fork-dialog {

  border: {
    left: 1px dotted lighten($darker-color, 10%);
    right: 1px dotted lighten($darker-color, 10%);
  }

  #revert-fork-controls {
    position: absolute;
    top: 15px;
    left: 764px;
  }

  .filename {
    text-align: left;
  }

  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  padding-left: 25px;
  margin-left: 0px;
  margin-top: 15px;

  #revert-fork-button {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-large();
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0.3em;
  }

  #traffic-light {
     margin-left: 0.3em;
     margin-right: 0.3em;
  }

  #revert-fork-filenames {
    height: 18em;
    overflow-y: auto;
    font-size: 11pt;
  }

  #revert-fork-tag-number {
    @include editable_tag_number;
  }

  #revert-fork-content {
    overflow-y: scroll;
    width: 45em;
    height: 31em;
    font: {
      size: 12pt;
      family: monospace;
    }
  }

  ::-webkit-scrollbar {
    background: lighten($darker-color, 3%);
    border: 1px dotted lighten($darker-color, 10%);
    border-left: none;
  }

}
