
#revert_dialog
{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;  
  padding: none;
  margin: none;
  margin-top: 0.5em;
}

#revert_content
{
  width: 40em;
  height: 20em;
  font-family: monospace;
  font-size: 1.2em;
}

#revert_tip
{
  @include font-size-tiny();
}