
#revert-fork-dialog {

  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background: $darker-color;
  padding: none;
  margin: 0;
  margin-top: 0.5em;

  #revert-fork-button {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-larger();
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0.3em;
  }

  #traffic-light {
     margin-left: 0.3em;
     margin-right: 0.3em;
  }

  #revert-fork-filenames {
    height: 18em;
    overflow-y: auto;
    font-size: 11pt;
  }

  #revert-fork-tag-number {
    @include editable_tag_number;
  }

  #revert-fork-content {
    width: 45em;
    height: 31em;
    font: {
      size: 12pt; //1.5em;
      family: monospace;
    }
  }
}
