
#choose_language, #choose_exercise
{
  color: darken($lighter-color, 15%);
  @include font-size-large();
}

#instructions
{
  background: $lighter-color;
  color: $darker-color;
  border: 4px solid $lighter-color;
  overflow-y: auto;
}

.light_margin.panel { background: $lighter-color; }

#ok, #cancel
{
  @include font-size-large();
}

#div_exercises, #div_languages
{
  height: 35em;
  overflow-y: auto;
  overflow-x: hidden;
}

