
#setup-page {

  margin-top: 25px;
  margin-left: 35px;

  #languages-container, #tests-container, #exercises-container {
    height: 475px;
    padding-right: 3px;
    margin-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    .filename {
      padding-right: 20px;
    }
  }

  #choose-language, #choose-tests, #choose-exercise {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: darken($lighter-color, 5%);
    @include font-size-larger();
    margin-bottom: 5px;
  }

  #exercises-container, #choose-exercise {
    padding-left: 35px;
  }

  #instructions {
    height: 465px;
    width: 650px;
    margin-left: 0px;
    font-size: 12pt;
    background: $lighter-color;
    color: $darker-color;
    overflow-y: scroll;
    padding: 5px;
    border: 0px;
    outline: none;
  }

  #ok, #cancel {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-largest();
    margin: { top: 30px; right: 50px; }
  }

}
