
#setup-page.busy * {
  cursor: wait !important;
}

#setup-page {

  margin: { top: 15px; left: 35px; }

  #prepare-a-new-practice {
    @include non-code-font();
    color: $lighter-color;
    font-size: 3.6em;
    margin-left: 48px;
    text-align: left;
  }

  #languages-container, #tests-container, #exercises-container {
    @include non-code-font();
    height: 425px;
    padding-right: 3px;
    margin-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    .filename {
      padding-right: 5px;
    }
    &::-webkit-scrollbar:vertical { width: 4px; }
    div[class~='filename'] {
      @include font-size-medium();
      &[class~='selected'] {
        font-style: bold;
        color: darken($lighter-color, 5%);
      }
    }
  }

  #choose-language, #choose-tests, #choose-exercise {
    @include non-code-font();
    color: darken($lighter-color, 5%);
    @include font-size-large();
    margin-bottom: 5px;
    padding-left: 0px;
    text-align: right;
    margin-right: 10px;
    &:after {
      font-size: 0.84em;
      content: '?';
    }
  }

  .filename {
    font-size: 13pt !important;
    width: 165px;
  }

  #instructions {
    @include code-font();
    font-size: 11pt;
    color: $lighter-color;
    background: lighten($darker-color, 5%);
    border-top-left-radius: 5px;
    border: none;
    height: 415px;
    width: 550px;
    margin-left: 0px;
    overflow-y: scroll;
    padding: 6px;
    outline: none;
    &::-webkit-scrollbar:vertical { width: 5px; }
    resize: none;
  }

  #ok {
    @include non-code-font();
    @include font-size-largest();
    margin: { top: 5px; right: 0px; }
  }

}
