
#setup-page.busy * {
  cursor: wait !important;
}

#setup-page {

  margin: { top: 15px; left: 35px; }

  .filename {
    font-size: 13pt !important;
    width: 165px;
  }

  #prepare-a-new-practice {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: darken($lighter-color, 5%);
    font-size: 4.0em;
    margin-right: 8px;
    text-align: right;
  }

  #languages-container, #tests-container, #exercises-container {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    height: 475px;
    padding-right: 3px;
    margin-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    .filename {
      padding-right: 5px;
    }
    &::-webkit-scrollbar:vertical { width: 5px; }
    div[class~='filename'] {
      @include font-size-medium();
      &[class~='selected'] {
        font-style: bold;
        color: darken($lighter-color, 5%);
      }
    }
  }

  #choose-language, #choose-tests, #choose-exercise {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    color: darken($lighter-color, 5%);
    @include font-size-larger();
    margin-bottom: 5px;
    padding-left: 0px;
    text-align: right;
    margin-right: 10px;
    &:after {
      font-size: 0.84em;
      content: '?';
    }
  }

  #instructions {
    color: $lighter-color;
    background: lighten($darker-color, 5%);
    border-top-left-radius: 5px;
    border: none;
    height: 465px;
    width: 550px;
    margin-left: 0px;
    font-size: 12pt;
    overflow-y: scroll;
    padding: 6px;
    outline: none;
    &::-webkit-scrollbar:vertical { width: 5px; }
    @include code-font();
  }

  #ok {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-largest();
    margin: { top: 5px; right: 0px; }
  }

}
