
#setup-page {

  margin: 35px;

  #choose-language, #choose-exercise {
    color: darken($lighter-color, 5%);
    @include font-size-larger();
    margin-bottom: 0.3em;
    text-align: left;
    padding-right: 25px;
  }
  #choose-exercise {
    margin-left: 30px;
  }

  #div-exercises, #div-languages, #instructions {
    height: 475px;
  }

  #instructions {
    margin-left: 2px;
    font-size: 1.4em;
    background: $lighter-color;
    color: $darker-color;
    overflow-y: scroll;
    padding: 0px;
    border: 0px;
  }

  #create, #cancel {
    font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    @include font-size-largest();
    margin-top: 10px;
    margin-right: 140px;
  }

  #div-exercises, #div-languages {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    margin-right: 20px;
  }
  #div-exercises {
    margin-left: 30px;
    margin-right: 10px;
  }

}
