
@mixin right-align($margin-right) { margin: { left : auto; right: $margin-right; } }
@mixin left-align($margin-left) { margin: { left : $margin-left; right: auto; } }
@mixin center-align { text-align: center; margin: { left : auto; right: auto; } }

.align-left { text-align: left; }
.align-center { @include center-align; }
.align-right   { text-align: right;  }

.valign-top    { vertical-align: top;    }
.valign-center { vertical-align: center; }

//----------------------------------------------

a:link, a:visited
{
  color: $text-color;
}

[data-cursor=pointer]
{
  cursor: pointer;
}

//----------------------------------------------

@mixin edged-panel
{
  display: inline-block;
  border: 1px dotted gray;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  //background: lighten($darker-color, 6%);
  background: #666;
}

.diff-traffic-light, #yin-yang-logo { cursor: pointer; }

.hover-tip {
  z-index: 3;
  position: absolute;
  background-color: lighten($darker-color, 6%);
  color: darken($lighter-color, 6%);
  border: 1px dotted darken($lighter-color, 6%);
  font-size: 15px;
  @include rounded-corner(10px);
  padding: 10px;
  text-align: left;
}

//----------------------------------------------

#footer {
  font-size: 1.05em;
  position: fixed;
  width: 100%;
  text-align: left;
  bottom: 0px;
  padding: { left: 15px; bottom: 2px; top: 0px; }
  background: lighten($darker-color, 6%);
  color: $lighter-color;

  #tweet-container {
    #twitter-widget-0 {
      position: relative; top: 5px;
      margin-top: 7px;
    }
  }
}

//----------------------------------------------

.diff-traffic-light {
  margin : { left: 0px; right: 0px; }
  padding: { left: 0px; right: 0px; }
  img {
    width: 22px;
    height: 22px;
    padding: { left: 1px; right: 0px; }
    margin : { left: 0px; right: 0px; }
  }
}

.avatar-image img { padding-left: 2px; width: 30px; height: 30px; }

.traffic-light-count {
  font-size: 28px;
  padding: { left: 4px; bottom: 0px; }
}

.avatar_name, #id { @include font-size-tiny(); text-align: right; }

#accu-container {
  #accu-image {
    padding: 5px;
    background: CornSilk;
    width: 50px;
    margin-top: 7px;
  }
}

//----------------------------------------------

#the-place-to-practice-programming {
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.25em;
  color: lighten($text-color, 5%);
  position: relative;
  top: -32px;
  margin-right: 2px;
  margin-bottom: 5px;
}

#learn-more-button {
  width: 200px;
  padding-right: 20px;
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  color: darken($darker-color, 10%);
  text-align: right;
  font-size: 0.87em;
  position: relative;
  top: -25px;
  left: 2px;
  padding-bottom: 4px;
}

#cyber-dojo {
  font-family: Impact, Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 6.75em;
  color: $text-color;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  left: 3px;
  top: -20px;
  .dot-org {
    font-size: 0.30em;
  }
}

#home-page-logo {
  display: inline-block;
  position: relative;
  top: -50px;
  right: -35px;
}
