
.avatar_name, #id
{
  @include font-size-tiny();
}

#shared-info
{
  @include font-size-tiny();
}

.triangle.button {
  padding: {
    top: 0.2em;
    bottom: 0.05em;
    left: 0.2em;
    right: 0.2em;  
  }
}

.diff-traffic-light, #yin_yang_logo {
  cursor: pointer;
}

@mixin editable_tag_number
{
  background: $lighter-color;
  @include gradient-darken($lighter-color, 20%, 10%, 5%);     
  color: $darker-color;
  @include font-size-small();
  text-align: center;
  width: 2em;
}

.traffic_light_count {
  font-size: 2.5em;
  padding: 0.1em;
  text-align: right;
}

.bulb_count {
  font-size: 1.1em;
  padding-left: 0.3em;  
}

.table-row {
  display: table-row;
}

