
@mixin right-align($margin-right)
{
  margin: { left : auto; right: $margin-right; }
}

@mixin left-align($margin-left)
{
  margin: { left : $margin-left; right: auto; }
}

@mixin center-align
{
  text-align: center;
  margin: { left : auto; right: auto; }
}

@mixin ghost-panel($padding: 5px)
{
  margin-bottom: 20px;
  padding: $padding;
  background: lighten($darker-color, 6%);
  border: 1px solid lighten($darker-color, 6%);
}

#info-container {
  display: inline-block;
}

.diff-traffic-light, #yin-yang-logo {
  cursor: pointer;
}

.traffic-light-count {
  font-size: 2.5em;
  padding: 0.1em;
  text-align: right;
}

.bulb-count {
  font-size: 1em;
  padding-left: 0.3em;
  &.red {
    color: darken($red, 0%);
  }
}

.pie {
  margin-right: 5px;
}

//----------------------------------------------

#footer {
  font-size: 1.15em;
  position: fixed;
  width: 100%;
  text-align: left;
  bottom: 0px;
  padding: { left: 20px; bottom: 2px; top: 0px; }
  background: lighten($darker-color, 6%);
  color: $lighter-color;
}

#help-container {
  text-align: right;
  margin: { right: 12px; bottom: 10px; }
  #help-button {
    font-size: 1em;
    padding-bottom: 4px;
  }
}

#tweet-container {
  position: relative;
  top: -2px;
  #twitter-widget-0 {
    position: relative;
    top: 5px;
  }
}

//----------------------------------------------

.avatar_name, #id {
  @include font-size-tiny();
  text-align: right;
}

.align-left { text-align: left; }
.align-center { @include center-align; }
.align-right   { text-align: right;  }

.valign-top    { vertical-align: top;    }
.valign-center { vertical-align: center; }
