
@mixin right-align($margin-right)
{
    margin-left : auto;
    margin-right: $margin-right;
}

@mixin left-align($margin-left)
{
    margin-left : $margin-left;
    margin-right: auto;
}

@mixin center-align
{
  text-align: center;
  margin: {
    left : auto;
    right: auto;
  }
}


@mixin ghost-panel($padding: 5px)
{
    margin-bottom: 20px;
    padding: $padding;
    background: lighten($darker-color, 6%);
    border: 1px solid lighten($darker-color, 6%);
}

#info-container {
  display: inline-block;
}

#navigate-buttons {
  @include ghost-panel;
}

.triangle.button {
  padding: {
    top   : 0.20em;
    bottom: 0.05em;
    left  : 0.20em;
    right : 0.20em;
  }
}

.diff-traffic-light, #yin-yang-logo {
  cursor: pointer;
}

@mixin editable_tag_number {
  background: $lighter-color;
  @include gradient-darken($lighter-color, 20%, 10%, 5%);
  color: $darker-color;
  @include font-size-small();
  text-align: center;
  width: 2em;
}

.traffic-light-count {
  font-size: 2.5em;
  padding: 0.1em;
  text-align: right;
}

.bulb-count {
  font-size: 1em;
  padding-left: 0.3em;
  &.red {
    color: darken($red, 0%);
  }
}

.pie {
  margin-right: 5px;
}

//----------------------------------------------

#footer {
  font-size: 1.15em;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0px;
  padding: {
    bottom: 6px;
    top: 0px;
  }
  background: lighten($darker-color, 6%);
  color: $lighter-color;
}

#tweet {
  display: inline-block;
  padding-top: 2px;
  position: relative;
  top: 4px;
  left: 3px;
}

#help-button {
  position: relative;
  top: -2px;
}

//----------------------------------------------

.avatar_name, #id {
  @include font-size-tiny();
  text-align: right;
}

.align-left { text-align: left; }
.align-center { @include center-align; }
.align-right   { text-align: right;  }

.valign-top    { vertical-align: top;    }
.valign-center { vertical-align: center; }
