
<script type="text/javascript"><!--

$(document).ready(function() {
  $('#avatar-image-opens-dashboard').click(function() {
    var id = $(this).data('id');
    var url = '/dashboard/show/' + id;
    window.open(url);
  });
});

//--></script>

<div id="avatar-image-opens-dashboard"
     data-id="<%= @kata.id %>"
     class="tipped">
  <div class="tooltip">
    open a new<br>
    dashboard page
  </div>
  <img alt="<%= @avatar.name %>"
       title="<%= @avatar.name %>"
       class="avatar_image"
       width="45"
       height="45"
       src="/images/avatars/<%= @avatar.name %>.jpg" />
</div>
