
<script type="text/javascript"><!--

$(document).ready(function() {
  $('#avatar-image-opens-homepage').click(function() {
    cd.get('/dashboard/show', { id: $(this).data('id') }, '_blank' );
  });
});

//--></script>

<div id="avatar-image-opens-homepage"
     data-id="<%= @kata.id %>">
  <div class="tooltip">
    Open a new<br>
    dashboard page
  </div>
  <img alt="<%= @avatar.name %>"
       class="avatar_image"
       width="47"
       height="47"
       src="/images/avatars/<%= @avatar.name %>.jpg" />  
</div>

