
<div id="avatar_buttons">
  <input type="image" 
         src="/images/avatars/<%=@kata.avatar.name.downcase-%>.jpg"
         <% if !@kata.readonly -%>
           title="<%=@kata.avatar.name.humanize-%> predict green"
           class="rounded" 
         <% else -%> 
           title="<%=@kata.avatar.name.humanize-%>"
           class="rounded" 
         <% end -%> />
</div>

