
<script type="text/javascript"><!--

$(function() {

  $('#avatar-image-opens-dashboard').click(function() {
    var id = $(this).data('id');
    var url = '/dashboard/show/' + id;
    window.open(url);
  });

  cd.scrollAvatarImageIntoView = function() {
    $('.avatar-image').scrollIntoView();
  };

  cd.scrollAvatarImageIntoView();

});

//--></script>

<div id="avatar-image-opens-dashboard"
     class="avatar-image"
     data-id="<%= @kata.id %>"
     title="open a new dashboard page">
  <img alt="<%= @avatar.name %>"
       title="<%= @avatar.name %>"
       class="avatar-image"
       src="/images/avatars/<%= @avatar.name %>.jpg" />
</div>
