
<div id="avatar_buttons">
  <img
         src="/images/avatars/<%=@kata.avatar.name.downcase-%>.jpg"
           title="<%=@kata.avatar.name.humanize-%>"
           class="rounded"
  />
  <img
         src="/images/avatars/<%=@kata.avatar.name.downcase-%>.jpg"
           title="<%=@kata.avatar.name.humanize-%>"
           class="rounded"
  />

</div>

