
<div id="avatar_pair">

  <img src="/images/avatars/<%=@avatar.name.downcase-%>.jpg"
       title="<%=@avatar.name.humanize-%>"
  />
  <img src="/images/avatars/<%=@avatar.name.downcase-%>.jpg"
       title="<%=@avatar.name.humanize-%>"
  />

</div>

