
<div id="current_traffic_light_number">
  <% if @avatar.increments.length != 0 %>
      <span class="tag_count">
        <%= @avatar.increments.length %>
      </span>
    </td>        
  <% end %>
</div>

