
<script type="text/javascript"><!--

$(document).ready(function() {
    
  var dashboardButton = $('#dashboard_button');
  dashboardButton.click(function() {
      cd.postTo('/dashboard/show', {
        id: "<%= @kata.id %>"
      }, '_blank');
  });
  dashboardButton.tooltip(cd.tipSettings());
  
});

//--></script>

<input type="button"
       class="button"
	   id="dashboard_button"
       value="<%= t("views.buttons.dashboard") %>">
  <div class="tooltip">
    Open a new dashboard page	
  </div>
</input>
