
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#dashboard_button').click(function() {
	  var id = "<%= @kata.id %>";
	  var url = '/dashboard/show/' + id;
	  window.open(url);
  });
  
});

//--></script>

<button type="button"
	    id="dashboard_button"
		class="tipped">
  <%= t('views.buttons.dashboard') %>
  <div class="tooltip">
    opens a new<br>dashboard page	
  </div>
</button>
