
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#dashboard_button').click(function() {
      cd.postTo('/dashboard/show', {
        id: "<%= @kata.id %>"
      }, '_blank');
  });
  
});

//--></script>

<button type="button"
	    id="dashboard_button"
		class="tipped"
        value="<%= t('views.buttons.dashboard') %>">
  <%= t('views.buttons.dashboard') %>
  <div class="tooltip">
    Open a new<br>dashboard page	
  </div>
</input>
