
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#dashboard_button').click(function() {
      cd.postTo('/dashboard/show', {
        id: "<%= @kata.id %>"
      }, '_blank');
  });

});

//--></script>

<div class="button"
     title="Open a new dashboard page"
	 id="dashboard_button">
  <%= t("views.buttons.dashboard") %>
</div>
