
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#diff_review_button').click(function() {
      cd.postTo('/diff/show', {
        id: "<%= @kata.id %>",
        avatar: "<%= @avatar.name %>",
        was_tag: 0,
        now_tag: 1,
      }, '_blank');
  });

});

//--></script>

<div class="button"
     title="Review the practice diff by diff"
     id="diff_review_button">
  <%= t("views.buttons.diff_review") %>
</div>
