
<script type="text/javascript"><!--

$(document).ready(function() {    
  
  var diffReviewButton = $('#diff_review_button');
  diffReviewButton.click(function() {
    var title = $(this).val();  
    var id = "<%= @kata.id %>";
    var avatarName = "<%= @avatar.name %>";
    var wasTag = 0;
    var nowTag = 1;
    var maxTag = parseInt($('.traffic_light_count').text());
    cd.dialog_diff(title, id, avatarName, wasTag, nowTag, maxTag);
  });
  cd.tipify(diffReviewButton);
  
});

//--></script>

<button type="button"
        id="diff_review_button"
        value="<%= t('views.buttons.diff_review') %>">
  <%= t('views.buttons.diff_review') %>
  <div class="tooltip">
    Review the practice<br>diff by diff
  </div>    
</input>
