
<script type="text/javascript"><!--

$(document).ready(function() {    
  
  $('#diff_review_button').click(function() {
    var title = $(this).text();  
    var id = "<%= @kata.id %>";
    var avatarName = "<%= @avatar.name %>";
    var wasTag = 0;
    var nowTag = 1;
    var maxTag = parseInt($('#traffic_light_count').text());    
    cd.dialog_diff(title, id, avatarName, wasTag, nowTag, maxTag);
  });

});

//--></script>

<div class="button"
     title="Review the practice diff by diff"
     id="diff_review_button">
  <%= t("views.buttons.diff_review") %>
</div>
