
<table cellpadding="0">
  <tr>
    <td>
      <textarea id="editor" 
                tabindex="0"
                name="editor" 
                class="box"
                <% if @kata.readonly -%>
                  readonly="true"
                <% end -%>
                cols="80" 
                rows="28" >
      </textarea>
    </td>
  </tr>
</table>

