
<div id="visible-files-container"
     class="edgeless">

  <% @visible_files.each do |filename,content| %>
    <%= render :partial => 'visible_file',
               :locals  => { :filename => filename,
                             :content  => content} %>
  <% end %>

</div>
