
<table>

  <tr class="valign-top">
    <td colspan="3">
      <div id="visible-files-container">

        <% @visible_files.each do |filename,content| %>
          <%= render :partial => 'visible_file',
                     :locals  => { :filename => filename,
                                   :content  => content} %>
        <% end %>

      </div>
    </td>
  </tr>

  <tr class="valign-top">
    <td>
      <%= render :partial => 'line_numbers_checkbox' %>
    </td>
    <td>
      <%= render :partial => 'shared/info' %>
    </td>
    <td>
      <%= render :partial => 'help_button' %>
    </td>
  </tr>

</table>
