
<table cellpadding="0">
  <tr valign="top">
    <td class="file-manager panel box">
      <%= render :partial => 'avatar_buttons' -%>
      <%= render :partial => 'file_list' -%>
    </td>
    <td>
      <%= render :partial => 'editor' -%>
    </td>
  </tr>
</table>

<%= render :partial => 'hidden_text_areas' -%>


