
<div class="rounded panel">
<textarea name="editor" 
          id="editor" 
          class="rounded panel"
          cols="80" 
          rows="34" >
</textarea>
</div>

<script type="text/javascript">
document.observe('dom:loaded', function() 
{
  createTextAreaWithLineNumbers('editor', "<%=@kata.tab-%>");
  TabEntry.enable('editor');
})
</script>

