
<div class="panel">
  <div id="editor_div">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <textarea name="editor_line_numbers"
                    id="editor_line_numbers">
          </textarea>
        </td>
        <td>
          <textarea name="editor" 
                    id="editor"
                    tab="<%=@tab-%>"
                    wrap="off">
          </textarea>
        </td>
      </tr>
    </table>
  </div>
  <div id="output_div">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <textarea name="output_line_numbers"
                    id="output_line_numbers">
          </textarea>
        </td>
        <td>
          <%= render :partial => 'output' -%>
          <%= render :partial => 'outcome' -%>
        </td>
      </tr>
    </table>
  </div>
</div>

