
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  bindLineNumbers($j('#editor'), $j('#editor_line_numbers'));
  bindLineNumbers($j('#output'), $j('#output_line_numbers'));
  
  $j('#editor_tabs').bind('tabsselect', function(event, tab) {
    if (tab.index === $cd.OUTPUT_TAB_INDEX) {
      // About to switch to output tab but haven't switched yet...
      $cd.saveFile($cd.currentFilename());
    }
    return true;  
  });
  
  $j('#editor_tabs').bind('tabsshow', function(event, tab) {
    if (tab.index === $cd.EDITOR_TAB_INDEX) {
      // Have already switched to editor tab...
      $cd.loadFile($cd.currentFilename());
    }
    $cd.currentTabIndex = tab.index;
  });
});

//--></script>

<div id="editor_tabs">
  <ul>
    <li><a href="#tab_editor">editor</a></li>
    <li><a href="#tab_output">output</a></li>
  </ul>
  <div id="tab_editor">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <textarea name="editor_line_numbers"
                    id="editor_line_numbers">
          </textarea>
        </td>
        <td>
          <textarea name="editor" 
                    id="editor"
                    tab="<%=@tab-%>"
                    wrap="off">
          </textarea>
        </td>
      </tr>
    </table>
  </div>
  <div id="tab_output">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <textarea name="output_line_numbers"
                    id="output_line_numbers">
          </textarea>
        </td>
        <td>
          <%= render :partial => 'output' -%>
        </td>
      </tr>
    </table>
  </div>
</div>

