
<!-- create hashes of files' contents when page is loaded -->

<script type="text/javascript"><!--

$(document).ready(function() {

  cd.storeIncomingFileHashes = function() {
    var container = $('#file_hashes_incoming_container');
    container.empty();
    $.each(cd.filenames(), function(index,filename) {
      var node = cd.fileContentFor(filename);
      var content = node.val();
      var hash = cd.hashOf(content);
      container.append(
        $('<input>', {
          'type': 'hidden',
          'name': "file_hashes_incoming[" + filename + "]",
          'value': hash
        })
      );
    });
  };
  
  cd.storeIncomingFileHashes();
  
});

//--></script>

<div id="file_hashes_incoming_container">
</div>
