
<table>
  <% if !@kata.readonly -%>
    <tbody id="file-list">
  <% else -%>
    <tbody>       
  <% end -%>

    <% @manifest[:visible_files].sort.each do |filename,file| -%>
    <tr>
      <td>             
        <div <% if filename != 'kata.sh' -%>
                id="radioFilename"  
             <% end -%>
             onclick='loadFile("<%=filename-%>")'>
          <input id="radio_<%=filename-%>" 
                 name="radio_filename"
                 type="radio"
                 value="<%=filename-%>"><%= filename -%>
        </div>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>

<br/>
<button type="button" onclick="newFile();">new file</button>


