
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  $j('#file_op_new').click(function() {
    $cd.newFile(); 
  });
  $j('#file_op_rename').click(function() {
    $cd.renameFile();
  });
  $j('#file_op_delete').click(function() {
    $cd.deleteFile();
  });  
  $j('#file_op_help').click(function() {
    $cd.help("<%=@avatar.name-%>");
  });  
});

//--></script>

<div>
  <table>
    <tr>
      <td class="file_op"
          id="file_op_new"
          title="create a new file">
        <div class="file_op_name">new<br/>file</div>
      </td>
      <td class="file_op"
          id="file_op_rename"
          title="rename the current file">
        <div class="file_op_name">rename<br/>file</div>
      </td>
      <td class="file_op"
          id="file_op_delete"
          title="delete the current file">
        <div class="file_op_name">delete<br/>file</div>
      </td>
      <td class="file_op"
          id="file_op_help"
          title="Show help">
        <div class="file_op_name">help</div>
      </td>      
    </tr>
  </table>
</div>


