
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
  var fileButtons =  $j('#file_operation_buttons');
  fileButtons.find('#new').click(function() {
    $cd.newFile(); 
  });
  fileButtons.find('#rename').click(function() {
    $cd.renameFile();
  });
  fileButtons.find('#delete').click(function() {
    $cd.deleteFile();
  });  
});

//--></script>

<div id="file_operation_buttons">
  <table>
    <tr>
      <td class="small button"
          id="new"
          title="Create a new file">new
      </td>
      <td class="small button"
          id="rename">rename
      </td>
      <td class="small button"
          id="delete">delete
      </td>
    </tr>
  </table>
</div>


