
<script type="text/javascript"><!--

$(function() {

  var fileButtons =  $('#file-operations');

  fileButtons.find('#new')
    .click(function() { cd.newFile($(this).data('title')); });

  fileButtons.find('#rename')
    .click(function() { cd.renameFile($(this).data('title')); });

  fileButtons.find('#delete')
    .click(function() { cd.deleteFile($(this).data('title')); });

});

//--></script>

<div id="file-operations">
<div>
  <button type="button"
          id="new"
          data-title="new file"
          title="creates a new file">
    new&nbsp;file
  </button>
</div>
<div>
  <button type="button"
          id="rename"
          data-title="rename file"
          title="renames the current file">
    rename&nbsp;file
  </button>
</div>
<div>
  <button type="button"
          id="delete"
          data-title="delete file"
          title="deletes the current file">
    delete&nbsp;file
  </button>
</div>
</div>
