
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  var fileButtons =  $('#file_operations');
  fileButtons.find('#new').click(function() {
    cd.newFile(); 
  });
  fileButtons.find('#rename').click(function() {
    cd.renameFile("<%= @avatar.name %>");
  });
  fileButtons.find('#delete').click(function() {
    cd.deleteFile("<%= @avatar.name %>");
  });

});

//--></script>

<div id="file_operations">
  <table>
    <tr>
      <td class="button" id="new"   >new   </td>
      <td class="button" id="rename">rename</td>
      <td class="button" id="delete">delete</td>
    </tr>
  </table>
</div>
