
<div class="rounded panel">
  <img src="/images/file-new-icon.png"
       title="New File..."
       class="file_op new mid_tone"
       width="30"
       height="30"
       onclick="newFile();"/>
  <img src="/images/file-rename-icon.png"
       title="Rename File..."
       class="file_op rename mid_tone" 
       width="30"
       height="30"
       onclick="renameFile();"/>
  <img src="/images/file-delete-icon.png"
       title="Delete File..."
       class="file_op delete mid_tone"
       width="30"
       height="30"
       onclick="deleteFile();"/>
</div>


