
<script type="text/javascript"><!--

$(function() {

  var fileButtons =  $('#file-operations');

  fileButtons.find('#new')
    .click(function() { cd.newFile("<%= @avatar.name %>"); });

  fileButtons.find('#rename')
    .click(function() { cd.renameFile("<%= @avatar.name %>"); });

  fileButtons.find('#delete')
    .click(function() { cd.deleteFile("<%= @avatar.name %>"); });

});

//--></script>

<div id="file-operations">
<div>
  <button type="button"
          id="new"
          title="creates a new file">
    new&nbsp;file
  </button>
</div>
<div>
  <button type="button"
          id="rename"
          title="renames the current file">
    rename&nbsp;file
  </button>
</div>
<div>
  <button type="button"
          id="delete"
          title="deletes the current file">
    delete&nbsp;file
  </button>
</div>
</div>
