
<div class="rounded panel">

<button type="button" class="file_op" onclick="newFile();">new</button>
<button type="button" class="file_op" onclick="renameFile();">rename</button>
<button type="button" class="file_op" onclick="deleteFile();">delete</button>

<br/>
<br/>

<table>
  <tbody id="file-list">
  </tbody>
</table>

</div>

