
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#fork_button').click(function() {
    var title = $(this).val();
    var id = "<%= @kata.id %>";
    var avatarName = "<%= @avatar.name %>";
    var maxTag = parseInt($('.traffic_light_count').text());        
    var tag = maxTag;
    cd.dialog_fork(title, id, avatarName, tag, maxTag);  
  });
  
});

//--></script>

<button type="button"
        id="fork_button"
        class="tipped"
        value="<%= t('views.buttons.fork') %>">
  <%= t('views.buttons.fork') %>
  <div class="tooltip">
    forks a new dojo<br>from any traffic-light
  </div>
</button>

