
<div id="fork_diff_buttons">
  <table>
    <tr>
      <td>
        <%= render :partial => 'fork_button' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render :partial => 'diff_button' %>
      </td>
    </tr>
  </table>
</div>
