
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#fork_button').click(function() {
    var title = $(this).text();  
    var id = "<%= @kata.id %>";
    var avatarName = "<%= @avatar.name %>";
    var maxTag = parseInt($('#traffic_light_count').text());        
    var tag = maxTag;
    cd.dialog_fork(title, id, avatarName, tag, maxTag);  
  });
  
});

//--></script>

<div class="button"
     title="Fork a new dojo from the latest traffic-light"
     id="fork_button">
  <%= t("views.buttons.fork") %>
</div>

