
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
  
  function dialog_fork(html, title) {      
    return $('<div class="dialog">')
      .html(html)
      .dialog({
        autoOpen: false,
        width: 500,
        title: cd.dialogTitle(title),
        modal: true,
        buttons: {
          ok: function() {
            cd.postTo('/forker/fork', {
              id: "<%= @kata.id %>",
              avatar: "<%= @avatar.name %>"
            }, '_blank');
            $(this).dialog('close');
          },
          cancel: function() {
            $(this).dialog('close');
          }
        }
      });
  };
  
  $('#fork').click(function() {  
    $.get('/kata/fork_dialog', function(html) {
      dialog_fork(html, 'fork').dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Fork a new dojo from the latest traffic-light"
     id="fork">
  <%= t("views.buttons.fork") %>
</div>

