
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help_button').click(function() {
    var title = $(this).data('title');
    var close = $(this).data('close');
    $.get('/kata/help_dialog', { avatar_name: "<%= @avatar.name %>" }, function(html) {
      cd.dialog(html, title, close).dialog('open');
    });
  });

});

//--></script>

<button type="button"
        data-title="?"
        data-close="<%= t('views.buttons.close') %>"
        id="help_button"
        class="tipped">
  ?
  <div class="tooltip">
    shows help
  </div>
</button>

