
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help_button').click(function() {
    var title = $(this).data('title');
    var ok = $(this).data('ok');
    $.get('/kata/help_dialog', { avatar_name: "<%= @avatar.name %>" }, function(html) {
      cd.dialog(html, title, ok).dialog('open');
    });
  });

});

//--></script>

<button type="button"
        data-title="?"
        data-ok="<%= t('views.buttons.ok') %>"
        id="help_button"
        class="tipped">
  ?
  <div class="tooltip">
    shows help
  </div>
</button>

