
<script type="text/javascript"><!--

$(function() {

  $('#help-button').click(function() {
    var url =
      'http://blog.cyber-dojo.org/' +
        '2014/10/the-cyber-dojo-test-page.html';
    window.open(url);
  });

});

//--></script>

<div id="help-container">
  <button type="button"
          id="help-button"
          title="shows help">
    help
  </button>
</div>