
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help').click(function() {
    var name = $(this).attr('id');
    var title = $(this).text();        
    $.get('/kata/help_dialog', { avatar_name: "<%= @avatar.name %>" }, function(data) {
      cd.dialog(data, null, title).dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Show help"
     id="help">
  <%= t("views.buttons.help") %>
</div>

