
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help').click(function() {
    $.get('/kata/help_dialog', { avatar_name: "<%= @avatar.name %>" }, function(data) {
      cd.dialog(data, null, 'help').dialog('open');
    });
  });

});

//--></script>

<div class="button"
     title="Show help"
     id="help">
  <%= t("views.buttons.help") %>
</div>

