
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#help-button').click(function() {
    var title = $(this).data('title');
    var close = $(this).data('close');
    $.get('/kata/help_dialog', { avatar_name: "<%= @avatar.name %>" }, function(html) {
      cd.dialog(html, title, close).dialog('open');
    });
  });

});

//--></script>

<div id="help-button-container">
  <button type="button"
          data-title="?"
          data-close="<%= t('views.buttons.close') %>"
          id="help-button"
          title="shows help">
    ?
  </button>
</div>
