
<% # When run-tests is clicked the javascript preRunTests() function copies  -%>
<% # the contents of currently edited file to its input below -%>
<% # before submitting the form. On the server rails grabs the file contents -%>
<% # from these hidden inputs and not from the main textarea editor. -%>

<div id="xvisible_files_container">
  <% @manifest[:visible_files].each do |filename,file| -%>
  <input type="hidden"
         name="file_content['<%=filename-%>']"
         id="file_content_for_<%=filename-%>"
         value="<%=h file[:content]-%>"/>
  <% end -%>
</div>

