
<span id="increments">
  <table>
    <tr>
      <% max_displayed = 9 -%>
      <% recent(@increments, max_displayed).each do |increment| -%>
        <td>
          <%= traffic_light(@dojo.name, @avatar.name, increment) -%>
        </td>
      <% end -%>
      <td>
        <div id="increment_number">
         <%= @increments.length -%>
        </div>
      </td>      
    </tr>
  </table>
</span>
