
<div id="increments_panel"
     class="panel">

<table cellpadding="2px">
  <tr>
    <td>
      <input id="play"
             type="image" 
             width="22" 
             height="22"
             title="Run kata.sh on the CyberDojo server"
             src="/images/PlayButton.svg.thumb.png"
             style="visibility:visible"/>
    </td>

    <td id="run_tests_spinner" 
        style="display:none"> 
      <span>
        <%= image_tag "spinner.gif" -%>
      </span>
    </td> 

    <% @increments.each do |increment| -%>
    <td>
      <div class="<%= increment[:outcome] -%> increment">
         &thinsp;
      </div>
    </td>
    <% end -%>

  </tr>
</table>

</div>

