
<table cellpadding="2px">
  <tr>
    <td>
      <input type="image" width="40" height="40"
         src="/images/PlayButton.svg.thumb.png"/>
    </td>

    <% limited(@increments).each do |increment| -%>
    <td>
      <div class="<%= increment[:outcome] -%> rounded increment"  id="inc">
         &thinsp;
         <span><%= increment[:number] -%>:<%= increment[:info] -%></span>
      </div>
    </td>
    <% end -%>

    <td id="run_tests_spinner" 
        style="display:none;"> 
      <span>
        <%= image_tag "spinner.gif" -%>
      </span>
    </td> 

  </tr>
</table>

