
<div id="increments">
  <table cellpadding="2px">
    <tr>
      <% max_displayed = 7 -%>
      <% recent(@increments, max_displayed).each do |increment| -%>
        <%= traffic_light(@dojo.name, @avatar.name, increment) -%>
      <% end -%>
    </tr>
  </table>
</div>
