
<div id="info">
  <table>
    <tr>
      <td>
        <% size = 50 -%>
        <%= link_to image_tag("/images/avatars/cyber-dojo.png",
            :border => 0, :size => "#{size}x#{size}", :title => 'Home page'),
            {
              :controller => :dojo,
              :action => :index,
              :dojo_name => @dojo.name 
            },
              :target => '_blank'
        %>
      </td>
      <td>
         <%= elided_name(@dojo.name, 20) -%>
      </td>
    </tr>
  </table>
</div>

