
<table>
  <tr>
    <td>
      <%= avatar_image(@avatar.name, 50) -%>
    </td>
    <td>
      <span class="small_title"><%= @avatar.name.humanize -%></span>      
      <span class="small_title"><%= @kata.language -%></span>
      <span class="small_title"><%= @kata.name -%></span>
    </td>
  </tr>
</table>

