
<table>
  <tr>
    <td>
      <input type='image'
       class='avatar_image'
       src='/images/dojo-home.png'
       title='Dojo Home'
       width='40'
       height='40'/>
    </td>
    <td>
       <%= elided_name(@dojo.name, 20) -%>
    </td>
    
    <td>
      <%= avatar_image(@avatar.name, 40) -%>
    </td>
    
    <td>
      <%= @avatar.name.humanize -%>
    </td>

  </tr>
</table>
