
<div id="info">
  <table>
    <tr>
      <td>
        <% size = 63 -%>
        <%= link_to image_tag("/images/avatars/cyber-dojo.png",
            :border => 0,
            :size => "#{size}x#{size}",
            :title => 'Open home page',
            :class => 'cyber_dojo_image'),
            {
              :controller => :dojo,
              :action => :index,
              :dojo_name => @dojo.name 
            },
              :target => '_blank'
        %>
      </td>
      <td style="text-align: right;">
        <div>language =</div>
        <div>exercise =</div>
        <div>kata =</div>
      </td>
      <td style="text-align: left;">
        <div><%= @dojo.language -%></div>
        <div><%= @dojo.kata_name -%></div>
        <div><%= elided_name(@dojo.name, 15) -%></div>
      </td>      
    </tr>
  </table>
</div>

