
<div id="info">
  <table>
    <tr>
      <td>
      <%= render :partial => 'shared/yin_yang', 
                 :locals => { :target => '_blank' } -%>  
      </td>
      <td>
        &nbsp;&nbsp;
      </td>
      <%= render :partial => 'shared/names' -%>
    </tr>
  </table>
</div>

