
<script type="text/javascript"><!--

$(document).ready(function() {

  //TODO: this loses the focus on the currently opened file

  $('#line_numbers_checkbox').click(function() {
    var nodes = $('[id$=line_numbers]');
    if ($(this).is(':checked')) {
      nodes.show();      
    } else {
      nodes.hide();
    }
  });

});

//--></script>

<table>
  <tr>
    <td>
      <div class="tipped">
        line-numbers
        <div class="tooltip">
           toggles line-numbers<br>on/off
        </div>
      </div>
    </td>
    <td>
      <input type="checkbox"
             id="line_numbers_checkbox"/>
    </td>
  </tr>
</table>
