
<script type="text/javascript"><!--

$(function() {

  var lineNumbersCheckbox = $('#line-numbers-checkbox');
  lineNumbersCheckbox
    .attr('checked', true)
    .click(function() {
      var color = lineNumbersCheckbox.is(':checked') ? '#737373' : 'transparent';
      $('.line_numbers').css('color', color);
    });

});

//--></script>

<div id="line-numbers-checkbox-container">
  <input type="checkbox"
        class="regular-checkbox"
           id="line-numbers-checkbox"/>
    <label for="line-numbers-checkbox"></label>
</div>
