
<script type="text/javascript"><!--

$(document).ready(function() {

  var lineNumbersOn = true;
    
  var lineNumberButton = $('#line_numbers_button');
  lineNumberButton.click(function() {
    //TODO: this loses the focus on the currently opened file
    lineNumbersOn = !lineNumbersOn;
    var nodes = $('[id$=line_numbers]');
    if (lineNumbersOn) {
      nodes.show();
    } else {
      nodes.hide();
    }    
  });
  lineNumberButton.click();

});

//--></script>

<button type="button"
        id="line_numbers_button"
        class="tipped"
        value="line-numbers">
  line-numbers
  <div class="tooltip">
     Turn line numbers on/off
  </div>
</button>

