
<script type="text/javascript"><!--

$(function() {

  var checkbox = $('#line-numbers-checkbox');
  var opaque = $('.line_numbers').css('color');

  checkbox
    .attr('checked', true)
    .click(function() {
      var color = checkbox.is(':checked') ? opaque : 'transparent';
      $('.line_numbers').css('color', color);
    });

});

//--></script>

<div id="line-numbers-checkbox-container">
  <input type="checkbox"
        class="regular-checkbox"
           id="line-numbers-checkbox"/>
    <label for="line-numbers-checkbox"></label>
</div>
