
<script type="text/javascript"><!--

$(function() {

  var lineNumbersCheckbox = $('#line-numbers-checkbox');

  var lineNumbers = function() {
    return $('.line_numbers');
  };

  var showLineNumbersColor = lineNumbers().css('color');
  var hideLineNumbersColor = lineNumbers().css('background-color');

  cd.refreshLineNumbersColor = function() {
    // also called from cd.newFile()
    var color = lineNumbersCheckbox.is(':checked')
      ? showLineNumbersColor
      : hideLineNumbersColor;
    // Don't do .hide() as this causes
    // dom elements to shift positions.
    lineNumbers().css('color', color);
  };

  lineNumbersCheckbox.click(function() {
    cd.refreshLineNumbersColor();
  });

});

//--></script>

<table id="line-numbers-container">
  <tr>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             checked="true"
             id="line-numbers-checkbox"/>
        <label for="line-numbers-checkbox"></label>
    </td>
    <td>&nbsp;</td>
    <td>
      <div id="label"
           title="toggles line-numbers on/off">
           line numbers
      </div>
    </td>
  </tr>
</table>
