
<script type="text/javascript"><!--

$(document).ready(function() {

  //TODO: this loses the focus on the currently opened file

  $('#line-numbers-checkbox').click(function() {
    var nodes = $('[id$=line_numbers]');
    if ($(this).is(':checked')) {
      nodes.show();
    } else {
      nodes.hide();
    }
  });

});

//--></script>

<table id="line-numbers-container">
  <tr>
    <td>
      <div title="toggles line-numbers on/off">
        line-numbers
      </div>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             checked="true"
             id="line-numbers-checkbox"/>
        <label for="line-numbers-checkbox"></label>
    </td>
  </tr>
</table>
