
<script type="text/javascript"><!--

$(document).ready(function() {

  var lineNumbersOn = true;
  
  cd.allLineNumbersRefresh = function() {
    var nodes = $('[id$=line_numbers]');
    if (lineNumbersOn) {
      nodes.show();
    } else {
      nodes.hide();
    }    
  };
  
  $('#line_numbers_on').click(function() {
    lineNumbersOn = true;
    cd.allLineNumbersRefresh();
    // TO DO: this loses the cursor on the currently open file
    $(this).hide();
    $('#line_numbers_off').show();
  });

  $('#line_numbers_off').click(function() {
    lineNumbersOn = false;
    cd.allLineNumbersRefresh();
    $(this).hide();
    $('#line_numbers_on').show();
  });

});

//--></script>

<div class="button"
     title="Turn line numbers off"
     id="line_numbers_off">
  &mdash;
</div>

<div class="button"
     style="display:none;"
     title="Turn line numbers on"
     id="line_numbers_on">
  +
</div>
