
<div id="info">
  <table>
    <tr>
      <td align="center">
        <%= render :partial => 'shared/yin_yang', 
                   :locals => { :target => '_blank' } -%>
        <br/>
        <%= render :partial => 'shared/id' -%>
      </td>
      <td align="center">
        <%= render :partial => 'shared/avatar_image',
                   :locals => { :target => '_blank' } -%>
        <br/>
        <%= @avatar.name -%>
      </td>
    </tr>
  </table>
</div>

