
<table class="align-center">
  <tr>
    <td>
      <%= render :partial => 'shared/logo' %>        
    </td>
    <td>
      <%= render :partial => 'shared/avatar_image', :locals => { :target => '_blank' } %>
    </td>
    <td>
      <%= render :partial => 'help_button' %>
    </td>
  </tr>
</table>
