         
<table>
  <tr>  
    <td>
      <%= render :partial => 'messages/post_button',
                 :locals => { :poster => @avatar.name, :action => 'post_some' } -%>
    </td>
    <td>
      <%= render :partial => 'messages/input_area' -%>
    </td>  
  </tr>
  
  <tr>
    <td colspan="2">
      <%= render :partial => 'messages/some_messages', 
                 :locals => { :target => '_blank' } -%>  
    </td>
  </tr>
</table>


