
<div>
  <div class="table-row">
    <%= render :partial => 'line_numbers_checkbox' %>    
  </div>
  <div class="table-row">
    <%= render :partial => 'revert_button' %>    
  </div>
  <div class="table-row">
    <%= render :partial => 'fork_button' %>    
  </div>
  <div class="table-row">
    <%= render :partial => 'help_button' %>    
  </div>
<div>
