
<script type="text/javascript"><!--

$(function() {

  var lights = $('.diff-traffic-light');

  $('#pie-chart-canvas').attr({
    'class': 'pie',
    'data-red-count': cd.ragCount(lights, 'red'),
    'data-amber-count': cd.ragCount(lights, 'amber'),
    'data-green-count': cd.ragCount(lights, 'green'),
    'data-timed-out-count': cd.ragCount(lights, 'timed_out'),
    'data-key': "<%= @avatar.name %>",
    'width': 34,
    'height': 34
  });

  cd.pieChart($('.pie'));

});

//--></script>

<div id="pie-chart">
  <canvas id="pie-chart-canvas"></canvas>
</div>

