
<table style="float:right;">
  <tr>
    <td id="play_button" 
        style="visibility:visible"
        onclick="runTests();">
      <input id="play_button_inner"
             type="image" 
             width="30" 
             height="30" 
             title="Run cyberdojo.sh on the server"
             src="/images/triangle.gif"/>
    </td>

    <td id="run_tests_spinner" 
        style="display:none"> 
      <span>
        <img src="/images/spinner.gif"
             width="47" 
             height="47" 
             alt="Spinny Thing"/>
      </span>
    </td> 
  </tr>
</table>



