
<div id="play">
<table style="float:right;">
  <tr>
    <td style="visibility:visible">
      <button
      
        <% if @dojo.readonly -%>
        type="button"
        id="play_button_disabled">
        <% else -%>
        type="submit"
        id="play_button">
        <% end -%>
        
        <img src="/images/triangle.gif"
             width="30" 
             height="30" 
             title="Run cyberdojo.sh on the server"/>
      </button>
    </td>

    <td id="run_tests_spinner" 
        style="display:none"> 
      <span>
        <img src="/images/spinner.gif"
             width="47" 
             height="47" 
             alt="Spinny Thing"/>
      </span>
    </td> 
  </tr>
</table>
</div>



