
<table style="float:right;">
  <tr>
    <td>
      <form action='/kata/view'>
        <input type='hidden' name='dojo_name' id='dojo_name' value='<%= @dojo.name-%>'/> 
        <input type='hidden' name='avatar' id='avatar' value='<%=@avatar.name-%>' />
        <input type='hidden' name='tag' id='tag' value='<%= @increments.length - 1-%>' />
        <button 
                class="button"
                <% if @increments.length != 0 -%>
                type="submit"
                id="play_button">
                <% else -%>
                type="button"
                id="play_button_disabled">
                <% end -%>
          <img src="/images/left-triangle.gif"
               width="30" 
               height="30"
               title="View previous increment" />
        </button>
      </form>
   </td>
  </tr>
 </table>

