
<script type="text/javascript"><!--

$(document).ready(function() {
    
  $('#revert_button').click(function() {
    var title = $(this).val();
    var maxTag = parseInt($('.traffic_light_count').text());    
    cd.dialog_revert(title, "<%= @kata.id %>", "<%= @avatar.name %>", maxTag, maxTag);
  });    

});

//--></script>

<button type="button"
        id="revert_button"
		class="tipped"
        value="<%= t('views.buttons.revert') %>">
  <%= t('views.buttons.revert') %>	   
  <div class="tooltip">
    reverts to any<br>previous<br>traffic-light
  </div>
</button>

