
<script type="text/javascript"><!--

$(document).ready(function() {
    
  var revertButton = $('#revert_button');
  revertButton.click(function() {
    var title = $(this).val();
    var maxTag = parseInt($('#traffic_light_count').text());    
    cd.dialog_revert(title, "<%= @kata.id %>", "<%= @avatar.name %>", maxTag, maxTag);
  });
  revertButton.tooltip(cd.tipSettings());

});

//--></script>

<input type="button"
       id="revert_button"
       class="button"
       value="<%= t("views.buttons.revert") %>">
  <div class="tooltip">
    Revert to any previous traffic-light
  </div>
</input>
