
<div id="rotation">
  <% if @rotation[:ding_now] -%>  
    <embed src="/sounds/Ding.wav" hidden="true" autostart="true" loop="true">
      ...KEYBOARD-DRIVERS MOVE NOW PLEASE...
    </embed>
  <% end -%>
</div>

