
<div id="run_tests">
  <input type="submit"
         class="button"
         value="Run Tests"
         name="run_tests_button"
         id="run_tests_button"/>
</div>              

<div id="spinner" 
     style='display:none'>
  <img src="/images/spinner.gif"          
       width="30" 
       height="30"/>
</div>

