
<table>
  <tr>
    <td>
      <div id="run_tests">
        <input type="submit"
               class="button"
               value="run tests"
               title="And generate a new traffic-light"
               name="run_tests_button"
               id="run_tests_button"/>
      </div>              
    </td>
    <td>
      <div id="spinner" 
           style='display:none'>
        <img src="/images/spinner.gif"          
             width="31" 
             height="31"/>
      </div>
    </td>
  </tr>
</table>

