
<table>
  <tr>
    <td>
      <div id="run_tests">
        <input type="submit" 
               class="larger button"
               id="run_tests_button"
               value="run-the-tests"
               title="Run the tests and generate a new traffic-light" />
      </div>              
    </td>
  </tr>
</table>

