
<table>
  <tr>
    <td>
      <%= render :partial => 'current_increment_number' -%>            
    </td>
    
    <td>
      <div id="run_tests">
        <input type="submit"
               class="button"
               value="Run-Tests"
               title="Run the tests and generate a new traffic-light"
               name="run_tests_button"
               id="run_tests_button"/>
      </div>              
    </td>
    <td>
      <div id="spinner" 
           style='display:none'>
        <img src="/images/spinner.gif"          
             width="46" 
             height="46"/>
      </div>
    </td>
  </tr>
</table>

