
<table>
  <tr>
    <td>
      <div id="run_tests">
        <input type="submit" 
               class="large button"
               id="run_tests_button"
               value="Run-Tests"
               title="Run the tests and generate a new traffic-light" />
      </div>              
    </td>
    <td>
      <div id="spinner" 
           style='display:none'>
        <img src="/images/spinner.gif"          
             width="34" 
             height="34"/>
      </div>
    </td>
  </tr>
</table>

