
<script language="javascript" type="text/javascript"><!--

$j(document).ready(function() {
    
  $j('form').bind('ajax:before', function(evt, data, status, xhr){
    $cd.preRunTests();
  });
  
  $j('form').bind('ajax:complete', function(evt, data, status, xhr){
    $cd.postRunTests();
  });
  
  $j('.spinner').hide();
});

//--></script>

<table align="center">
  <tr>
    <td>
      <%= render :partial => 'spinner' -%>
    </td>
    <td>
      <div id="run_tests">
        <input type="submit" 
               class="large button"
               id="test"
               value="test"
               title="Run the tests and generate a new traffic-light" />
      </div>              
    </td>
    <td>
      <%= render :partial => 'spinner' -%>
    </td>
  </tr>
</table>



