
<script type="text/javascript"><!--

$(document).ready(function() {

  var spinners = $('#spinner');
  var testButton = $('#test-button');

  var ajaxAfter = function() {
    var allTheWay = 100000;
    $('#traffic-lights').scrollLeft(allTheWay);
    spinners.hide();
    cd.loadFile('output');
    testButton.attr('disabled', false);
  };

  $('form').bind('ajax:before', function(evt, data, status, xhr) {
    testButton.attr('disabled', true);
    spinners.show();
    cd.storeOutgoingFileHashes();
  });

  $('form').bind('ajax:error', function(evt, data, status, xhr) {
    var errorMessage = "" +
      "Files not sent files to the cyber-dojo server." + "\n" +
      "Have you lost your network connection?";
    cd.fileContentFor('output').val(errorMessage);
    ajaxAfter();
  });

  $('form').bind('ajax:success', function(evt, data, status, xhr) {
    cd.rebuildFilenameList();
    // when the ajax replaces output the shortcuts
    // are lost so need rebinding
    var output = cd.fileContentFor('output');
    cd.bindHotKeys(output);
    cd.bindAllLineNumbers();
    cd.storeIncomingFileHashes();
    ajaxAfter();
  });

});

//--></script>

<table id="test-button-container">
  <tr>
    <td>
      <%= render :partial => 'spinner' %>
    </td>
    <td>
      <button type="submit"
              id="test-button"
              title="runs the tests and generates a new traffic-light"
              value="<%= t('views.buttons.test') %>">
        <%= t('views.buttons.test') %>
      </button>
    </td>
  </tr>
</table>
