
<script type="text/javascript"><!--

$(function() {

  var testButton  = $('#test-button');
  var testSpinner = $('#test-spinner');
  var testOverlay = $('<div id="test-overlay"></div>');

  testButton.enable = function() {
    $(this).attr('disabled', false);
  };

  testButton.disable = function() {
    $(this).attr('disabled', true);
  };

  testButton.click(function() {
    // Called from 3 places
    // 1. when you click [test]
    // 2. when you hot-key Alt-T
    // 3. when you revert
    var form = testButton.closest('form');
    cd.storeOutgoingFileHashes();
    $.ajax({
      timeout: 30000, // 30 seconds (twice server timeout)
      type: 'POST',
      url: form.attr('action'),
      data: form.serialize(),
      beforeSend: function(xhr,settings) {
        testButton.disable();
        testOverlay.insertAfter($('body'));
        testSpinner.show();
      },
      success: function(data,status,xhr) {
        cd.rebuildFilenameList();
        cd.bindHotKeys(cd.fileContentFor('output'));
        cd.bindAllLineNumbers();
        cd.storeIncomingFileHashes();
      },
      error: function(xhr,status,thrown) {
        var errorMessage = '';
        if (status === 'timeout') {
          errorMessage = 'timeout: have you lost your network connection?';
        }
        if (status === 'error') {
          errorMessage = 'error: is the cyber-dojo server down?';
        }
        cd.fileContentFor('output').val(errorMessage);
      },
      complete: function(xhr,status) {
        var allTheWay = 100000;
        testSpinner.hide();
        testOverlay.remove();
        testButton.enable();
        cd.loadFile('output');
        $('#traffic-lights').scrollLeft(allTheWay);
      }
    });

  });

});

//--></script>
