<script type="text/javascript"><!--

$(function() {

  $('#test-button').prop('disabled', <%= @kata.expired? %>);
  
});

//--></script>

<button type="submit"
        id="test-button"
        title="runs the tests and generates a new traffic-light"
        value="<%= t('views.buttons.test') %>">
  <%= t('views.buttons.test') %>
</button>
