
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
    
  var spinners = $('.spinner');
  var test = $('#test');
  var trafficLightCount = function() {
    // cannot be cached as it is replaced by run_tests.js.erb
    return $('#current_traffic_light_count');
  };
  
  spinners.hide();

  $('form').bind('ajax:before', function(evt, data, status, xhr) {
    test.attr('disabled', true);
    spinners.show();
    trafficLightCount().hide();
  });
  
  var ajaxAfter = function() {
    trafficLightCount().show();
    spinners.hide();    
    test.attr('disabled', false);    
    cd.loadFile('output');        
  };
  
  $('form').bind('ajax:error', function(evt, data, status, xhr) {
    var errorMessage = "" +
      "Files not sent files to the cyber-dojo server." + "\n" +
      "Have you lost your network connection?";
    cd.fileContentFor('output').val(errorMessage);
    ajaxAfter();
  });
  
  $('form').bind('ajax:success', function(evt, data, status, xhr) {
    test.attr('disabled', false);
    $('#tip').hide();
    cd.rebuildFilenameList();
    // when the ajax replaces output the shortcuts
    // are lost so need rebinding
    var output = cd.fileContentFor('output');
    cd.bindHotKeys(output);
    cd.bindAllLineNumbers();
    cd.rebuildFilenameList();
    ajaxAfter();
  });  
  
});

//--></script>

<table align="center">
  <tr>
    <td>
      <%= render :partial => 'spinner' %>
    </td>
    <td>
      <input type="submit"
             class="button"
             id="test"
             value="test"
             title="Run the tests and generate a new traffic-light" />
    </td>
    <td>
      <%= render :partial => 'spinner' %>
    </td>
  </tr>
</table>
