
<div id="run_tests">
  <input type="submit" 
         class="large button"
         id="test"
         value="test"
         title="Run the tests and generate a new traffic-light" />
</div>              

