
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {
    
  $('.spinner').hide();

  $('form').bind('ajax:before', function(evt, data, status, xhr) {
    $('#test').attr('disabled', true);
    $('.spinner').show();    
  });
  
  $('form').bind('ajax:complete', function(evt, data, status, xhr) {
    $('.spinner').hide();    
    $('#tip').hide();
    $('#test').attr('disabled', false);
    // when the ajax replaces output the shortcuts
    // are lost so need rebinding
    var output = cd.fileContentFor('output');
    cd.bindHotKeys(output);        
    cd.loadFile('output');    
  });
  
});

//--></script>

<table align="center">
  <tr>
    <td>
      <%= render :partial => 'spinner' %>
    </td>
    <td>
      <input type="submit" 
             class="large button"
             id="test"
             value="test"
             title="Run the tests and generate a new traffic-light" />
    </td>
    <td>
      <%= render :partial => 'spinner' %>
    </td>
  </tr>
</table>
