
<table>
  <tr>

    <td>
      <h1 class="title">
        <a href="/dojo/index/<%= @kata_id -%>">Cyber Dojo</a> :
        <a href="/kata/see_all_increments/<%= @kata_id -%>" target="_blank">Kata <%=@kata_id-%></a>
      </h1>
    </td>

    <td>
      <a href="/kata/help" target="_blank">Help</a>
    </td>

  </tr>
</table>


