
<table>
  <tr class="panel" valign="top">
    <td>   
      <%= render :partial => 'traffic_lights' -%>
    </td>
    <td>
      <%= render :partial => 'info' -%>
    </td>
    <td>
      <%= render :partial => 'run_tests' -%>
    </td>    
  </tr>
</table>


