
<script type="text/javascript"><!--

$(function() {

  var updatePieChart = function() {
    var totalRagCount = 0;
    var rags = $('.diff-traffic-light');
    var count = function(colour) {
      var n = cd.ragCount(rags, colour);
      totalRagCount += n;
      return n;
    };
    var canvas = $('<canvas>', {
        'class': 'pie',
        'data-red-count': count('red'),
        'data-amber-count': count('amber'),
        'data-green-count': count('green'),
        'data-timed-out-count': count('timed_out'),
        'data-key': "<%= @avatar.name %>",
      });
    // Canvas width/height have to be set as follows.
    // Setting them via attr({..}) above doesn't work.
    // Setting them via canvas.width(34) doesn't work.
    canvas.attr('width', '34');
    canvas.attr('height', '34');

    if (totalRagCount > 0) {
      $('#traffic-lights-pie-chart').empty().append(canvas);
      cd.pieChart($('.pie'));
    }
  };

  updatePieChart();

});

//--></script>

<div id="traffic-lights-pie-chart"></div>
