
<script type="text/javascript"><!--

$(document).ready(function() {

  cd.pieChart($('.pie'));
  cd.setupTrafficLightOpensDiffDialogHandlers($('.diff-traffic-light'));
  var allTheWay = 100000;
  $('#traffic-lights').scrollLeft(allTheWay);

});

//--></script>

<table>
  <tr class="row">

	<% @traffic_lights.each do |light| %>
	  <td>
		<%= diff_traffic_light(@kata, @avatar.name, light, @traffic_lights.length) %>
	  </td>
	<% end %>

	<td>
	  <%= render :partial => 'shared/traffic_light_count',
				 :locals  => { :traffic_lights => @traffic_lights,
							   :avatar_name    => translate_avatar(@avatar.name)
							 } %>
	</td>

    <% if @traffic_lights.length > 1 %>
	  <td>
        <%= pie_chart(@traffic_lights,35) %>
	  </td>
    <% end %>

	<td>
	  <%= render :partial => 'avatar_image' %>
	</td>

  </tr>
</table>
