
<div id="traffic_lights">
  <table>
    
    <% seconds_per_td = 20 -%>
    <% max_cols = 30 -%>
    <% max_seconds_uncollapsed = 5*60 -%>
    <% gapper = TdGapper.new(@dojo.created, seconds_per_td, max_seconds_uncollapsed) -%>
    
    <% lights = @avatar.increments -%> 
    <% all_lights = { @avatar.name =>  lights } -%>    
    <% gapped = gapper.fully_gapped(all_lights, make_time(Time.now)) -%>     
    <% td_map = gapped[@avatar.name] -%>    
    
    <tr class="even traffic_light_row">
      
      <% all_td_nos = td_map.keys.sort -%>
      <% recent_td_nos = recent(all_td_nos, max_cols) -%>
      
      <% if recent_td_nos.length < all_td_nos.length -%>
        <td>
          <span class="traffic_light_elision">...</span>
        </td>
      <% end -%>
      
      <% recent_td_nos.each do |td_no| -%>
        <% td = td_map[td_no] -%>            
        <td>
        <% if td.class == Array -%>
          <% if td.length == 0 -%>
            &nbsp;
          <% else -%>
            <table>
              <tr>
                <% td.each do |light| -%>
                  <td>
                    <%  in_new_page = true -%>
                    <%= traffic_light(@dojo, @avatar.name, light, in_new_page) -%>
                  </td>
                <% end -%>
              </tr>
            </table>
          <% end -%>
        <% end -%>
        
        <% if td.class == Hash -%>
          <span class="traffic_light_elision">...</span>         
        <% end -%>          
        </td>          
      <% end -%>
      
      <td>
        <%= render :partial => 'tag_number' -%>
      </td>   
      
    </tr>      
  </table>
</div>

