
<div id="traffic_lights">
  <table>
    <% max_cols = 30 -%>    
    <tr class="row">
      <td>
        <img src="/images/traffic-light-transparent.png" width="26" height="78" />
      </td>
      <% recent(@avatar.increments, max_cols).each do |light| -%>
        <td>
          <%  in_new_page = true -%>
          <%= linked_traffic_light(@kata, @avatar.name, light, in_new_page) -%>
        </td>
      <% end -%>
      <td>
        <% if @avatar.increments.length != 0 -%>
          <div class="number" id="tags_so_far">
            &nbsp;<%= @avatar.increments.length -%>
          </div>
        <% end -%>
      </td>
      <td>      
        <div id="spinner" 
             style='display:none'>
          <img src="/images/spinner.gif"          
               width="39" 
               height="39"/>
      </td>      
    </tr>      
  </table>
</div>

