
<script type="text/javascript"><!--

$(function() {

  cd.pieChart($('#traffic-lights .pie'));
  var showRevert = true;
  var lights = $('.diff-traffic-light');
  cd.setupTrafficLightOpensHistoryDialogHandlers(lights,showRevert);
  cd.setupHoverTips();

  var allTheWay = 100000;
  $('#traffic-lights').scrollLeft(allTheWay);

  var lineNumbersCheckbox = $('#line-numbers-checkbox');
  lineNumbersCheckbox
    .attr('checked', true)
    .click(function() {
      var color = lineNumbersCheckbox.is(':checked') ? '#737373' : 'transparent';
      $('.line_numbers').css('color', color);
    });

});

//--></script>

<table>
  <tr class="row">

    <td>
      <div id="line-numbers-checkbox-container">
       <input type="checkbox"
             class="regular-checkbox"
             id="line-numbers-checkbox"/>
        <label for="line-numbers-checkbox"></label>
      </div>
    </td>

    <% if @avatar.active? %>
	    <% @avatar.lights.each do |light| %>
		    <td>
		      <%= raw diff_traffic_light(light) %>
		    </td>
	    <% end %>
	    <td>
		    <%= raw traffic_light_count(@avatar) %>
	    </td>
	    <td>
		    <%= raw pie_chart(@avatar.lights, @avatar.name) %>
	    </td>
    <% end %>

    <td>
      <%= render partial: 'avatar_image' %>
    </td>

  </tr>
</table>
