
<script type="text/javascript"><!--

$(function() {

  var countHoverTipHtml = function(reds, ambers, greens, timeOuts) {
    var colourWord = function(colour, word) {
      return "<span class='" + colour + "'>" + word + '</span>';
    };
    var plural = function(count, colour) {
      var word = colour + (count == 1 ? '' : 's');
      return '<div>' + count + ' ' + colourWord(colour, word) + '</div>';
    };
    var html = '';
    if (reds     > 0) { html += plural(reds    , 'red'    ); }
    if (ambers   > 0) { html += plural(ambers  , 'amber'  ); }
    if (greens   > 0) { html += plural(greens  , 'green'  ); }
    if (timeOuts > 0) { html += plural(timeOuts, 'timeout'); }
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - -

  var updateTrafficLightsCount = function() {
    var rags = $('.diff-traffic-light');
    var redCount     = cd.ragCount(rags, 'red');
    var amberCount   = cd.ragCount(rags, 'amber');
    var greenCount   = cd.ragCount(rags, 'green');
    var timeOutCount = cd.ragCount(rags, 'timed_out');
    var count = redCount + amberCount + greenCount + timeOutCount;
    var colour = rags.last().data('colour');
    var newCount = $('<div>', { 'class': 'traffic-light-count ' + colour, }).text(count);

    if (count > 0) {
      var tip = countHoverTipHtml(redCount, amberCount, greenCount, timeOutCount);
      $('.traffic-lights-count').html(newCount);
      // cant reuse newCount, have to refind it
      cd.setTip($('.traffic-light-count'), tip);
    }
  };

  updateTrafficLightsCount();

});

//--></script>

<div class="traffic-lights-count"></div>
