
<script type="text/javascript"><!--

$(document).ready(function() {
  
});

//--></script>

<div id="traffic_lights">
  <table>
    <tr class="row">
      
      <% max_lights = 36 %>                
      <% recent(@traffic_lights, max_lights).each do |light| %>
        <td>
		  <span>
            <%= untitled_unlinked_traffic_light(light,20,62) %>
		  </span>
        </td>
      <% end %>
      
      <td>
		<%= render :partial => 'shared/traffic_light_bulb_counts',
				   :locals  => { :traffic_lights => @traffic_lights,
							 	 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>
	  
      <td>
		<%= render :partial => 'shared/traffic_light_count',
				   :locals  => { :traffic_lights => @traffic_lights,
								 :avatar_name    => translate_avatar(@avatar.name)
							   } %>
      </td>

	  <td>
        <%= render :partial => 'test_button' %>		
	  </td>
    </tr>      
  </table>
</div>

