
<script type="text/javascript"><!--

$(function() {

  var updateTrafficLightsCount = function() {
    var rags = $('.diff-traffic-light');
    var redCount     = cd.ragCount(rags, 'red');
    var amberCount   = cd.ragCount(rags, 'amber');
    var greenCount   = cd.ragCount(rags, 'green');
    var timeOutCount = cd.ragCount(rags, 'timed_out');
    var count = redCount + amberCount + greenCount + timeOutCount;
    var colour = rags.last().data('colour');
    var newCount = $('<div>', {
      'class': 'traffic-light-count ' + colour,
      'data-avatar-name': "<%= @avatar.name %>",
      'data-tip': 'traffic_light_count',
      'data-red-count': redCount,
      'data-amber-count': amberCount,
      'data-green-count': greenCount,
      'data-timed-out-count': timeOutCount
    }).text(count);

    if (count > 0) {
      $('.traffic-lights-count').html(newCount);
      // cant reuse newCount, have to refind it
      cd.setupHoverTip($('.traffic-light-count'));
    }
  };

  updateTrafficLightsCount();

});

//--></script>

<div class="traffic-lights-count"></div>
