
<div id="traffic_lights">
  <table>
    <% max_cols = 35 -%>    
    <tr class="row">
            
      <% recent(@avatar.increments, max_cols).each do |light| -%>
        <td valign="top">
          <%  in_new_page = true -%>
          <%= linked_traffic_light(@kata, @avatar.name, light, in_new_page) -%>
        </td>
      <% end -%>
            
      <td>
        <div id="tip"
             style="font-size:0.8em;">
                Clicking a<br/>
                traffic-light<br/>
                opens a<br/>
                diff-view
        </div>
      </td>      
            
    </tr>      
  </table>
</div>

