
<script language="javascript" type="text/javascript"><!--

$(document).ready(function() {

  var info = function(avatarName,data) {
	var color = data.inc.colour;
	var avatarImage =
	  '<img ' +
	    'class="avatar_image"' +
	    'height="47"' +
	    'width="47"' +
	    'src="/images/avatars/' + avatarName + '.jpg">';
	var trafficLight = 
	  "<img src='/images/traffic_light_" + color + ".png'" +
	  " border='0'" +
	  " width='20'" +
	  " height='65'/>";
	var trafficLightNumber =     
	  '<span class="tag_count">' +
	    data.inc.number +
	  '</span>';
	return cd.makeTable(avatarImage,trafficLight,trafficLightNumber);
  };
  
  var reverterDiv = function(avatarName, data)  {
	var visibleFiles = data.visibleFiles;
	var color = data.inc.colour;
	var number = data.inc.number;
	var div = $('<div>', {    
	  'id': 'revert_dialog'
	});    
	var table = $('<table>');
	table.append(
	 "<tr valign='top'>" +
	   "<td>" +
	     info(avatarName,data) +
	     reverterFilenames(visibleFiles).html() +
	   "</td>" +
	   "<td>" +
	     "<textarea id='revert_content'></textarea>" +
	   "</td>" +
	 "</tr>");
	 div.append(table);
	 return div;
  };
  
  var reverterFilenames = function(visibleFiles) {
	var div = $('<div>', {
	  'class': 'panel'
	});
	var filenames = [ ];
	for (filename in visibleFiles) {
	  filenames.push(filename);
	}
	filenames.sort();
	$.each(filenames, function(n, filename) {
	  var f = $('<div>', {
	    'class': 'filename'
	  });
	  f.append($('<input>', {
	    id: 'radio_' + filename,
	    name: 'filename',
	    type: 'radio',
	    value: filename   
	  }));
	  f.append($('<label>', {
	    text: filename
	  }));
	  div.append(f);
	});
	return div;
  };

  cd.revert = function(id, avatarName, tag) {    
	$.getJSON('/reverter/revert', {
	      id: id,
	      avatar: avatarName,
	      tag: tag
	    },
	    function(data) {        
	      var preview = reverterDiv(avatarName,data);
	      var textArea = $('#revert_content', preview);
	      var previous = undefined;
	      textArea.attr('readonly', 'readonly');
	      textArea.addClass('file_content');
	      $('.filename', preview).each(function() {
	        $(this).click(function() {
	          var filename = $('input', $(this)).attr('value');
	          var content = data.visibleFiles[filename];
	          textArea.val(content);
	          if (previous !== undefined) {
	            previous.removeClass('selected');
	          }
	          $(this).addClass('selected');
	          previous = $(this);                            
	        });
	      });
	      $('input[type=radio]', preview).hide();
	      $('.filename', preview)[0].click();
	      
	      var reverter = 
	        preview.dialog({
	  	      title: cd.dialogTitle('revert?'),
	          autoOpen: false,
	          width: 950,
	          modal: true,
	          buttons: {
	            revert: function() {
                  $.each(cd.filenames(), function(n, filename) {
                    cd.doDelete(filename);
                  });                  
                  for (filename in data.visibleFiles) {
                    cd.newFileContent(filename, data.visibleFiles[filename]);
                  }                  
	              $(this).dialog('close');
	            },
	            cancel: function() {
	              $(this).dialog('close');
	            }
	          }
	        });
	      reverter.dialog('open');
	    });    
  };

});

//--></script>

<div id="traffic_lights">
  <table>
    <tr class="row">
      <% max_lights = 36 %>                
      <% recent(@avatar.increments, max_lights).each do |light| %>
        <td valign="top">
          <span onclick="cd.revert('<%=@kata.id%>', '<%=@avatar.name%>', <%=light[:number]%>);">
            <%= revert_traffic_light(light) %>
	      </span>          
        </td>
      <% end %>
      
      <td>
        <div id="revert_tip">
                Click any<br/>
                traffic-light<br/>
                to revert<br/>
        </div>
      </td>                  
    </tr>      
  </table>
</div>

