
<script language="javascript" type="text/javascript"><!--
document.observe('dom:loaded', function() 
{
  rebuildFilenameList();
  createTextAreaWithLineNumbers('editor');
  TabEntry.enable('editor');
  loadFile("<%=@current_file-%>");
});
//--></script>

<div id="play_panel"
     style="visibility:visible">
<% form_remote_tag :url  => { :action => 'run_tests',
                              :dojo_name => @dojo.name,
                              :avatar => @avatar.name
                            }, 
                   
                   :before   => 'preRunTests();',
                   :complete => 'postRunTests();' do -%> 
                   <!-- NB: not :loading and not :after -->

  <%= render :partial => 'edit_panel' -%>
  <%= render :partial => 'hidden_file_contents' -%>
<% end -%>
</div>

<div class="panel" 
     id="server_message_panel"
     style="display:none">     
  <div id="server_message_content"></div>
</div>


