
<script language="javascript" type="text/javascript"><!--
document.observe('dom:loaded', function() 
{
  rebuildFilenameList();
  createTextAreaWithLineNumbers('editor');
  TabEntry.enable('editor');
  loadFile("<%=@current_file-%>");
});
//--></script>

<div id="play_panel"
     style="visibility:visible">
<% form_remote_tag :url  => { :action => 'run_tests',
                              :dojo_name => @dojo.name,
                              :avatar => @avatar.name
                            }, 
                   :before   => 'preRunTests();',
                   :complete => 'postRunTests();' do -%> 

  <%= render :partial => 'edit_panel' -%>
  <%= render :partial => 'hidden_file_contents' -%>
<% end -%>
</div>

<div id="rotate_panel"
     style="display:none">
  <h1>CyberDojo: <%=@dojo.name-%></h1>
  <h2>...ROTATE NOW...</h2>
  <h2>Keyboard drivers please take a non-driver role,</h2>
  <h2>either at the same computer or at a new computer.</h2>
  <h2>
</div>




