
<div class="panel">
  Click ok to create a new cyber-dojo, with a new id
  whose starting files are identical to the files from the
  most recent traffic-light. 
</div>
<div class="panel">
  Note: the fork is not from the current files, it is
  from the most recent traffic-light.
</div>
