
<table data-width="550">
  
  <tr>
    <td>
      <table>
        <tr>
          <td class="panel">
            <table>
              <tr>
                <td>
                  <%= logo_image(57,'') %>
                </td>
                <td>
                  opens a home page
                </td>
              </tr>
            </table>
          </td>
          <td class="panel">
            <table>
              <tr>
                <td>
                  <%= avatar_image(@avatar_name, 57, translate_avatar(@avatar_name)) %>
                </td>
                <td>
                  opens a dashboard page
                </td>
              </tr>
            </table>
          </td>
          <td class="panel">
            <table>
              <tr>
                <td>
                  <img src="/images/traffic_light_red.png" width="22" height="65"/>
                </td>
                <td>
                  <img src="/images/traffic_light_amber.png" width="22" height="65"/>
                </td>
                <td>
                  <img src="/images/traffic_light_green.png" width="22" height="65"/>
                </td>
                <td>
                  &nbsp;
                </td>
                <td>
                  opens a revert dialog
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>      
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        <table>
          <tr>
            <td>
              <input type="submit" class="button" id="test" value="test"/>
            </td>
            <td>
              &nbsp;results go to the
            </td>
            <td>
              <div class="filename selected">
                <input style="display:none;"
                       type="radio"
                       checked="checked"
                       value="filename"/>
                <label><i>output</i></label>
              </div>
            </td>
            <td>
              &nbsp;file
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td>      
      <div class="panel">
        <table>
          <tr>
            <td>
              <img src="/images/traffic_light_red.png" width="22" height="65"/>
            </td>
            <td>
              <img src="/images/traffic_light_amber.png" width="22" height="65"/>
            </td>
            <td>
              <img src="/images/traffic_light_green.png" width="22" height="65"/>
            </td>
            <td>
              &nbsp;<span style="color:red;">red</span> means the tests ran but one or more failed<br/> 
              &nbsp;<span style="color:#FC3;">amber</span> means the tests could not be run<br/>
              &nbsp;<span style="color:#0F0;">green</span> means the tests ran and all passed
            </td>
          </tr>
        </table>
       </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        <table>
          <tr>
            <td>
              <div class="filename selected">
                <input style="display:none;"'
                       type="radio"'
                       checked="checked"
                       value="filename"/>
                  <label>filename</label>
              </div>
            </td>
            <td>
              <div>
                &nbsp;opens a file
              </div>
              </td>
          </tr>
          </table>
      </div>      
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        <b>alt-t</b> runs the <b><u>t</u></b>ests <br/> 
        <b>alt-f</b> cycles <b><u>f</u></b>orwards to the next file<br/>
        <b>alt-b</b> cycles <b><u>b</u></b>ackwards to the previous file
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel">
        think about improving, not finishing
      </div>
    </td>
  </tr>

</table>

  
