

<h1> Select Kata and Language </h1>

<div class="panel">
      
  <form action="/dojo/enter" target="_blank" method="post">
    <%= hidden_field_tag :dojo_name, @dojo.name, :id => 'dojo_name' %>
	<%= select_tag "kata", options_for_select(@katas, @katas[0]) %>
	<%= select_tag "language", options_for_select(@languages, @languages[0]) %>
	
	<input type="submit"
     	class="main button"
     	name="start_selected"
     	id="start_button"
     	value="Start Coding" />
  </form>
  
</div>
