<!DOCTYPE 
  html PUBLIC 
  "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="content-type"  content="text/html;charset=UTF-8" />
    <meta name="description" content="Free Online Coding Dojo" />
    <meta name="keywords" content="Free Online Coding Dojo Kata Deliberate Software Team Practice" />
    <meta name="author" content="Jon Jagger" />
    <title>CyberDojo <%=@tab_title-%></title>  
    
    <link href="/stylesheets/jquery-ui-1.8.16.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/cyber_dojo.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/javascripts/prototype.js" type="text/javascript"></script>
    
    <script src="/javascripts/jquery-1.6.4.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-caret_pos.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-hotkeys.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-tabby.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript">var $j = jQuery.noConflict();</script>
    
    <script src="/javascripts/cyberdojo-bind_hot_keys.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-bind_line_numbers.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-build_diff_filenames.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-file_load_save.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-file_new_rename_delete.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-help.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-post_to.js" type="text/javascript"></script>
    <script src="/javascripts/cyberdojo-run_tests.js" type="text/javascript"></script>    
    <script src="/javascripts/cyberdojo-tabber.js" type="text/javascript"></script>    
    <script type="text/javascript">var $cd = cyberDojo;</script>    
  </head>
  
  <body class="light_tone">
    <table valign="top" align="center">
      <tr>
        <td>
          <div id="cyber_dojo_page"> 
            <%= yield -%>                     
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>


